[2022-07-23 03:29] maxsmythe commented on #2184
Is the excess memory usage only on controller-manager pods? Is audit looking fine?

If so, try setting:

* GOMAXPROCS environment variable to the number of CPU dedicated to the container, per #1907
* Set the `--max-serving-threads` flag value to the number of CPU dedicated to the container:

https://github.com/open-policy-agent/gatekeeper/blob/6f665b46def5755da0e0ddf2c6451641b32c9938/pkg/webhook/p

[2022-07-23 03:55] jdef commented on #1138
This still needs docs, right?

On Fri, Jul 22, 2022, 10:51 PM stale[bot] ***@***.***> wrote:

[2022-07-23 05:44] #2182 closed

[2022-07-23 07:14] srenatus commented on #1501
Done, I suppose.

[2022-07-23 07:14] #1501 closed

[2022-07-23 18:09] tspearconquest commented on #545
Please don't let this be closed. Please provide an update.

[2022-07-23 22:39] sidewinder12s commented on #1748
This isn't stale, the open PR got closed unmerged.

[2022-07-24 16:46] ritazh commented on #1138
yes

[2022-07-25 01:55] inboxamitraj commented on #2184
Yes, the excess memory usage is only on controller-manager pods. ok, let me try your suggestion. Thank you!

[2022-07-25 16:38] kfox1111 commented on #520
wontfix?

[2022-07-25 16:53] sozercan commented on #520
@kfox1111 `wontfix` is the default value for stale bot, i opened a pr to change to `stale` #2189

[2022-07-26 11:10] marcofranssen opened #2192 "Helm install fails with: failed calling webhook "check-ignore-label.gatekeeper.sh""
**What steps did you take and what happened:**

Following these instructions https://open-policy-agent.github.io/gatekeeper/website/docs/install#deploying-via-helm installation of the helm chart fails.

[code]

**What did you expect to happen:**

The Helm chart successfully installs.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Env

[2022-07-26 13:58] stek29 opened #2193 "Getting full results of audit runs without log parsing"
**Describe the solution you'd like**
Currently the only way to reliably obtain all constraint violations from gatekeeper audit is to parse its logs, searching for audit runs.
It would be nice to have a way to generate JSON reports in a file on each audit run, so they can be processed and shipped by a sidecar container, without having to parse Gatekeeper logs.

**Anything else you would like to add

[2022-07-26 16:14] mmirecki commented on #809
@ritazh someday yes, but overloaded with other items atm

[2022-07-26 20:01] jvossler-cogility commented on #2188
@maxsmythe thank you for the information. I am examining the massive file that you reference in the deploy directory in the gatekeeper repo. I am attempting to reconsile that with the number of files I get following running "helm template" from the gatekeeper/charts/gatekeeper/ directory.

When I generate the manifest files with no updates to values.yaml I get 16 different yaml files:

- gatekeepe

[2022-07-26 20:34] sozercan commented on #2192
@marcofranssen This might be a timing issue due to Helm, were you able to reproduce this in every helm install?

[2022-07-26 23:31] ritazh commented on #2117
I think this is a valid concern for adding `version` to match criteria as audit results would be conflicting with validating and mutating webhooks.

[2022-07-27 10:02] marcofranssen commented on #2192
@sozercan yes, I have been trying to install the chart like 10 times and everytime this issue occurs. Till today not managed to install the chart. Not a single kubernetes manifest in the chart is getting applied on my cluster.

[2022-07-27 10:10] marcofranssen opened #2194 "Bump the PodSecurityPolicy to a newer version when deploying on kubernetes > 1.21"
**Describe the solution you'd like**

The current helm chart installation gives following warning on k8s 1.22.

[code]

**Anything else you would like to add:**

It is possible to conditionally take the Kubernetes version to pick the apiVersion conditionally for kubernetes clusters `>1.21`.

**Environment:**

- Gatekeeper version:
- Kubernetes version: `1.22`

[2022-07-27 16:34] sozercan commented on #2194
Known issue, addressed in #2174

[2022-07-27 16:34] #2194 closed

[2022-07-27 21:23] sozercan commented on #1293
Closing with https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata

[2022-07-27 21:23] #1293 closed

[2022-07-27 22:50] #1603 closed

[2022-07-27 23:07] davis-haba opened #2195 "Do not deserialize admission request object more than once"
With the new Expansion feature in https://github.com/open-policy-agent/gatekeeper/pull/2062, we are deserializing the request object in the validation webhook twice:
- once when we expand the object (new code)
- again when we actually match the object ([existing code](https://github.com/open-policy-agent/gatekeeper/blob/841e10000acf3e7fc42e35a0ab1be5dfbe0138ae/pkg/target/matcher.go#L67-L87))

We s

[2022-07-28 00:37] ritazh commented on #1491
In today's community call, we discussed few ideas inspired by this issue:

1. Better Gatekeeper policy distribution: Package constraint templates into OCI artifacts such that we can do versioning, signing, and distribute like any other OCI artifact. One question: if we also bundle constraint, could that be replaced at deployment time, similar to helm install?
2. Make Gatekeeper/constraint framewor

[2022-07-28 08:08] inboxamitraj commented on #2184
This worked! thank you so much @maxsmythe !

[2022-07-28 08:08] #2184 closed

[2022-07-28 11:02] marcofranssen commented on #2192
I found the culprit. Somehow on my old cluster there where some left-overs from an earlier POC. After doing a manual cleanup of the admission webhooks, I am now able to install the chart on this cluster again. Nice thing is all applies are now faster again 😄

[2022-07-28 11:02] #2192 closed

[2022-07-28 13:52] ritazh commented on #2184
@inboxamitraj Just to confirm, did you set both GOMAXPROCS and max-serving-threads?

[2022-07-28 13:52] ctml91 opened #2196 "Mutate restrict policy to specific verb (create, update)"
**Describe the solution you'd like**
The mutation CRDs should have an option to restrict the policy to certain verbs... either create, update, or both.

**Anything else you would like to add:**
As an example, when a mutate policy is active for a pod to assign certain fields in its spec some kubernetes operators actually need to be able to label existing pods. When the GK policy is active its enfor

[2022-07-28 14:18] ctml91 commented on #2196
Tried to work around the issue by using a condition `MustNotExist` for `nodeName` in the pod spec to only apply when it does not exist (ie. pod is not scheduled and therefore is new/create) but apparently the conditions can only be on a prefix of the targeted mutation field.

[2022-07-29 00:00] stek29 commented on #2193
I can work on this issue if you're ok with this idea and are willing to help with reviews/suggestions, btw :)

[2022-07-29 00:03] stek29 opened #2197 "Get audit run duration from metrics"
**Describe the solution you'd like**
We’re running OPA Gatekeeper on a huge cluster, and judging from logs audit run takes about two minutes to complete.

However, the largest bucket in gatekeeper_audit_duration_seconds_bucket is five seconds, so this metric becomes useless for monitoring if audit takes more than 5 seconds to complete (which is the case even for a small dev cluster we have).

Mayb

[2022-07-29 01:28] #1138 closed

[2022-07-29 01:48] inboxamitraj commented on #2184
Hi @ritazh only GOMAXPROCS

[2022-07-29 13:23] stek29 opened #2200 "helm: Set additional fields on helm hook job pods and containers"
**Describe the solution you'd like**
I'd like to have a way to set `resources`, `nodeSelector` or `affinity` and `tolerations` on all of the hook pods created by helm

**Anything else you would like to add:**
I'm creating this issue just for the record, I'll submit PR solving this issue.

**Environment:**
- Gatekeeper version: 3.9.0
- Kubernetes version: irrelevant

[2022-07-29 13:31] stek29 opened #2201 "helm: README.md and values.yaml/templates are out of sync"
**Describe the solution you'd like**
Currently README.md of the helm chart and `values.yaml`/actual templates are out of sync – some options are not documented, some have outdated default value or outdated docs.

It makes using the helm chart difficult, as well as contributing to it.

**Anything else you would like to add:**
I'd love if `values.yaml` were the source of truth, with docs being embed

[2022-07-29 13:36] stek29 opened #2204 "helm: pods created by hook jobs are missing necessary labels"
**Describe the solution you'd like**
Pods created by hook jobs of helm don't have all of the labels gatekeeper has, so it's not possible to use them in a cluster with default deny networkpolicies.

**Environment:**
- Gatekeeper version: 3.9.0

[2022-07-29 14:40] stek29 commented on #2166
Is there a use-case where `gatekeeper_violations` is not enough?
for example, `increase(gatekeeper_violations[1m]) > 0`

[2022-07-29 19:27] stek29 commented on #2197
considering that multiple audits probably should not be running at the same time, and audit interval is most likely going to be in range of minutes, I'd suggest ditching the histogram metrics and replacing it with a gauge which would contain last audit duration.

[2022-07-29 21:37] sozercan commented on #1907
@tomas-stary Can you confirm if this still happens with v3.9.0?

[2022-07-30 01:44] maxsmythe commented on #2193
I like the suggestion! @ritazh @sozercan for input as well.

Another possible mechanism for shipping results could be pubsub, though that would be less atomic.

Rotation might be necessary just to avoid running out of disk if the sidecar dies, but if this defaults to off, there's room for discovering if that's truly necessary. I can see how rotation could lead to missing audit results.

[2022-07-30 02:45] maxsmythe commented on #2196
So updating a pod can lead to mutation attempting to set fields that K8s doesn't allow updating on?

Interesting. I'm guessing this is for newly defined mutators? Given the pod would have already had the fields set if it had been created beneath the mutator?

The match criteria is a first instinct for something like this, but that puts us in new terrain since such a selector is edge-based (i.e. th

[2022-07-30 02:58] maxsmythe commented on #2117
How would they be conflicting?

A user could send an update request for a resource using any version supported by the discovery API. Audit essentially shows what would happen for the different representations a user could send the request as.

Unless you mean for constraints that are merely meant to warn if a user is sending a request to a to-be-deleted version? In that case we'd need to disable r

[2022-07-30 02:59] ctml91 commented on #2196
Yes that's correct it affects existing pods that are still subject to newly defined mutators during updates. I suppose it could be true for any k8s object where a subset of fields become immutable after creation (e.g. statefulsets have some)

[2022-07-30 03:03] maxsmythe commented on #2188
`gatekeeper/charts/gatekeeper/` is the correct directory

As a simple exercise, I'd try `kubectl apply -f deploy/gatekeeper.yaml` to see if that just works (it should on a vanilla K8s cluster). If it does, then someone more well-versed in Helm than I would be better positioned to help. If it doesn't, I'd need more error info to figure out what might be crashing.

[2022-07-30 03:09] maxsmythe commented on #1748
It looks like the original PR also went stale with the author not signing the CLA (we can't merge without signing). Happy to revisit if the original PR author signs the CLA or if a new PR is opened.

[2022-07-30 03:11] maxsmythe commented on #545
@tspearconquest Is your concern outgoing request volume from the API server, or G8r scalability?

If the latter, have the newer releases made this less relevant?

[2022-07-30 03:13] maxsmythe commented on #2201
This sounds like #1163

[2022-07-30 03:14] maxsmythe commented on #1184
Looks like this was added here: https://open-policy-agent.github.io/gatekeeper/website/docs/audit#audit-logs

[2022-07-30 03:14] #1184 closed

[2022-07-30 03:17] maxsmythe commented on #1166
Looks like we allow prefix-based name matching:

https://github.com/open-policy-agent/gatekeeper/blob/20aa6c43970d924946c01943c1e06809a617984c/pkg/mutation/match/match.go#L52-L55

[2022-07-30 03:17] #1166 closed

[2022-07-30 03:18] maxsmythe commented on #1178
It is now possible to match name via glob. Closing as this may be sufficient. Please re-open if not:

https://github.com/open-policy-agent/gatekeeper/blob/20aa6c43970d924946c01943c1e06809a617984c/pkg/mutation/match/match.go#L52-L55

[2022-07-30 03:18] #1178 closed

[2022-07-30 03:20] maxsmythe commented on #1168
This still seems relevant

[2022-07-30 03:23] maxsmythe commented on #694
I think this was fixed in #1951 please re-open if this is still surfacing.

[2022-07-30 03:23] #694 closed

[2022-07-30 03:24] maxsmythe commented on #1501
Yep, thanks for the help on this one!

[2022-07-30 03:24] maxsmythe commented on #1409
This issue is no longer relevant as src.rego has been removed.

[2022-07-30 03:24] #1409 closed

[2022-07-30 03:26] maxsmythe commented on #1363
I think this may have been fixed with auto-setting GOMAXPROCS and the recent performance improvements. Closing. Please re-open if you're still seeing this.

[2022-07-30 03:26] #1363 closed

[2022-07-30 03:28] maxsmythe commented on #1422
The gator client may also help with this:

https://open-policy-agent.github.io/gatekeeper/website/docs/gator

[2022-07-30 03:28] maxsmythe commented on #1422
closing as stale, please re-open if desired.

[2022-07-30 03:28] #1422 closed

[2022-07-30 03:29] tspearconquest commented on #545
I'm afraid it's the former.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Max Smythe ***@***.***>
Sent: Friday, July 29, 2022 10:11:56 PM
To: open-policy-agent/gatekeeper ***@***.***>
Cc: Thomas Spear ***@***.***>; Mention ***@***.***>
Subject: Re: [open-policy-agent/gatekeeper] default webhooks resources * cause tons of unnecessary traffic (#545)

CAUTION

[2022-07-30 03:30] maxsmythe commented on #1484
This is still a going concern

[2022-07-30 03:31] maxsmythe commented on #1496
`gator validate` provides some timing information, LMK if this is helpful

[2022-07-30 03:31] maxsmythe commented on #1496
https://open-policy-agent.github.io/gatekeeper/website/docs/gator

[2022-07-30 03:34] maxsmythe commented on #1547
Looks like the above PR was merged, closing

[2022-07-30 03:34] #1547 closed

[2022-07-30 03:36] maxsmythe commented on #1605
It looks like this is still an issue.

[2022-07-30 03:39] maxsmythe commented on #1635
still salient

[2022-07-30 03:39] maxsmythe commented on #1348
still salient

[2022-07-30 03:42] maxsmythe commented on #2193
#1037 is an older issue that seems related

[2022-07-30 03:46] maxsmythe commented on #545
ack, thanks for the context

[2022-07-30 03:48] maxsmythe commented on #2196
Ack, thanks for confirming!

@ritazh @sozercan any objections to the proposed solution?

[2022-07-30 03:52] maxsmythe commented on #2197
We should definitely increase the scope of the histogram, which was never widened after the prototype. I think buckets may still be useful just so users can see whether audit duration is relatively stable or has a wide distribution.

I like the idea of also having a last-finished time. Currently we export the start time for audits, but that's not super useful if you want to make sure audits have b

[2022-07-30 14:43] #2185 closed

[2022-07-30 14:43] #2186 closed

[2022-07-30 14:47] ritazh commented on #2197
Thanks for raising this! @stek29!

+1
This seems more dynamic.

[2022-07-30 14:55] ritazh commented on #2196
I agree the verb should not be part of the match criteria but can be used as part of the mutation logic, which is similar to validation today, you can check the verb as part of the rego explicitly. Are you thinking it would be a new field in the mutation CRD?

[2022-07-30 15:06] ritazh commented on #2193
+1 on this proposal and I’m interested in a detailed design and how it could fit with the pub sub model we have discussed in the past.

Since this is a dup of #1034, I will close this for now so we can continue the discussion in #1034 as that issue has alot of context and prior considerations from others already.

Feel free to reopen if you feel it’s different.

[2022-07-30 15:15] ritazh commented on #2201
Dup of #1163
Feel free to continue the discussion there.

[2022-07-30 15:15] #2201 closed

[2022-07-30 15:26] ritazh commented on #2188
If you are not allowed to use helm commands, then you should use kubectl apply of https://github.com/open-policy-agent/gatekeeper/blob/master/deploy/gatekeeper.yaml instead since you would not be able to fully leverage the helm cli for chart lifecycle management or deployment lifecycle management.

e.g there are hooks as part of the chart that run pre-install and post-install to update existing re

[2022-07-31 11:48] stek29 commented on #2193
in case anyone stumbles into this issue: it's a dup of #1037, not #1034 :)

[2022-07-31 11:55] stek29 commented on #1037
some suggestions:
1) I'd personally prefer a file on a filesystem over a pubsub at the start, as discussed in #2193 – it's simpler to implement and to use, and at least in my case audit reports are of concern more than webhook controller logs

2) these messages should include `details` field, whatever format they are in

[2022-07-31 11:56] stek29 commented on #2193
I guess pubsub will do for me, but I'm more interested in audit "reports" rather than stream of audit events.

[2022-07-31 11:57] stek29 commented on #2201
sorry for the dup, didn't find that issue for some reason.

[2022-07-31 12:17] stek29 commented on #2197
@maxsmythe I'm not sure that last-finished time is needed – I'm currently using `gatekeeper_audit_duration_seconds_count` to see when audits are completed.

However, there's a problem with last-finished time metric (special metric or derived from `gatekeeper_audit_duration_seconds_count`) – gatekeeper does start new audit on schedule if the last one doesn't finish – so there's no way to know _whic

[2022-07-31 12:19] stek29 commented on #2053
this is still relevant

[2022-07-31 12:23] stek29 commented on #2053
I'm willing to submit a PR on this – but I'm not sure on what should the value of `created` be if some pods report a error and others do not.

I personally think that .created should be true if at least one pod reports success – probably the one which should create a CRD for it, depending on `.operations`

[2022-08-01 08:49] tomas-stary commented on #1907
@sozercan Yes, I can confirm that throttling isn't the problem anymore. However, the gatekeeper-controller-manager has a problem with OOM kill. I think there is some problem with memory leak because the memory consumes 1.5GB and suddenly starts to consume 4GB and growing up. It is a more significant problem than throttling.

[2022-08-01 14:56] Morriz commented on #1366
@jpriebe we introduced a wait for the existence of the resources in [redkubes/otomi-core](https://github.com/redkubes/otomi-core). Check the `charts/gatekeeper-artifacts` folder.

[2022-08-01 21:54] maxsmythe commented on #2196
Yeah, a new field in the mutation CRD sounds right.

@ctml91 one concern I have is that only applying the mutation on "create" would cause the same problem in reverse... do we know if the mutation NOT applying on update will cause the field to be missing, which would cause K8s to infer deletion?

[2022-08-01 23:01] #2147 closed

[2022-08-01 23:57] ctml91 commented on #2196
Yes I guess it could, but then it's probably for the user to decide whether that should be possible depending if the scope is limited to only create or not? Unless it is somehow possible to know which fields of the API being mutated are immutable for updates so GK can ignore them... but I think that is probably not possible.

[2022-08-02 00:23] julianKatz commented on #1779
Still a good idea

[2022-08-02 00:49] maxsmythe commented on #2196
Whether the delete becomes inferred depends on whether the field ownership is set via server-side-apply when mutations are applied:

https://kubernetes.io/docs/reference/using-api/server-side-apply/#introduction

Does the mutated field show up in `metadata.managedFields` for the relevant account?

If so then more design work would be needed since being able to select only-on-create wouldn't solve

[2022-08-02 00:52] maxsmythe commented on #2196
^^^ the above would also conflict with only-on-create, as this is behavior that would need to exist for update, so we may be looking at a different knob.

@ctml91 Would it be possible to paste a copy of the mutated resource and relevant mutator?

[2022-08-02 00:59] ritazh commented on #1811
Related to https://github.com/open-policy-agent/gatekeeper/issues/1163

[2022-08-02 01:16] ritazh commented on #868
Related to https://github.com/open-policy-agent/gatekeeper/issues/1491#issuecomment-1197521605

[2022-08-02 01:17] ritazh commented on #690
xpost https://github.com/open-policy-agent/gatekeeper/issues/1491#issuecomment-1197521605

[2022-08-02 01:22] ritazh commented on #741
This is still not fixed.

[2022-08-02 01:29] maxsmythe commented on #1864
Good for debugging

[2022-08-02 01:31] maxsmythe commented on #2060
This still needs to be integrated. It's a scaling bottleneck for syncing high-throughput kinds

[2022-08-02 01:37] ritazh commented on #1172
@developer-guy We now have https://open-policy-agent.github.io/gatekeeper/website/docs/gator#the-gator-test-subcommand. Can you PTAL and see if this addresses your ask?

[2022-08-02 01:38] maxsmythe commented on #1843
@ritazh @sozercan is there any way to create some kind of roadmap for the `gator` command that could hold these features indefinitely without having these in the issue queue?

[2022-08-02 01:41] maxsmythe commented on #1907
Did you leave `--max-serving-threads` set?

High memory consumption could be the result of multiple running opa instances without GC being able to clean them

[2022-08-02 02:23] maxsmythe commented on #2197
I think that makes a lot of sense. It might also be worth storing a gauge that lists the number of concurrently running audits, since that might help with memory issues.

If possible, a metric that shows the age of the oldest running audit could also be useful

Configurable can make sense, but we probably want a default that at least gives some info.

Setting sub-1-second durations was definitely

[2022-08-02 02:28] maxsmythe commented on #1037
No objections to starting with a file system... I don't think this is incompatible with adding pubsub later.

"details" as in the `violation[{"msg": "some bad thing", "details": {"thing": "bad"}}] {}` signature that constraint templates reports? If so, 100%

[2022-08-02 05:39] tomas-stary commented on #1907
It is possible to set this parameter without the need for a fork of the project. Because I didn't find this option in the helm chart and the arguments can't be edited.

[2022-08-02 05:42] #1706 closed

[2022-08-02 10:23] hitorig opened #2212 "ca certs missing in secret gatekeeper-webhook-server-cert"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
ca certs missing in secret gatekeeper-webhook-server-cert
sometimes deleting gatekeeper pods and let deployment recreate one can generate ca certs and solve this problem, sometimes not
has anyone else ever run into this problem? I wonder why and how to deal with situations like this
<img width="135

[2022-08-02 12:11] #2212 closed

[2022-08-02 12:11] hitorig commented on #2212
I used the wrong kubeconfig

[2022-08-02 14:06] stek29 commented on #1037
@maxsmythe yup, details as in violation details :)

[2022-08-02 17:08] stek29 commented on #1819
this is still an issue

[2022-08-03 03:04] maxsmythe commented on #1907
Not currently directly in the Helm chart. It might be worth adding an "extra args" config value just to give people some flexibility in case there are more flags added in the future.

In the interim, is it possible to add the flag directly to controller-manager by `kubectl edit-ing` the deployment?

[2022-08-03 13:54] tomas-stary commented on #1907
Can be edited via kubectl edit. I tried several variants:
1) I set max-serving-threads to 5 and resource limit to 5
Result: OOM kill was occurring
2) I set max-serving-threads to 3 and resource limit to 5
Result: no OOM kill and minimal throttling
3) I set max-serving-threads to 3 and resource limit to 3
Result: there is no OOM kill and there is throttling to around 300ms
3) I set max-serving-thre

[2022-08-03 14:04] #2204 closed

[2022-08-03 16:11] sozercan commented on #1500
Closing this issue as rate limit doesn't apply to `openpolicyagent` repository in Docker Hub.

[2022-08-03 16:11] #1500 closed

[2022-08-03 16:30] ritazh commented on #1756
As discussed on 8/3/2022 community call, current implementation already addresses this issue.

[2022-08-03 16:30] #1756 closed

[2022-08-03 16:33] ritazh commented on #1827
As discussed on 8/3/3022 community call, this has been addressed by https://github.com/open-policy-agent/frameworks/pull/217 and is part of GK v3.9.0.

[2022-08-03 16:33] #1827 closed

[2022-08-03 16:36] xNok opened #2214 "Support define rego in Constraint template via configMap"
**Describe the solution you'd like**

I think using configMap to define configuration would make a lot of sense. The first I would implement in defining targets in `ConstraintTemplate`. This would allow offering an integration solution with Kustomize, flux, or helm in a way that feels more Kubernetes native that uses external tools to render the template.

For instance, in ConstraintTemplate

[cod

[2022-08-03 16:43] ritazh commented on #2003
As discussed on 8/3/3022 community call, `opa test` has a `--coverage` flag to report coverage done by opa test.

[2022-08-03 16:47] ritazh commented on #1907
As discussed on 8/3/3022 community call, we need to see if `max-serving-threads` can be derived based on the GOMAXPROCS value as default, while we expose this via helm chart and docs to allow manual update.

[2022-08-03 16:49] ritazh opened #2215 "Expose max-serving-threads via helm chart and docs to allow manual update"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-08-03 16:50] sozercan commented on #2215
Related #1907

[2022-08-03 16:54] ritazh commented on #1843
As discussed on 8/3/3022 community call, this is a dup of #1819 as the request should include the previous state of the object.

[2022-08-03 16:54] #1843 closed

[2022-08-03 17:02] ritazh commented on #1172
As discussed on 8/3/3022 community call, gator currently can verify and test, but it cannot apply.

One thought is if `kubectl apply` can wait for constraint templates and constraints to be applied, before deploying the rest of resources that need to be validated. This is a missing experience for Kubernetes at large beyond the scope of this project.

[2022-08-03 20:46] ctml91 commented on #2196
[code]

You can reproduce by applying the above mutator, and then trying to label an existing pod (which works otherwise).
`kubectl label pod <pod> test=true`

We also encountered some issues with Kubernetes garbage collection, I guess because it needs to update the pod in some cases. This results in the pod being appearing to be stuck in a terminating state indefinitely even though Kubernetes suc

[2022-08-04 00:22] maxsmythe commented on #1907
#2216 should help with the Helm chart bit, though it sounds like the default value is higher than ideal for your cluster.

[2022-08-04 01:01] maxsmythe commented on #2196
WRT deletion... interesting. I wonder if that has something to do with the use of foreground deletion.

It doesn't look like mutated fields show up in the `kubectl.kubernetes.io/last-applied-configuration` (client-side-apply), which means client-side-apply has no issues with fields added outside the original intent, however I used the following mutator and resource:

[code]

[code]

with the "muta

[2022-08-04 05:53] cg-lkusnadi commented on #2151
I'm using EKS, upgrading from 1.21 to 1.22.
I think this is the same problem. I have an ingress mutation hook that automatically inject annotations to ingress objects.
I got this error:
[code]

I'm using gatekeeper helm version 3.9.0.
When checking the CRD from gatekeeper, I notice there are v1beta1 section. Wondering if this has anything to do with the error above.

I checked the api-resources in

[2022-08-04 21:19] DanTulovsky opened #2218 "Mutation for kind: HorizontalPodAutoscaler"
**What steps did you take and what happened:**
I don't know if this is a bug or WAI. Should it be possible to Mutate a `HorizontalPodAutoscaler`? I am trying to apply this:

[code]

**What did you expect to happen:**

Nothing happens.  I see no errors in the logs (even with DEBUG).

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

This is

[2022-08-05 01:04] #2053 closed

[2022-08-05 04:14] maxsmythe commented on #2214
Thanks for the idea!

TBH, the complexity might outweigh the value here. The value would be that it's possible to define Rego separately from templates and combine on cluster, which may feel more natural to some. There are some operational and functional drawbacks:

* It may be harder to ship templates out a-la the constraint template library, since there will be two objects to ship. Because the s

[2022-08-05 04:16] maxsmythe commented on #2218
[code]

should be:

  applyTo:
    - groups: ["autoscaling"]
      kinds: ["HorizontalPodAutoscaler"]
      versions: ["v2beta2", "v2beta1"]

[2022-08-05 13:19] DanTulovsky commented on #2218
Thank you, that was it.

[2022-08-05 13:19] #2218 closed

[2022-08-05 13:32] frankh opened #2219 "[gator verify] support specifying "oldObject" in test cases"
**Describe the solution you'd like**
You should be able to specify `oldObject` in test cases, exactly like you specify `object`

I have some policies that have violations depending on changes from the oldObject and these are untestable in gator

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version: 3.9.0

[2022-08-05 14:07] #2200 closed

[2022-08-05 23:36] maxsmythe commented on #2219
This would be fixed by #1819, though we should make it easy to specify/reuse object oldObject across test cases if we can.

[2022-08-08 13:08] seh commented on #2087
Would the Gatekeeper project be amenable to a patch implementing this proposed capability, or are you collectively opposed to the idea?

[2022-08-09 02:03] #1907 closed

[2022-08-09 20:11] francRang opened #2221 "helm-chart: add support for image digest"
**Describe the solution you'd like**
The Helm chart should support image digest when passed as part of the tag or as a release.
This would mean that any occurrence of `image.tag` and `image.release` should check if the tag passed is an image digest.

**Anything else you would like to add:**
For example, this line https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/values.

[2022-08-10 03:51] jdef commented on #2097
Not stale

On Tue, Aug 9, 2022, 3:23 PM stale[bot] ***@***.***> wrote:

[2022-08-10 04:04] sozercan commented on #2215
fixed in #2216

[2022-08-10 04:04] #2215 closed

[2022-08-10 04:07] #2002 closed

[2022-08-10 04:09] sozercan commented on #2082
@svalleru closing this issue. please feel free to re-open if you are still seeing this issue in latest version of Gatekeeper.

[2022-08-10 04:09] #2082 closed

[2022-08-10 04:11] sozercan commented on #1918
fixed in #1944

[2022-08-10 04:11] #1918 closed

[2022-08-10 04:14] sozercan commented on #1910
https://open-policy-agent.github.io/gatekeeper/website/docs/help/#developer-certification-of-origin-dco

[2022-08-10 04:14] #1910 closed

[2022-08-10 04:17] sozercan commented on #1678
https://github.com/open-policy-agent/gatekeeper-external-data-provider provides this functionality

[2022-08-10 04:17] #1678 closed

[2022-08-10 12:07] majewsky commented on #1512
Please unstale.

[2022-08-10 15:05] 0x0ranm opened #2223 "Gatekeeper policy to block creation of validationwebhook resources"
Hey,
I'm trying to create rule to block creation of ValidationWebHook resources.
I created ConstraintTemplate to block new resource by the "kind" property.
When I try to block "Pod" it works but when I try to block "ValidationWebHookConfiguration" it seems that it doesn't go through the gatekeeper pipeline.

[2022-08-10 15:32] sozercan commented on #2223
please see https://github.com/open-policy-agent/gatekeeper/issues/1631#issuecomment-951481805

[2022-08-10 15:32] #2223 closed

[2022-08-10 17:19] #2010 closed

[2022-08-10 21:58] ritazh commented on #1655
Closing this since we have not seen any interests.

[2022-08-10 21:58] #1655 closed

[2022-08-10 23:35] maxsmythe opened #2225 "Profiling and Debugging Features"
**Describe the solution you'd like**
The Gator command should be extended to make it easier to profile, debug, write, and trace constraint templates. Including the ability to see the expected shape of resources under test and data.inventory.+

In addition, Gatekeeper should have tools that allow users to debug performance issues on live clusters (e.g. enabling reporting of execution times of const

[2022-08-10 23:35] maxsmythe commented on #1365
Distilling this to #2225 and closing

[2022-08-10 23:35] #1365 closed

[2022-08-12 20:26] jwineinger opened #2226 "Support mutating ConfigMaps, or document how to do it if already supported"
I have a need to inject a value into a configmap (which is mounted as a file into pods) as it is created and I'm attempting to use gatekeeper mutation to do it. However, none of the examples for mutation show how to do this, or if it is even supported. Here's a sample configmap showing the key I'd like to mutate. I attempted it myself a few times, but only got errors.
[code]

**Environment:**

- G

[2022-08-13 00:24] maxsmythe commented on #2226
Generally speaking, ConfigMaps can be mutated, but what's happening here is that you are trying to mutate the inside of an opaque string.

For the cited resource:

[code]

The `|` in `config.yaml: |` signifies that everything after it is opaque text until the YAML is de-indented, as such, there is no YAML to traverse/inspect.

Because these are opaque strings and could have any arbitrary format, I

[2022-08-13 00:25] maxsmythe commented on #2226
It should be possible to replace the opaque text in its entirety using current behaviors.

[2022-08-16 01:03] maxsmythe commented on #1512
@majewsky What are you looking to do?

If this is about manually adding builtins, this can be done by forking Gatekeeper/the constraint framework.

Here is a builtin we've written for external data:

https://github.com/open-policy-agent/frameworks/blob/master/constraint/pkg/client/drivers/local/builtin.go

And the registering of the builtin:

https://github.com/open-policy-agent/frameworks/blob/00

[2022-08-16 01:34] maxsmythe commented on #2196
What do you think about something that says: "on CREATE, use the provided value, on UPDATE use the value from oldObject"?

[2022-08-16 02:45] ctml91 commented on #2196
Sounds reasonable, as long as it's not an issue that the target field & value in oldObject may not exist. Rather than configure the on update value, would it just be done automatically and toggled via a boolean that disables the mutation for an update. Example `Assign.spec.parameters.assign.onUpdate` = `false` enables the behaviour you described

[2022-08-16 09:25] inboxamitraj opened #2228 "EKS Upgrade fails when Gatekeeper is installed"
**What steps did you take and what happened:**
I am trying to upgrade AWS EKS cluster from EKS 1.20 to 1.21. I found that when Gatekeeper is running, EKS nodegroup upgrade fails. i.e. it is not possible to upgrade worker nodes, new nodes fail to join the cluster.

**What did you expect to happen:**
EKS Cluster upgrade and nodegroup/worker groups are upgraded.

**Anything else you would like to add

[2022-08-17 00:51] maxsmythe commented on #2196
In the case of a missing field in oldObject, I'd expect the mutator to remove the field from current object, if it exists.

I haven't thought about the API design yet, but something similar to that. The specifics of how it'd be expressed (boolean vs. enum, should the field live next to value, etc.), will probably come from concerns like level of self-documenting, room left to add new functionality

[2022-08-17 02:52] #2081 closed

[2022-08-17 02:52] #2086 closed

[2022-08-17 04:48] ctrought opened #2230 "Admission Events InvolvedObject Namespace"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Enabled admission events and observed violations that generate events.

1. The events are generated in the gatekeeper namespace.
2. The InvolvedObject namespace is also incorrectly set as `gatekeeper-system`

https://open-policy-agent.github.io/gatekeeper/website/docs/customize-startup/#alpha-emit

[2022-08-17 19:16] ctrought commented on #1583
Another use case for more sophisticated conditions on mutation. I want to inject `spec.ttlSecondsAfterFinished` in Jobs if the job is not owned by a CronJob (ie. let that controller handle the lifecycle). To do that I need to be able to specify a condition based on the ownerReferences in the metadata of the object. Right now I think I can only do a path check on the `ttlSecondsAfterFinished` field

[2022-08-17 19:23] #2221 closed

[2022-08-17 19:24] francRang commented on #2221
Using the release/tag as follows:
`{{ .Values.image.repository }}:{{ .Values.image.release }}@{{ .Values.image.digest }}`
Will suffice.

[2022-08-17 21:40] jbehrends commented on #2221
There is still an issue here I believe...  For the gatekeeper-crds image we are just re-using the image release value from the main gatekeeper image.

Example here:
https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/templates/upgrade-crds-hook.yaml#L92
[code]

In this case "image.crdRepository" would need it's OWN image.crd.Repository.release value to be able to set a di

[2022-08-18 14:20] abhargava7 opened #2232 "Getting constraint violation for eks.privileged PodSecurityPolicy"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
For two Gatekeeper Constraints :

- psp-host-namespace
- psp-host-network-ports

Getting Below violation

 For psp-host-namespace: Sharing the host namespace is not allowed: eks.privileged
For psp-host-network-ports: The specified hostNetwork and hostPort are not allowed, pod: eks.privileged. Allow

[2022-08-18 14:23] abhargava7 commented on #2232
I also tried using privileged spec for gatekeeper-admin psp but HPA still having same issue in scaling up pods

https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/policy/privileged-psp.yamlhttps://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/policy/privileged-psp.yaml

[2022-08-22 11:33] sumanth-sure opened #2239 "Gatekeeper audit flags PodSecurityPolicy(PSP) Resources when matching scope is set to "Namespaced""
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We migrated to Gatekeeper Version from 3.1->3.9
As Gatekeeper Constraint Policies should apply on containers/Images As Stated Below. We have gatekeeper Running in AWS EKS Cluster:

[code]
Our Setup:
We have a default PSP(PodSecurityPolicy) provided by AWS for Eks Cluster:
[link](https://docs.aws.am

[2022-08-22 11:41] majewsky commented on #1512
My usecase is parsing Helm release objects for validation purposes. A Helm release is stored in a data field of a Secret object, as base64-encoded gzipped YAML. Gatekeeper policies can decode YAML and Base64, but there is no `gzip.decode()`. We are working around this by having a stateless microservice for parsing Helm manifests, which the Gatekeeper policies interact with using `http.send()`, but

[2022-08-22 12:50] sumanth-sure commented on #2239
As the above resource eks.privileaged PSP doesn't have namespace PSP is at cluster level definition,: Its difficult to exclude it from gatekeeper scanning.
Any solution to exclude gatekeeper from scanning the above resource.

[2022-08-22 15:57] ritazh commented on #2239
Can you share your constraint resource?
Also PTAL at this [psp host namespace constraint](https://github.com/open-policy-agent/gatekeeper-library/blob/master/library/pod-security-policy/host-namespaces/samples/psp-host-namespace/constraint.yaml#L6-L9). Note the match kind is set and scoped to `pod` such that the policy would only be scanning and validating against `pod` resources. For more details

[2022-08-23 03:08] maxsmythe commented on #1512
Gotcha, and what would you be looking for in a solution? Is it that currently it's too hard to add a new function, or is it the need to recompile at all that's a blocker?

[2022-08-23 09:33] 2muchgit opened #2241 "Regex Namespace selection in Mutation AssignMetadata with value retrived from an API"
I would like to dynamically mutate namespaces based on regex to assign a Value retrieved from an API (specifically Rancher ProjectIDs)
- Gatekeeper version: 3.9
- Kubernetes version: 1.20:

[2022-08-23 10:54] sumanth-sure commented on #2239
PSP Constraint In Our Cluster. I assume Because of scope Namespaced it was picked up. But the above PSP Resource doesn't have any namespace it is configured at cluster level definition. Still it was Picked Up . Don't know Why :thinking:
[code]
@ritazh  Thank You as per your suggestion for now we have moved the match to POD Selector.
[code]

[2022-08-23 21:02] ritazh commented on #2239
@sumanth-sure Glad it's working for you now.

Regarding why `scope: "Namespaced"` still flags PSP in audit, it seems like a bug in audit to me.

[2022-08-23 23:27] #2097 closed

[2022-08-24 00:53] maxsmythe commented on #2241
Can you give us an example of this? I'm not sure what value the regex is extracting, what the inputs/outputs would be, etc.

[2022-08-24 16:43] jvossler-cogility commented on #2188
Rita,

Thanks for the information. It was helpful.

--
John Vossler
***@***.***
303.887.5413

. . . . . . . . . . . . . . . . . . . . .
John Vossler
Sr. DevOps
[cid:cog-logo-coral-l_c0edbf7f-fee2-4261-9d58-2aef02120af5.jpg]
<http://cogility.com/>

________________________________
COGILITY SOFTWARE CORPORATION LEGAL DISCLAIMER: The information in this email is confidential and is intended solely fo

[2022-08-24 18:18] #2188 closed

[2022-08-24 22:05] ritazh commented on #2239
Fixed by https://github.com/open-policy-agent/gatekeeper/pull/2243

[2022-08-24 22:05] #2239 closed

[2022-08-25 08:07] lkag2000 opened #2245 "v3.10.0 official release date?"
Hi,
When can the official/final release of v 3.10.0 be expected?

thanks
LKA

[2022-08-26 17:22] ethanrange commented on #520
I have added annotations to the webhooks in #2231, and have just added support for changing the certificate used in #2249. Hopefully together these should allow configuration of `cert-manager`.

[2022-08-30 23:29] seh commented on #2087
Well, that was insulting.

[2022-08-31 07:30] maxsmythe commented on #2087
Sorry, this slipped off my radar, also your reply should have prevented the bug from auto-closing. @sozercan any idea how to check for activity before the bug is closed? Or maybe it's that we need to re-send a warning?

Personally, I'm okay with it as long as it's clear it will never be more than a strict string match. The one risk here would be if mutators gained the ability to mutate annotations

[2022-08-31 07:31] maxsmythe commented on #1794
max-bot reopening @sozercan what should users do if they want to re-open a bug?

[2022-09-01 04:17] ritazh commented on #2087
@seh would adding support to select target objects by annotations with strict string match address your use case?

[2022-09-01 12:40] seh commented on #2087
Yes, that would satisfy my needs. What other options would we be eschewing there? Matching by regular expression?

[2022-09-01 23:26] maxsmythe commented on #2087
Or some kind of structure-aware matching -- a lot of annotations are serialized JSON

[2022-09-02 06:02] #520 closed

[2022-09-05 14:12] chiranjeevivarma opened #2252 "Auto label namespace with mutation"
Hi,

I want to know how to add a label automatically to the namespace when it gets created. Is this feature already exist?
I have seen the document which helps to add the label to the pod. https://open-policy-agent.github.io/gatekeeper/website/docs/mutation/

[2022-09-07 01:33] maxsmythe commented on #2252
AssignMetadata should work with namespaces as well. Did you try adapting the example and it's not working?

[2022-09-07 04:03] chiranjeevivarma commented on #2252
[code]

[2022-09-07 08:05] inboxamitraj opened #2256 "Gatekeeper high response time after adding --max-serving-threads and GOMAXPROCS"
**What steps did you take and what happened:**
Gatekeeper was consuming a lot of memory(around 20GB during peak hours) and Gatekeeer controller manager pods were OOMing. to fix this issue, we applied the fix mentioned here https://github.com/open-policy-agent/gatekeeper/issues/1907
- added --max-serving-threads flag to max cpu count(3 in our case)
- added GOMAXPROCS to max cpu(3 in our case).

Thi

[2022-09-07 16:50] phenixblue commented on #1078
I have a similar situation to the OP here. I'd like to only include namespaces that have a specific label (`gatekeeper/enabled=true`). This is in an environment where platform users would not be allowed to manipulate namespace resources/labels.

I know this doesn't solve for all the scenarios mentioned above in the comments/design doc, but would you be open to a contribution that modifies the Helm

[2022-09-08 00:01] ritazh commented on #2252
You need to add the match criteria as described here: https://open-policy-agent.github.io/gatekeeper/website/docs/mutation#extent-of-changes

[code]

This adds the label to my namespace:

[code]

[2022-09-08 02:57] sozercan commented on #2245
Gatekeeper release cadence is documented in https://github.com/open-policy-agent/gatekeeper/blob/abe7fe84c5971332d28ac0b2641e3d97f47eab37/docs/Release_Management.md

It is ~2 months for stable releases, so it should be around Sept 15.

[2022-09-08 02:57] #2245 closed

[2022-09-08 03:15] maxsmythe commented on #1078
I'm open to a PR like the above (though of course the specifics pending). Some considerations:

* We should warn users about namespace label selectors and security just in case they do allow untrusted users to create namespaces
* I'd be looking to make sure the user story around the "exclusion" label isn't made brittle, since that is also done via a namespaceSelector

@ritazh @sozercan thoughts?

[2022-09-08 03:18] maxsmythe commented on #2256
What kind of QPS is G8r getting?

My first instincts are:

* The footprints need to be larger (more pods and/or larger pods)
* Further tuning might be able to squeeze more out of the same footprint by raising max-serving-threads and GOMAXPROCS over the cpu limit. I'd try raising max-serving-threads first.

Do you have any constraints that use blocking calls (e.g. anything that uses `http.send()` o

[2022-09-08 06:34] arno-snop commented on #1819
Hi,

I'm trying to test a rego template, using gator, that fails because of this condition:
`input.review.operation == "CREATE"`

In order to be able to test it i would have to specify the admission review operation as an input, which is not possible right now.
I know your are already working on this subject but I just want to share this use case.

[2022-09-08 19:40] punnarpulusu commented on #2142
This is not just related to on `Kubernetes 1.23 and 1.24` this is happening on all kuberenetes ( AWS EKS ) version 1.21

[2022-09-09 00:17] ritazh commented on #2142
@punnarpulusu Can you share the exact error in the log and kubernetes and gatekeeper version?

[2022-09-09 20:01] punnarpulusu commented on #2142
@ritazh  Here is the error log ... redacted some information for security purpose.

gatekeeper version is `3.8.1`

[code]

[2022-09-12 11:21] ledroide commented on #1630
I have the same OOMKilled issue with both deployments gatekeeper-audit and gatekeeper-controller-manager.

Here is my workaround using a kustomization.yaml :
[code]

[2022-09-13 09:09] mattburgess opened #2261 "Webhook server certs being rotated unexpectedly"
**What steps did you take and what happened:**
We recently upgraded from Gatekeeper-3.7.1 to Gatekeeper-3.9.0.

Our gatekeeper webhook server certs are signed by the cluster's signing CA, and as such we create the `gatekeeper-server-cert` secret ourselves and pass `--disable-cert-rotation` to the controller manager. Since the upgrade to 3.9.0 we've seen the secret updated by the gatekeeper control

[2022-09-13 15:34] congiv-VG opened #2262 "Make logLevel independently configurable for the auditor vs the controller-manager in Gatekeeper helm chart"
**Describe the solution you'd like**
Currently it looks like there is a single helm value, `.Values.logLevel`, that drives how `--log-level` is set for both the [audit](https://github.com/open-policy-agent/gatekeeper/blob/v3.9.0/charts/gatekeeper/templates/gatekeeper-audit-deployment.yaml#L52) and [controller-manager](https://github.com/open-policy-agent/gatekeeper/blob/v3.9.0/charts/gatekeeper/te

[2022-09-13 22:44] maxsmythe commented on #2261
This change in #2121 makes it so that all pods (regardless of whether they serve a webhook) participate in certificate rotation:

[code]

adding `--disable-cert-rotation` to the audit pod (and whatever other gatekeeper pods you are running) should mitigate the issue.

[2022-09-13 22:49] maxsmythe commented on #2161
+1, this is a good use case to track

[2022-09-13 23:38] #2089 closed

[2022-09-13 23:38] #2111 closed

[2022-09-13 23:38] #1863 closed

[2022-09-13 23:38] #2102 closed

[2022-09-13 23:38] #2123 closed

[2022-09-13 23:38] #2125 closed

[2022-09-13 23:57] maxsmythe commented on #2119
@ritazh I think we still want this?

[2022-09-14 02:36] ritazh commented on #2119
yes!

[2022-09-14 06:56] mattburgess commented on #2261
@maxsmythe thanks so much! We apply some rather crude kustomize patches to run both the controller manager and audit controller with additional flags and somehow missed the new additions, crucially `--disable-cert-rotation`, doh! I'll close this off a little later on, just to confirm things behave as expected once we actually configure things correctly!

[2022-09-14 07:03] ritazh commented on #2262
+1
Feel free to open a PR is you like. You can take a look at: https://open-policy-agent.github.io/gatekeeper/website/docs//gatekeeper/website/docs/help/

[2022-09-14 07:15] ritazh commented on #2261
Should we also check if the external data flag is enabled to ensure it’s backward compatible?

[2022-09-15 08:34] mattburgess commented on #2261
I'm happy for this to be closed off, unless you want to address that potential backward incompatibility with the external data flag interaction under this? Thanks again for the really quick support!

[2022-09-15 13:50] ritazh commented on #1774
xref https://github.com/open-policy-agent/gatekeeper/issues/1583

[2022-09-15 14:06] ritazh commented on #2261
I will open a PR to address this in 3.9.

[2022-09-15 19:14] csullivanupgrade opened #2266 "Disable audit for constraint"
**Describe the solution you'd like**

I would like a flag on constraints so that I can control whether audit checks a constraint or not. This would prevent needless consumption of resources by audit.

**Anything else you would like to add:**

My use case is primarily centred on DELETE operations. I have two constraint templates/constraints that are only checking whether the operation is a DELETE o

[2022-09-15 23:52] ritazh commented on #2266
Sounds like we need an explicit `audit` enforcementAction. Today audit is always enabled by default for each constraint. To ensure backward compatibility, do we need to make it opt-out instead of opt-in like all the other enforcement actions?

[2022-09-15 23:53] ritazh commented on #2117
Yes this was my concern. Showing a deprecated version as an audit violation could create confusion since that version may not actually be running in the cluster. However, not sure if it's intuitive enough such that the policy deployer remembers to opt this constraint out of audit. We also don't have a way to opt-out of audit for a constraint today.

I see the stale bot has closed the PR. @bhops ar

[2022-09-16 04:33] boatmisser opened #2271 "Default helm values violate `restricted` security level due to case."
**What steps did you take and what happened:**
Apply `pod-security.kubernetes.io/warn: restricted` to `gatekeeper-system` and deploy.

Failed `PodSecurity` check:
`Warning: would violate PodSecurity "restricted:latest": unrestricted capabilities (container "manager" must set securityContext.capabilities.drop=["ALL"])`

The same for `gatekeeper-audit`.

**What did you expect to happen:**
Successful

[2022-09-16 14:06] ritazh commented on #2271
Thanks for reporting the issue @boatmisser! Would you like to open a PR for this? If so, PTAL: https://open-policy-agent.github.io/gatekeeper/website/docs/help#contributing-to-helm-chart

[2022-09-16 22:28] #2060 closed

[2022-09-18 06:29] ritazh commented on #2181
still relevant

[2022-09-18 21:47] #1215 closed

[2022-09-18 21:47] #2150 closed

[2022-09-18 22:38] mes5k commented on #1887
Would be nice to see this resolved.

[2022-09-19 07:51] BjoernPetersen commented on #2151
Seems like it's still trying to call the deprecated API after the upgrade to 1.22, which leads to a "migrate to valid API versions" warning by GKE. My guess is that there's actually something to fix here?

[2022-09-20 01:02] #2271 closed

[2022-09-20 06:23] #2154 closed

[2022-09-21 00:18] #1672 closed

[2022-09-21 05:06] inboxamitraj commented on #2256
Hi @maxsmythe,
Thank you for your reply.
Sorry, I am not sure how to get QPS for G8r. I tried to find various prometheus metrics but unfortunately I don't find QPS for G8r.
- Yes, the footprints is large(we run one cron job that creates around 30 pods) when we see high response time from G8r.
- I tried to increase max-serving-threads to 7, this did not help.
- I tried to increase GOMAXPROCS to 7,

[2022-09-21 10:35] a-buck opened #2278 "Gatekeeper installation failing sometimes when installing with configsync"
**What steps did you take and what happened:**

Installation of gatekeeper using [config sync](https://cloud.google.com/anthos-config-management/docs/config-sync-overview) sometimes (not every time) failing.

Log entries:

[code]

[code]

The namespace is unable to be created due to the gatekeeper-webhook-service not being available. And the gatekeeper-webhook-service is unable to be created due t

[2022-09-21 14:25] ritazh commented on #1646
@liggitt from sig api machinery, do we have any requirement for crds ending with “List”? Should we support these types names or prevent folks from doing this?

[2022-09-21 17:14] sharkannon opened #2279 "Gatekeeper on GKE performance issues"
**What steps did you take and what happened:**
I'm going to try to be clear, but the problem is I don't know what is going on.

I'm attempting to get gatekeeper started for the first time.  I'm installing it using helm on a GKE Cluster that we use for testing.  What I'm noticing is that after installing gatekeeper, commands to the cluster start going from 1-2s to 10-20s.  I've checked resources an

[2022-09-22 05:47] creeea opened #2280 "Multiple SyncOnly Objects leads to: "Objects listed" error:<nil>"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hi there,
I get an error with the latest version that I hadn't before with the following config:

[code]
Probably during the caching job the pod throws the following error:

`{"level":"info","ts":1663767588.6149743,"msg":"Trace[749897711]: \"Reflector ListAndWatch\" name:github.com/open-policy-age

[2022-09-22 21:52] maxsmythe commented on #1646
It looks like this particular error is coming from controller-runtime's client stripping the `List` suffix, causing it to request a resource mapping for a kind that doesn't exist:

https://github.com/kubernetes-sigs/controller-runtime/blob/c83076e9f79258f23bcb200cf2391cf4ade939cf/pkg/client/unstructured_client.go#L205

[2022-09-22 21:59] maxsmythe commented on #1646
I think the larger question is: is it acceptable to have kinds that end in `List` that aren't of generic type `ListMeta`? Depending on the answer, I think we take different paths here.

WRT the user's initial error (prior to using `K8sDenyHostPathsList`), I can't say for sure, but I suspect this may have been a collision with another CRD that had kind `K8sDenyHostPath`, since there is no other rea

[2022-09-22 22:28] maxsmythe commented on #1909
#2062 is merged

[2022-09-22 22:40] maxsmythe commented on #2278
Since we have a fail-closed webhook on namespaces, the `gatekeeper-system` namespace must be available before the `ValidatingWebhookConfiguration` is created, otherwise this bootstrapping issue is encountered.

Unfortunately, there is nothing Gatekeeper can do about this requirement without loosening its security posture, as the fail-closed webhook is there to make sure permission to create namesp

[2022-09-22 22:40] #2278 closed

[2022-09-22 22:47] maxsmythe commented on #2278
missed the part about the `depends-on` annotation... it sounds like that may be broken in Config Sync?

[2022-09-22 23:10] maxsmythe commented on #2278
The `kubernetes.io/metadata.name` workaround also works, so long as you can trust the value of the label, and I think this label is set by K8s?

[2022-09-22 23:24] maxsmythe commented on #2256
The QPS would be inferred by analyzing the `gatekeeper_validation_request_count` metric (calculating delta and dividing by the sampling interval). It looks like you have a dashboard system, does it allow graphing those kinds of expressions?

Here is a stack overflow answer that seems on-point:

https://stackoverflow.com/questions/64043624/how-prometheus-statistics-qps-in-multi-process

Knowing thi

[2022-09-23 01:10] maxsmythe commented on #2151
I think this is still from that version showing up in K8s's discovery endpoint.

If the resource is actually removed from K8s, it should also no longer show up in the discovery API, which means audit would automatically stop scraping it.

IMO if a version is still readable/writable by K8s, we probably want to be scraping it regardless of warnings in order to avoid under-enforcement.

[2022-09-23 01:12] maxsmythe commented on #2151
Would be interesting to see if an attempted write/read from K8s of a v1beta1 ingress @k8s v1.22 would still work, I'm assuming it does based on getting warnings rather than errors.

[2022-09-23 01:24] maxsmythe commented on #2279
It looks like there may be some slowness calling the webhook.

Assuming you have no constraints/templates the following seems most likely:

It's also possible that there is a firewall issue, in which case the webhook would timeout and fail open after 3 seconds. Private GKE clusters have this issue, here is a doc for how to fix that:

https://open-policy-agent.github.io/gatekeeper/website/docs/vend

[2022-09-23 13:58] rsp54 opened #2282 "TLS based authentication for OPA Gatekeeper and Deny users on delete operations of the OPA policies"
**Describe the solution you'd like**
TLS based authentication for OPA Gatekeeper and Deny users on delete operations of the OPA policies

**Anything else you would like to add:**
can you please provide the steps if some one implemented:1). TLS based authentication for OPA Gatekeeper (using self signed or ca signed)
2). Deny users on delete operations of the OPA policies
3). How one and two can be

[2022-09-23 15:50] JoelSpeed commented on #1646
That code is in a `List` call, so I would expect whatever calls the `List` should pass an `UnstructuredList` in that has the GVK of the CRDs list type, so, for this example `K8sDenyHostPathsListList`. The trim would then only trim the final `List` and the code would work.

Have we worked out where that list call is being made and where the unstructured list is constructed? Is it possible that the

[2022-09-23 16:27] sharkannon commented on #2279
@maxsmythe thanks.. I feel stupid.  I read that doc before and thought "Oh, I did this for another service a little bit ago, so don't need to do that"... but well.. that was port 8080 not 8443 :(

Thanks, I'll keep an eye on things, but I did a fresh install again and the cluster is responsive (without those options disabled)

[2022-09-23 16:27] #2279 closed

[2022-09-23 16:30] nerbysw opened #2283 "High validation request duration when replicating data"
**What steps did you take and what happened:**

We are adding a constraint that makes use of replicated data. We however observed that when we sync a large volume of resources to gatekeeper the webhook latency skyrockets. We see a significant increase in cpu usage and memory consumption in controller-manager as well.

To illustrate the issue:

Before step 1: Gatekeeper is running with no synconly

[2022-09-23 16:37] ritazh commented on #2282
By default, Gatekeeper uses [open-policy-agent/cert-controller](https://github.com/open-policy-agent/cert-controller) to handle the webhook's certificate rotation and generation. If you want to use a third-party solution, you may disable the cert-controller feature using --disable-cert-rotation. You can refer to this doc for external data provider https://open-policy-agent.github.io/gatekeeper/web

[2022-09-23 16:41] rsp54 commented on #2282
Thank you for the response, but how to restrict the kubernetes users not to delete policiies using curl with DELETE method, for e.g if I have any privileged pod running and I can exec into the pod and using curl with localhost port, I can delete OPA policies.

if there is sample rego not to allow certain kuberenets roles (user facing) to not to perform PUT, DELETE operations on OPA policies.

Than

[2022-09-23 17:16] sylus commented on #1822
I think this got added with this commit?

https://github.com/open-policy-agent/gatekeeper/pull/2202

[2022-09-23 17:59] ctrought commented on #2266
On a related note, can a constraint only be checked during audit? An enforcement action of warn or deny will check in real-time which we may not want to reduce load/response time but having it run in the background may still be desirable to have warnings bubble up. Dryrun also still processes the constraint in real-time but takes no action.

For example, what if my constraint requires resources to

[2022-09-23 18:12] ctrought commented on #1134
+1 for this. I also have some additional thoughts on the Mutation and Constraint apis on the Contraints. The mutation apis are standard and configured entirely in basic yaml, where as Constraints are obviously using rego. It's great, but it's not consistent experience, I lack the controls I need to Mutate objects and building every constraint in rego seems overkill. It would be ideal to have some

[2022-09-23 18:51] ctrought commented on #1386
We also have a need for this.

[2022-09-25 02:52] ritazh commented on #1822
closed via #2202

[2022-09-25 02:52] #1822 closed

[2022-09-26 05:04] #2252 closed

[2022-09-26 05:10] chiranjeevivarma commented on #2252
Thanks, @ritazh.

It's working for me. It's adding the label namespace

[2022-09-26 08:51] inboxamitraj commented on #2256
Thank you @maxsmythe
- QPS is around 17 during peak hours. its around 10 during normal hours.
![Screenshot 2022-09-26 at 4 43 01 PM](https://user-images.githubusercontent.com/33777211/192232799-57923695-0996-4610-8ae6-919e12610fb0.png)

- Yes, we are using data.inventory in Rego sources, around 10-15 templates are using `data.inventory`
- I am adding other gatekeeper monitoring metrics as well-
[G

[2022-09-26 10:31] Teddyhoang commented on #729
Facing the same problem with version 3.9.0. But manage to resolve it.
Im notice that after a edit/apply a exist config into gatekeeper. The gatekeeper will delete all data that been replicate in gatekeeper, but "kubectl apply -f config.yaml" only find the different between the new and the old version and apply the difference. That why only the Deployment appear in gatekeeper data.inventory.
Resolv

[2022-09-26 13:06] wpjunior opened #2287 "Probabilistic mutation"
**Describe the solution you'd like**

Hello, sometimes we want to apply a mutation for a small part of pod, for reasons:

* Safety rollout, allows checking if change maintains a safe behavior
* Create freedom to create heterogenous pods, you can use mutations to apply selectors to run 30% of pods on spot instances, 70% on non-spots, 10% on a different kind of processor.

Example to set 30% of pods

[2022-09-26 14:01] ritazh commented on #729
@Teddyhoang can you share the config yamls, k8s objects, and steps to help us reproduce this?

[2022-09-26 16:55] craigmunro commented on #2151
We've seen the same behaviour.  I noticed the following in https://cloud.google.com/kubernetes-engine/docs/deprecations/apis-1-22 though:

I've confirmed the APIs are still there, creating an ingress using the old API still works.

[2022-09-26 18:35] cbuto opened #2288 "Support overriding the `--tls-min-version` controller manager flag in the Helm chart"
**Describe the solution you'd like**
The `--tls-min-version` flag was added in https://github.com/open-policy-agent/gatekeeper/issues/1424; however, there is not an easy way to set this flag using the gatekeeper helm chart.

I'd like to be able to pass in a value to the Helm chart to set the flag to `--tls-min-version=1.2`.

**Anything else you would like to add:**
Instead of adding the option dir

[2022-09-27 02:16] maxsmythe commented on #2151
Thanks for confirming the API server is still serving these version.

It sounds like this is WAI?

[2022-09-27 02:18] maxsmythe commented on #729
And also the version of G8r you are using, since there was a known bug for this in the past.

[2022-09-27 02:23] maxsmythe commented on #2256
As an experiment (if you are able to do this), does disabling the sync config fix the issue?

I'm wondering if it's the lock contention issue addressed here:

https://github.com/open-policy-agent/gatekeeper/pull/2272

[2022-09-27 02:31] maxsmythe commented on #1134
WRT constraints using Rego, we have our eye on this KEP:

https://github.com/kubernetes/enhancements/pull/3492

Once work starts on it, I imagine we'll want to make sure we can integrate with it appropriately, which may add more options for writing templates.

What sort of mutation logic are you looking to write that isn't covered by the existing objects? Having convergence as a property allows fo

[2022-09-27 02:33] maxsmythe commented on #2266
We don't currently scope which constraints get evaluated where, but it's def. a good idea.

[2022-09-27 02:35] maxsmythe commented on #1386
Does ModifySet work for you?

It can either add or remove strings from a list:

https://open-policy-agent.github.io/gatekeeper/website/docs/mutation#modifyset

[2022-09-27 02:36] maxsmythe commented on #2279
Glad it's working!

[2022-09-27 02:44] maxsmythe commented on #1646
We call it here:

https://github.com/open-policy-agent/gatekeeper/blob/bad90af414fe34fee41fe2a91be1068d659c9e02/pkg/audit/manager.go#L315

We can def. append `List`, but thinking about "should" vs. "could" here. If it's an antipattern to have `List` as a CRD kind suffix, we may not want to encourage it.

[2022-09-27 02:53] maxsmythe commented on #2280
I don't think the cited line is an error. It says `error` is `nil` and it looks like that trace is part of the happy path:

https://github.com/kubernetes/client-go/blob/2f43d370b32c86d6442be6d0cefd9bd4e307db22/tools/cache/reflector.go#L422

Are there any other errors in the logs? I'm wondering if this is throttling... does the situation ever resolve?

[2022-09-27 04:02] ctrought commented on #1386
We looked at it but based on our understanding of the docs it can only remove values from a list, not keys (that are optional) from an object.

[2022-09-27 07:17] ZiaUrRehman-GBI opened #2291 "safe to evict emptyDir local storage to unblock the cluster downscaling."
**Describe the solution you'd like**
Those pods which are using local storage, should have an annotation of
cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
because  - emptyDir will block the cluster downscaling.

**Anything else you would like to add:**
Pods with volume of local storage
volumes:
      - emptyDir: {}
        name: tmp-volume

**Environment:**
PROD

- Gatekeeper version: 3.8

[2022-09-27 07:34] akshaysharma096 opened #2292 "OPA Gateekeeper violations not getting reported"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hi, I am using gatekeeper to enforce some policies in our k8s infrastructure.  We are using the following template

[code]
and this is the corresponding template is

[code]

**What did you expect to happen:**
We expect to see some value of the total number of violations after running the command `

[2022-09-27 15:58] andymakesapps opened #2293 "Unable to mutate GCP resources via Gatekeeper Assign Mutations"
I have created a Kubernetes Cluster in GCP with Config Connector enabled - https://cloud.google.com/config-connector/docs/overview. Config Connector allows the deployment of resources on GCP via Kubernetes. Furthermore, I am using Gatekeeper to enforce certain deployments and change them. For example I have the following manifest for an IAM Service Account deployment:
[code]
taken from: https://cl

[2022-09-27 21:19] davis-haba commented on #2283
The `data` specified in a `sync` will still be cached, even if no existing constraints reference the data. We recognize this is not ideal, but we're looking to improve upon this in the future.

It may be beneficial to increase `--max-serving-threads`, if you have not tried so already. If you deploy Gatekeeper from head with [this recent change](https://github.com/open-policy-agent/gatekeeper/commi

[2022-09-27 22:05] dwgillies-bluescape commented on #1887
dongillies@bl-mbp16-a3041:[a-leo]~$ helm version
version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.19"}

kubernetes v1.21 (aws)

commandline install fails with gatekeeper v3.7.0, v3.8.0, v3.9.0.  Here is a log from v3.7.0.

[code]

<img width="1149" alt="Screen Shot 2022-09-27 at 3 00 26 PM" src="https://user-images.githu

[2022-09-27 22:13] dwgillies-bluescape commented on #1887
We are installing gatekeeper via terraform cloud.  Terraform cloud has a helm provider with a 15 minutes timeout.  We are installing roughly 130 resources including 50+ helm charts.  Once we perform a terraform plan, the 15-minutes clock is ticking.  Typically we don't notice that the terraform workspace is ready to apply until 1-2 mins later.  So, that means the clock is ticking to get 130 resour

[2022-09-28 01:17] maxsmythe commented on #1887
@dwgillies-bluescape

It looks like you're deleting the namespace and trying to recreate it, leaving the ValidatingWebhookConfiguration (which points to a non-existent service due to the deleted namespace) in place.

This log line shows the failure calling the fail-closed webhook:

`Error from server (InternalError): Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh

[2022-09-28 01:33] ritazh commented on #1887
When using `helm` to install, please also use `helm delete` to remove ALL the resources deployed by this helm chart such that resources like `ValidatingWebhookConfiguration` won't be left behind. https://open-policy-agent.github.io/gatekeeper/website/docs/install#using-helm

Can you pls also give v3.9.0 a try since https://github.com/open-policy-agent/gatekeeper/pull/2052 checks for gatekeeper-web

[2022-09-28 01:35] maxsmythe commented on #1887
In cases where the pod is present and bootstrapping, the delays are likely due to readiness. `/readyz` wont show true until all data is cached, constraint templates observed, and whatever other bootstrapping is complete. If `/readyz` is returning false, then K8s LBs wont route traffic to the Service, which causes calls to that webhook to fail.

The namespace label check webhook technically does no

[2022-09-28 02:18] maxsmythe commented on #2166
Still relevant, though the metric probably needs some wordsmithing, slotting in with other metrics.

[2022-09-28 02:21] dwgillies-bluescape commented on #1887
We are running istio and cilium on a govcloud kubernetes cluster on aws.  Installation works on a non-istio similar cluster.

[code]
[code]

[2022-09-28 02:23] maxsmythe commented on #2293
I think the groups may be off: `  - groups: [""]`

IAMServiceAccount is probably not part of the "core" K8s group (those resources that don't have a group name). From your example, I'm guessing you need something like:

[code]

[2022-09-28 02:24] maxsmythe commented on #1386
Ah, yeah. The ability to remove keys from an object should be added to `Assign`

[2022-09-28 02:31] #2163 closed

[2022-09-28 02:35] dwgillies-bluescape commented on #1887
The weird thing is that I can change the helm install status to "succeeded" but I think this is just a bug in your helm chart implementation since it's not running the hook that breaks installation the second time.

[code]

[2022-09-28 03:04] dwgillies-bluescape commented on #1887
Looks like this is the difference between the init container and the failure message :

init-container

- https://gatekeeper-webhook-service.gatekeeper-system.svc/v1/admitlabel?timeout=2s

failure message

- https://gatekeeper-webhook-service.gatekeeper-system.svc:**443**/v1/admitlabel?timeout=3s"

[2022-09-28 03:42] wc5858 opened #2295 "CVE in Gatekeeper 3.9.0"
We found a CVE in Gatekeeper 3.9.0:

CVE-2022-33082:

https://nvd.nist.gov/vuln/detail/CVE-2022-33082

Could you please upgrade the component github.com/open-policy-agent/opa to resolve this CVE? Thanks.

[2022-09-28 03:42] Teddyhoang commented on #729
Sorry for the late reply!
I have a beginning config yaml file for Gatekeeper:
[code]
All the Namespace, Pod resources are in the data.inventory.
Then i modified yaml file to:
[code]
Apply it with "kubectl apply -f config.yaml". Now only the Deployment resource appear in data.inventory.
I modified it again to the beginning config file then apply by "kubectl apply -f config.yaml", now data.inventory

[2022-09-28 06:34] ritazh commented on #2172
null

What do you see when you run
`kubectl get K8sPSPAllowPrivilegeEscalationContainer gatekeeper-constraints-privilege-escalation -o yaml | grep totalViolations`

[2022-09-28 06:35] #2288 closed

[2022-09-28 06:43] ritazh commented on #2295
What version of Gatekeeper are you running? OPA v0.10.2 is really old. We are currently on opa v0.44.0.

[2022-09-28 07:42] gmdfalk commented on #2292
This was caused by a CRD with a custom finalizer and could not be deleted. The namespace of the object had already been deleted so gatekeeper correctly failed to look it the namespace.

However, I feel like it's undesired behaviour that this blocked the complete audit loop and no violations on any resource could be reported.

[2022-09-28 12:19] nerbysw commented on #2283
Thanks for the reply @davis-haba . I updated the image to tag `1d33b6b` which should include both performance improvements.
I still see a massive increase in latency (10 fold) and increase in resource usage (2 fold) when syncing namespace data.

Latency spikes when adding the synconly setting to the config (1) and is removed once i remove it from the config (2).

![Selection_619-edit](https://user

[2022-09-28 13:58] ritazh commented on #2292
Can you share the CRD with the finalizer to help us repro the issue?

[2022-09-28 15:07] sozercan commented on #2151
Sounds like GKE is carrying a patch for API versions removed in 1.22 until 1.23. Are we okay to close this issue?

[2022-09-28 16:36] ritazh opened #2296 "Move mutation to v1"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`mutations.gatekeeper.sh/v1`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-09-28 16:39] nilekhc commented on #2261
I'll take a look at this.

[2022-09-28 16:48] punnarpulusu commented on #2142
@ritazh I am getting the same error on gatekeeper 3.9.0 as well

`image: artifactory.dev.earnin.net/docker-remote/openpolicyagent/gatekeeper:v3.9.0`

Here is the log

[code]

any idea on whats causing this issue and how I can get it fixed.

[2022-09-28 16:55] ctrought commented on #1748
/active

[2022-09-28 17:13] akshaysharma096 commented on #2292
I think this was the crd, this one `elasticsearch.k8s.elastic.co/v1beta1`
[code]

I believe there is already an issue here, but I think one hanging crd should not block the whole loop.

[2022-09-28 17:32] ritazh commented on #2261
Seems this PR https://github.com/open-policy-agent/gatekeeper/pull/2121/files#diff-2b4907e80c1971a358b12df6c0182eb19eb0da188b0761a371ddf6461714d9c8R156 already sets `disableCertRotation: true` by default for audit in the helm chart. so the default helm chart should be working as intended.

Seems this is not using the default helm chart.

@nilekhc we can probably close this. wdyt?

[2022-09-28 19:50] andymakesapps commented on #2293
Thank you very much for the help on this! I have added the correct group and it resolved the issue.

[2022-09-28 19:50] #2293 closed

[2022-09-28 21:23] shreyas-kb commented on #2295
The CVE that was linked states v0.42.0 as the patched version for that vulnerability.

Gatekeeper 3.9.0 which is the latest non-prerelease version is using opa v0.41.0: https://github.com/open-policy-agent/gatekeeper/blob/v3.9.0/go.sum#L962

Therefore 3.9.0 has the following vulnerabilities due to not having a patched version of opa:
https://github.com/advisories/GHSA-2m4x-4q9j-w97g
https://github

[2022-09-28 23:05] #1909 closed

[2022-09-29 00:34] davis-haba opened #2302 "Add status to ExpansionTemplates"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We should add the status subresource to `ExpansionTemplates`. This could include a `byPod` status, similar to the `byPod` fields in Mutations /Constraints, which could show if the `ExpansionTemplate` is enforced by each Pod.

**Anything else you would like to add:**
[Miscellaneous information that w

[2022-09-29 14:15] nilekhc commented on #2261
Yeah. I think we can close. But, as you mentioned, do we still have a backward compatibility issue? Otherwise, we can close it.

[2022-09-29 19:13] ritazh commented on #2261
I don't think so. TLS support for external data was introduced in v3.9.0. I will close this.

[2022-09-29 19:13] #2261 closed

[2022-09-29 20:37] sozercan commented on #2142
@punnarpulusu as mentioned it https://github.com/open-policy-agent/gatekeeper/issues/2142#issuecomment-1172778292, this is an issue on Kubernetes side, not Gatekeeper.

[2022-09-30 01:24] maxsmythe commented on #1496
Having this on a live cluster may be good for debugging.

[2022-09-30 01:25] maxsmythe commented on #2151
Closing, please re-open if this is causing issues.

[2022-09-30 01:25] #2151 closed

[2022-09-30 01:31] maxsmythe commented on #2283
Since it appears to merely be the existence of cached data, this could be due to how Rego handles the cache.

The motivation for PR #2301 was the fact that removing the cache caused ~27x faster performance for the data set it was tested on.

[2022-09-30 09:36] mattburgess commented on #2283
I think we're seeing the same problem and it appears to be a regression from 3.7.1 (the last version we were using). On 3.7.1 we were able to set resources to use 1 CPU and 2Gi RAM. After the upgrade we were seeing very frequent OOM kills, so I bumped the RAM up to 10Gi and it's _still_ running out of resource! CPU utilisation seems reasonable though.

For reference this is our `config`:

[code]

[2022-09-30 11:51] nerbysw commented on #2283
Thanks for the info @mattburgess nice to see i am not alone.

I tried downgrading to 3.7.X version to see if i see a performance boost: i didnt. CPU/Mem usage was lower then before but i still see a insane latency in the webhooks:

![Selection_620-edit](https://user-images.githubusercontent.com/11193032/193263172-1c81a091-d76f-4fa2-80d0-94076c39bace.png)
(1): add `synconly` to config, (2) remove `

[2022-09-30 12:42] mattburgess commented on #2283
Unfortunately, the environment we see this in can't have `synconly` removed as we need the constraints that require the cache to be in play. We're going to try and scale up another environment to replicate the issue and play with enabling/disabling `syncOnly` there but it may be some time before we can prioritise that work.

[2022-09-30 13:35] btwseeu78 opened #2307 "failed to run Match criteria: namespace selector for namespace-scoped object but missing Namespace"
Gatekeeper constraints giving unusual error while evaluating.

controller version: "v3.9.0"
CRD version matches controller.
GKE version : 1.24.3-gke.2100

The process is bit unusual.

constraint template

[code]
Constraint
[code]

And the error in the constraint

[code]

Similar error for some kube-system objects as well.

not able to replicate with kind ,kind works just fine.

but you guys might

[2022-09-30 18:44] jaredcurtis commented on #1134
I would like additional functionality in a Mutator around injecting a sidecar onto a deployment. This works currently but seems limited. The standard practice I've seen in most sidecar injectors is to use Annotations to trigger the mutation and provide parameters for the resulting sidecar. As an example:

[code]

The resulting pod would then have a sidecar similar to
[code]

For a complete example

[2022-09-30 23:17] #2296 closed

[2022-10-01 00:11] maxsmythe commented on #1134
Interesting. The idea of referencing metadata to define variables could work, so long as AssignMetadata keeps the property that it can only create-if-missing.

[2022-10-01 00:13] maxsmythe commented on #1134
And the idea of having variables in the YAML that get substituted is also workable, though there would probably be a performance impact.

[2022-10-01 00:30] maxsmythe commented on #2307
I'm not able to replicate the error in a Kind cluster.

That error shows up if, for some reason, Gatekeeper's match logic doesn't have a copy of the `Namespace` the object is in in order to evaluate the namespace selector.

Are you using `--audit-from-cache`? It looks like that code may need updating to provide the namespace as-appropriate:

https://github.com/open-policy-agent/gatekeeper/blob/35b

[2022-10-01 05:34] btwseeu78 commented on #2307
same for me its happening in my prod,but I'm not able to replicate this in kind.

[2022-10-01 05:34] btwseeu78 commented on #2307
i will try your suggestion

[2022-10-01 16:17] sozercan opened #2309 "fix CVE-2022-27664"
│ golang.org/x/net                 │ CVE-2022-27664 │ HIGH     │ v0.0.0-20220624214902-1bab6f366d9e │ 0.0.0-20220906165146-f3363e06e74c │ golang: net/http: handle server errors after sending GOAWAY  │

https://github.com/open-policy-agent/gatekeeper/actions/runs/3165265102/jobs/5154158040

[2022-10-02 08:07] #1703 closed

[2022-10-02 14:25] #2070 closed

[2022-10-02 23:49] #1994 closed

[2022-10-02 23:49] #1133 closed

[2022-10-03 22:12] louise-zhang opened #2311 "Gatekeeper jobs fail to run due to "unable to validate against any security context constrain" in OpenShift"
**What steps did you take and what happened:**
Deploy OPA gatekeeper on OpenShift using helm chart: https://open-policy-agent.github.io/gatekeeper/website/docs/install/#deploying-via-helm

Jobs **gatekeeper-update-crds-hook** and **gatekeeper-update-namespace-label** fail to run.

[code]

[code]
<br>

**What did you expect to happen:**
OPA pods run with no issues
<br>

**Anything else you would li

[2022-10-03 23:52] #2309 closed

[2022-10-04 01:10] inboxamitraj commented on #2256
Hi @maxsmythe
unfortunately disabling sync config is not an option for us.
what we are thinking now is to focus on optimising our cron jobs and see if that improves performance because only during cronjob runs we face high latency from G8r.

Thank you

[2022-10-04 01:28] inboxamitraj commented on #2256
one interesting and intriguing thing I noticed is that latency- Median Request Duration(gatekeeper_validation_request_duration_seconds_bucket) does not go beyond 3 seconds.
![Screenshot 2022-10-04 at 9 17 50 AM](https://user-images.githubusercontent.com/33777211/193715026-8c3cc0ee-239a-4fa9-a2bb-8d25d7877c53.png)

Is this because we have set  timeoutSeconds: 30 ?

[code]

[2022-10-05 20:26] maxsmythe commented on #2256
3 seconds is the current maximum latency the distribution is configured to observe:

https://github.com/open-policy-agent/gatekeeper/blob/ab939829c8296634149eb68cb030d9fc8b6d2a21/pkg/webhook/stats_reporter.go#L86-L92

If #2272 isn't fixing the performance issues, I also have hopes that https://github.com/open-policy-agent/frameworks/pull/252 will help.

[2022-10-07 00:47] #2283 closed

[2022-10-07 09:57] btwseeu78 commented on #2307
yes , @maxsmythe by disabling audit from cache does solve my problem ,i will still keep it on look just to make sure any violation are not getting missed from being reported or not.

Though I don't have much idea how to make people reproduce this issue.

[2022-10-07 21:45] maxsmythe commented on #2307
Since disabling audit from cache fixes the issue, I think that validates my theory above. This should be fixable, but as a mitigation, I'd suggest disabling the flag if possible.

[2022-10-10 08:27] meons commented on #2142
Same here on GKE 1.22 + Gatekeeper 3.9.0:

[code]

[2022-10-10 11:33] paul-bormans opened #2324 "Unclear how to select/add context to ProviderRequest for AssignMetadata"
As documented (https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata/#assignmetadata), the AssignMetadata mutation can use an external data source to specify the value to insert at the location.

[code]

The AssignMetadata mutation has a constraint that only the "Username" data-source is supported. From the documentation however it's not clear what "Username" actually represents

[2022-10-10 13:39] nerbysw commented on #2283
Hey, i tested the build with the commit today and i can conform the latency issues are no longer present (arrow when config was updated with sync data):

![Selection_625-edit](https://user-images.githubusercontent.com/11193032/194879279-7595c035-a63a-456f-9b28-49ebadc227c1.png)

Thank you for the fix @maxsmythe !

[2022-10-10 18:07] acpana commented on #2291
hey @ZiaUrRehman-GBI thanks for opening this issue. I'm going to spend some time looking into this and follow up here when I know more.

[2022-10-11 02:25] acpana commented on #2291
hey @ZiaUrRehman-GBI I had a look but I couldn't repro :/ . I see `kubectl scale` work as expected on the g8r pods as defined in the latest config under `deploy/`.

[code]

----

Let me ask you for a couple questions.

Apologies in advance if you already communicated more details in another channel. Please bear w me.

#### Tell us more about your environment

##### Pods
* How many pods are you run

[2022-10-11 02:41] ZiaUrRehman-GBI commented on #2291
Hey @acpana,
May be I didn't convey you properly or you don't get me. I don't mean to scale the opa gatekeepers deployment. I was talking about GKE scale down due to opa pods of local storage. But on GKE side after 1.22.x Relase they fixed this issue. So you are to feel free to close it. But on other provider like AWS and AKS, this problem still exist so they have to either provide this annotation

[2022-10-11 06:06] ritazh commented on #2291
+1 @ZiaUrRehman-GBI Thanks for reporting the issue. Would you like to open a PR to add the annotation for the audit pod?

[2022-10-11 06:10] ZiaUrRehman-GBI commented on #2291
Sure I will open. 👍

[2022-10-11 07:23] sathieu commented on #1869
not stale

[2022-10-11 08:52] niuzhi commented on #1999
No used kind.I used docker save and docker import command.

[2022-10-11 09:16] grosser commented on #991
It could be bad if there are lots of contraints, so making this opt in
seems like a safe compromise to me

On Fri, Jul 15, 2022, 10:10 AM Timothy Ehlers ***@***.***>
wrote:

[2022-10-11 10:41] btwseeu78 commented on #2307
so disabling the cache fixed the issue, but i tried to check some more to validate it.

it can be reproduced, with these changes to audit pod.

[code]
and create a config with these configuration.

[code]

with these chnages to the default installation ,im able to reproduce the issue and now im with one more new issue .

first issue : The audit pods stopped reporting events even after long delays

[2022-10-11 10:45] btwseeu78 commented on #2292
found some similar behavior on this issue: https://github.com/open-policy-agent/gatekeeper/issues/2307
audit has issues with reporting violations

[2022-10-11 18:04] sozercan commented on #1713
not stale

[2022-10-12 11:09] inboxamitraj commented on #2256
Thank you for your inputs @maxsmythe. we are currently fine tuning our cronjobs and policies.

[2022-10-12 16:14] nilekhc opened #2328 "Make sure artifacthub-repo.yml file in gh-pages branch does not gets deleted after cutting new helm release."

[2022-10-12 18:35] cmukai-cisco opened #2329 "Deployment on Calico CNI"
I am deploying the gatekeeper into an AWS EKS cluster with the Calico CNI using the Helm chart. When I first deploy with the default settings the deployment hangs because the gatekeeper-update-namespace-label batch job fails with the following error:

[code]

I assume this is because the Kubernetes control plane cannot access pods within the Calico overlay network. I then try to fix this by enabli

[2022-10-12 18:36] JaydipGabani commented on #1643
@sozercan Could you assign this to me?

[2022-10-12 21:59] apeabody opened #2333 "gator test add support for --image for templates and constraints"
**Describe the solution you'd like**
I'd like to store my templates and constraints in a container image and use them directly with `gator test`.

For example to test `my-manifest.yaml`: `cat my-manifest.yaml | gator test --image gcr.io/repo/templates-and-constraints:1.0`

[2022-10-12 23:24] maxsmythe commented on #2333
We should consider being able to support multiple instances of the `--image` flag in the same invocation.

[2022-10-12 23:27] sozercan commented on #2291
@ZiaUrRehman-GBI we already have `podAnnotations` value in the chart, would that work? if so, sounds like we might want to document this?

[2022-10-12 23:34] sozercan commented on #2333
Is this only for gator CLI and not for webhook? I think we had a separate discussion for webhook in #1491

how would we include constraints in there? wouldn't these have arbitrary parameters?

[2022-10-12 23:36] sozercan commented on #1973
Closing, looks like the question has been answered. If not, please feel free to re-open the issue.

[2022-10-12 23:36] #1973 closed

[2022-10-12 23:38] sozercan commented on #1410
Closing as policy exists in library. Please feel to re-open if this not the case.

[2022-10-12 23:38] #1410 closed

[2022-10-12 23:48] sozercan opened #2334 "docs: update OPA slack link"
**Describe the solution you'd like**
Update OPA slack link from https://openpolicyagent.slack.com/messages/CDTN970AX to https://slack.openpolicyagent.org/ as users won't be able to get an invite from slack.com link
and change label to `Slack (#opa-gatekeeper)`

https://github.com/open-policy-agent/gatekeeper/blob/c7f01d043e9935cbea996d1f90de5acd1ef9c36f/website/docusaurus.config.js#L58

[2022-10-12 23:56] maxsmythe commented on #2329
Unfortunately this appears to be an issue with cluster and/or networking configuration.

I can confirm that the API server would need to be able to connect to G8r's webhook port. Unfortunately we are not equipped to help with specific cluster configurations. I would suggest reaching out to AWS and/or Calico support. Once you know what changes, if any, need to be made to the G8r deployment, we may

[2022-10-12 23:56] #2329 closed

[2022-10-12 23:58] ritazh commented on #2328
Looks like the file is untouched after cutting a new helm release https://github.com/open-policy-agent/gatekeeper/tree/gh-pages/charts

[2022-10-12 23:58] #2328 closed

[2022-10-13 00:05] maxsmythe commented on #2283
@nerbysw Thank you for verifying the fix, glad it worked!

@ctml91 3.9.2 (cut today) has the fix: https://github.com/open-policy-agent/gatekeeper/releases/tag/v3.9.2

[2022-10-13 00:07] maxsmythe commented on #2256
Avoiding copying data.inventory is fixed in 3.9.2

[2022-10-13 00:10] ritazh commented on #2295
This has been patched in all releases after https://github.com/open-policy-agent/gatekeeper/releases/tag/v3.9.1.

[2022-10-13 00:10] #2295 closed

[2022-10-13 00:14] ritazh commented on #2291
Thanks @sozercan! You can search for `podAnnotations` in the chart readme https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper

[2022-10-13 00:16] maxsmythe commented on #1869
Can you confirm that your situation is accurately described by my questions on March 1st?

[2022-10-13 00:18] maxsmythe commented on #2032
We should make sure our error message is descriptive here

[2022-10-13 00:36] maxsmythe commented on #1525
Still useful, still blocked on the inability to iterate over cached data

[2022-10-13 00:47] maxsmythe commented on #2324
@sozercan for signal bump

@paul-bormans in this case, username means "send the user name of the requesting user", i.e.:

[code]

[2022-10-13 00:51] cmukai-cisco commented on #2329
I believe it has something to do with my pod security policies. I originally replaced the AWS eks.privileged policy with 3 custom policies. I redeployed the cluster with the eks.privileged policy in place and got past the pod security policy issue. It does not appear to be an issue with the Gatekeeper Helm chart. You can close this ticket.

[2022-10-13 01:14] #2334 closed

[2022-10-13 01:21] sozercan commented on #2324
@paul-bormans we have the following in the docs

how can we clarify this further?

[2022-10-13 02:43] ZiaUrRehman-GBI commented on #2291
Thanks, doc will help a lot

[2022-10-13 04:54] sathieu commented on #1869
@maxsmythe Will check in the following days.

[2022-10-13 10:07] inboxamitraj commented on #2256
Thank you for pointing that out. appreciate it. thank you

[2022-10-13 13:16] ctml91 commented on #2283
Thanks! We see about a 50% drop in CPU following the update.

<img width="1125" alt="image" src="https://user-images.githubusercontent.com/74685281/195606733-ffa52035-d93b-418f-ae37-444365abcd85.png">

[2022-10-14 14:42] jjtroberts commented on #2245
Any update on v3.10.0?

[2022-10-14 15:29] rolandkool opened #2339 "Audit controller should have unique identifier that can be checked inside policies"
**Describe the solution you'd like**
The audit controller is reporting violations on policies that are in practice not actually violations.
In the rego code, we have checks that use the `request.userInfo` data to determine if a resource can be created under certain conditions. Regular users may not be able to create a resource with certain settings, but a custom operator may be able to do so, thus

[2022-10-14 23:26] apeabody commented on #2333
Hi @sozercan - My initial use case would be that an end-user would "layer" their own (pre-configured if required) constraint files into a container image along with any custom constraint templates, and then publish the container image to a registry as part of their pipeline.  They could then call it using gator, easily test against different version of the container, etc.

[2022-10-14 23:42] ritazh commented on #2245
@jjtroberts We are targeting next week.

[2022-10-15 13:22] rolandkool commented on #2339
Thanks for pointer to the docs, I missed that.

If I were to include a rule that would deal with empty userInfo for the audit process, would this open up my policy for abuse? In other words, would a regular user be able to do calls where userInfo is empty to bypass the rules?

[2022-10-15 22:23] olastor opened #2341 "Add support for validating read requests"
**Describe the solution you'd like**

It seems any read requests are not included or reviewed. At least in my case using the latest helm chart. For example:

[code]

[code]

I am now not able any more to create something in `namespace-test` without being a "sytem:*" user, but reading a secret like `kubectl get secret test -n namespace-test -o jsonpath="{.data.test}"` still works. It would be desir

[2022-10-16 11:24] louise-zhang commented on #1402
Hi, I understand exact name matching is supported now. However, this only supports a prefix-based glob. If I want to apply the automountServiceAccountToken as false on the default serviceAccount Objects: default, builder, deployer, I have to create 3 Assign objects.
How can I match multiple objects within one Assign object?

Gatekeeper version: 3.10.0
Kubernetes version: (use kubectl version): v1.

[2022-10-16 18:40] #690 closed

[2022-10-17 11:25] JoelSpeed commented on #1646
My argument here is that you are passing an `unstructured.UnstructuredList` into the client call, the GVK for an `UnstructuredList` would normally contain `List` already, for example for a deployment it would be
[code]
Which I would say is valid, however, your code would actually pass
[code]
Which in the context of an `UnstructuredList`, to me would seem to be invalid. Have we tried with a raw uns

[2022-10-17 20:37] sozercan commented on #2341
Admission webhooks do not get sent "get" requests. You'll need an authorization webhook for these. See #553 for more details.

[2022-10-17 22:13] #1643 closed

[2022-10-17 22:32] #2307 closed

[2022-10-17 23:48] maxsmythe commented on #1646
The client/discovery code is opaque enough that we seem to be vulnerable in either direction: if discovery client is returning `List` kinds in addition to regular kinds, we'd hit issues with extra `List` suffixes, otherwise we're vulnerable to stripping `List` suffixes.

Would be good to see the result of an experiment that tries this.

[2022-10-17 23:56] maxsmythe commented on #1402
The `name` match criteria would have to accept a list if you are looking at doing an exact match against multiple possible names. Please file an issue and we can look at adding a matcher with that behavior.

In the interim, I'm not sure if a label selector would work here, but K8s does have the ability to apply labels that correspond to an object's name.

[2022-10-18 09:02] olastor commented on #2341
I see, thanks!

[2022-10-18 09:02] #2341 closed

[2022-10-19 08:02] Evesy opened #2345 "Identifier for Dry Run Requests in Metrics/Events"
**Describe the solution you'd like**
In a multi-tenant cluster it is useful to alert when webhook rejections are occurring, as we hope users would never get to the stage of applying resources in their CI pipelines only for them to fail; in these cases, it is a sign we are missing some earlier validation to feedback to the user they have invalid config.

The current metrics, and events both lack co

[2022-10-19 13:52] ritazh commented on #2345
This makes sense. Would this be a new tag something like “admission_type”, under the gatekeeper_validation_request_count metric?

WDYT @maxsmythe @sozercan?

[2022-10-19 14:42] Evesy commented on #2345
I have no attachment to a specific name but exactly something like that, and similarly an additional field on the Kubernetes events emitted when using `--emit-admission-events`

[2022-10-20 00:39] maxsmythe commented on #2345
No objections to an `admission_type` label or similar, though we should limit the # of values that label can take on to avoid cardinality issues (e.g. if it's an unrecognized enforcement action, coerce the value to "unrecognized" or similar)

[2022-10-21 13:39] btwseeu78 opened #2352 "failed to run Match criteria: namespace selector for namespace-scoped object but missing Namespace"
https://github.com/open-policy-agent/gatekeeper/issues/2307

**Environment:**

- Gatekeeper version: v3.10
- Kubernetes version: (use `kubectl version`): v1.24.3(GKE)

Updating to v3.10 does not fix the same issue.
what surprising me that the only namespaces that is actually creating the mentioned errors are pods from (kube-system and gatekeeper-system).  To be precise it should not be part of the

[2022-10-21 19:01] apratinav-intuit opened #2353 "Run regula policy with OPA Gatekeeper constraint template"
**Describe the solution you'd like**

[OPA Gatekeeper](https://open-policy-agent.github.io/gatekeeper/website/docs/) enables scanning of k8s resource through constraint template. Right now [constraint template](https://open-policy-agent.github.io/gatekeeper/website/docs/constrainttemplates) expects rego policy in a certain format which is similar to how [conftest](https://www.conftest.dev/) based

[2022-10-22 00:51] maxsmythe commented on #2353
I'm not familiar with Regula, but it looks like they have a few ways of writing rules:

https://regula.dev/development/writing-rules.html

It should be possible to write an "adapter" rule for at least some of these, for instance for the `deny[msg]` format:

[code]

should work.

[2022-10-22 00:53] maxsmythe commented on #2353
More thorny might be things like referential data access (e.g. `data.inventory`), and we have some requirements around imports for sandboxing, though maybe we have a bit more flexibility there now that every constraint template exists in its own rego environment, though we'd still probably want some control over "valid" naming to allow us to extend G8rs behavior in the future without worrying abou

[2022-10-22 00:55] maxsmythe commented on #2353
Also, using the `with` statement to rewrite the `input` object may be necessary, and not sure about the ability to access the `fugue` library...

[2022-10-22 03:32] btwseeu78 commented on #2352
My bad , i thought it was part of the changes ,my bad.I should have checked more carefully,  Thank you.

[2022-10-22 03:32] #2352 closed

[2022-10-24 08:30] oleksandrtroshyn commented on #2047
Hello @ericmenard
I have achieved this by using 2 kustomizations with dependsOn. Here is Flux configuration example from AKS deployment:
[code]
![image](https://user-images.githubusercontent.com/116550092/197482511-df4595fc-0e49-4890-aa2b-ff5757441b6f.png)

![image](https://user-images.githubusercontent.com/116550092/197482634-9926a3f7-021c-4ba3-bf9b-52a857a0fd37.png)

Hope this helps

[2022-10-24 14:25] meons opened #2357 "Unable to see traces in controller logs"
**What steps did you take and what happened:**
I went through the [tracing](https://open-policy-agent.github.io/gatekeeper/website/docs/debug/#tracing) documentation and still don't get a few things:

- What is `user` parameter for? If we have policies only applied to pods and some selected namespaces what are we supposed to set here?
- Is it possible to provide en example of a trace in the doc?
-

[2022-10-24 19:01] acpana commented on #2357
@meons thanks for reaching out! Happy to add some context here.

Quick shout out from the tracing docs (https://open-policy-agent.github.io/gatekeeper/website/docs/debug/#tracing):

A small nit is that Gatekeeper actually *requires* configuring the trace for the users for traces to happen. ( I will make this change later to the docs ).

Let me go over some of your questions now.

[2022-10-24 19:04] acpana commented on #2357
* `user` is how we actually control emitting the traces. So it needs to be provided for traces to be logged.

* per the above, you'd need to configure the `user` field. In this case, you'd use the service account of the controller I think.

That wouldn't hurt! Is there something specific that you'd like to see in the example?

[2022-10-24 19:05] acpana commented on #2357
Does the above help at all? If not, please do follow up.

Also, how do you plan to use the traces? What is the underlying use case here? Asking because emitting traces regularly could be expensive (in terms of memory used) or even on the cluster api volume.

[2022-10-25 02:15] #1532 closed

[2022-10-25 02:15] #1472 closed

[2022-10-25 02:15] #791 closed

[2022-10-25 02:15] #1180 closed

[2022-10-25 02:15] #1505 closed

[2022-10-25 02:15] #1497 closed

[2022-10-25 02:15] #1498 closed

[2022-10-25 02:15] #1352 closed

[2022-10-25 02:15] #1648 closed

[2022-10-25 02:15] #1650 closed

[2022-10-25 02:15] #1407 closed

[2022-10-25 02:15] #1194 closed

[2022-10-25 02:15] #1366 closed

[2022-10-25 02:15] #1174 closed

[2022-10-25 02:15] #1274 closed

[2022-10-25 02:15] #1405 closed

[2022-10-25 02:15] #1357 closed

[2022-10-25 02:15] #578 closed

[2022-10-25 02:15] #67 closed

[2022-10-25 02:15] #1423 closed

[2022-10-25 02:15] #897 closed

[2022-10-25 02:15] #829 closed

[2022-10-25 02:15] #1175 closed

[2022-10-25 02:15] #1318 closed

[2022-10-25 08:49] meons commented on #2357
@acpana thanks for the quick reply!
So I understand that the user must be set to gatekeeper-admin as per the [helm chart](https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/templates/gatekeeper-admin-serviceaccount.yaml#L10); I think it worth to mention it in the doc.

Regarding traces example, any random logs would help; just like you did in https://open-policy-agent.gi

[2022-10-25 16:23] ctrought commented on #2311
In the `*.extraRules` stanzas (there are multiple) in your helm values you need RBAC rules to allow the use of the anyuid SCC, in additional disabling `RuntimeDefaultSeccompProfile`. You do not need to use an old version of Gatekeeper, you can use the latest (I'm running GK 3.10 on OCP 4.10)

[code]

And
[code]

[2022-10-25 16:25] ctrought commented on #2230
/active

[2022-10-25 17:33] sozercan commented on #1294
@JaydipGabani is looking into this

[2022-10-25 18:33] #1124 closed

[2022-10-25 18:33] #1852 closed

[2022-10-25 18:33] #1734 closed

[2022-10-25 18:33] #724 closed

[2022-10-25 18:33] #1182 closed

[2022-10-25 18:33] #2059 closed

[2022-10-25 18:33] #1936 closed

[2022-10-25 18:33] #1562 closed

[2022-10-25 18:33] #1940 closed

[2022-10-25 18:33] #2027 closed

[2022-10-25 18:33] #1997 closed

[2022-10-25 18:33] #1975 closed

[2022-10-25 18:33] #2004 closed

[2022-10-25 18:33] #1883 closed

[2022-10-25 18:33] #1956 closed

[2022-10-25 18:33] #1842 closed

[2022-10-25 18:33] #1801 closed

[2022-10-25 18:33] #1773 closed

[2022-10-25 18:33] #664 closed

[2022-10-25 18:33] #1686 closed

[2022-10-25 18:33] #1720 closed

[2022-10-25 18:33] #1733 closed

[2022-10-25 18:33] #1717 closed

[2022-10-25 18:33] #1045 closed

[2022-10-25 18:47] apratinav-intuit commented on #2353
@maxsmythe Thanks for sharing your inputs. Much appreciated.

- Does gatekeeper recommend using conftest or some other tool for developing rego based policy?
- Can gatekeeper work across multiple object or gatekeeper only has info of that resource that is sent as part of Admission review request?

Let me know if you have insights into this.

[2022-10-25 18:53] ctml91 commented on #1664
/reopen

[2022-10-25 19:33] #1554 closed

[2022-10-25 19:33] #1629 closed

[2022-10-25 19:33] #786 closed

[2022-10-25 19:33] #1043 closed

[2022-10-25 19:33] #1649 closed

[2022-10-25 19:33] #1647 closed

[2022-10-25 19:33] #1176 closed

[2022-10-25 19:33] #1510 closed

[2022-10-25 19:33] #1520 closed

[2022-10-25 19:33] #1514 closed

[2022-10-25 19:33] #1458 closed

[2022-10-25 19:33] #1596 closed

[2022-10-25 19:33] #1549 closed

[2022-10-25 19:40] grosser commented on #1043
@ritazh the bot should at least close as `won't fix`

[2022-10-26 00:50] kfox1111 commented on #1997
still relevant?

[2022-10-26 01:11] #2226 closed

[2022-10-27 01:26] maxsmythe commented on #1499
Still something we should simplify.

[2022-10-27 01:31] maxsmythe commented on #2353
For developing policy, if you specifically want to test if/how the policy works with Gatekeeper, the `gator` CLI is a good way to do that:

https://open-policy-agent.github.io/gatekeeper/website/docs/gator

WRT getting multiple objects, that would be a referential constraint:

https://open-policy-agent.github.io/gatekeeper/website/docs/sync

[2022-10-27 01:46] maxsmythe commented on #2357
To be clear, the user should be set to the user whose inbound requests you want to see traces for. For example, if joe@foo.com wanted to set things up so he could see traces for the requests he was sending to the API server, he'd set the user field to `joe@foo.com`. That way he can debug without affecting the other clusters' users.

[2022-10-27 14:40] jayunit100 opened #2363 "avoiding things like KCP outages when gatekeeper is down ?"
xref, https://github.com/kubernetes/kubernetes/issues/113401

is there a way that we can make gatekeeper so that it never interferes with things like etcd locks and leases ? just to avoid catastrophic controlplane outages....  Just an initial thought.  Feel free to close if this is an invalid proposition.

Im new to the gatekeeper world :) ...

[2022-10-27 18:48] jayunit100 commented on #2363
Another option is maybe... just running gatekeeper on hostnetwork so that its available on inception

[2022-10-27 23:22] sozercan commented on #1619
I can't repro this, looks like the original YAML has a pod template spec instead of pod spec (`input.review.object.spec.template.spec.nodeSelector) but apply to pod in constraint

[2022-10-28 00:28] tspearconquest commented on #2363
Add this to the kube-system namespace, I think it will help:

[code]

https://open-policy-agent.github.io/gatekeeper/website/docs/exempt-namespaces/

[2022-10-28 00:29] tspearconquest commented on #2363
See also: https://open-policy-agent.github.io/gatekeeper/website/docs/#admission-webhook-fail-open-by-default
Seems like you may have this set to "fail closed" rather than "fail open"

[2022-10-28 01:19] maxsmythe commented on #2363
+1 to @tspearconquest 's answers. Some interesting historical context WRT timeouts + leader election:

Timeouts have also historically been a consideration (some leader elections made two requests with a global timeout of 10s for the whole leader election process, which is how we got to a 3s timeout (6s total wait time + padding for latency).

This K8s issue also has some good discussion around mo

[2022-10-28 21:01] acpana commented on #2197
@ritazh @maxsmythe @stek29 do y'all consider this issue fixed now ? also should we advertise the buckets in the docs ?

[2022-10-28 21:06] maxsmythe commented on #2197
I defer to @stek29 as to whether he's satisfied with the issue. WRT advertising buckets, no need.

[2022-10-30 03:27] tahirraza commented on #1134
Another scenario  for a more dynamic mutation is replacing image registry per cluster env.
For instance, you define kube manifests once, let’s say it uses image `grafana/grafana` .

Based on the kube cluster it deploys to, mutation webhook can change/prepend the image registry to use private one.

Alternatively user would deploy custom mutation webhook or worst case, clobber the deployment manifes

[2022-10-31 18:32] #1583 closed

[2022-10-31 18:32] #2232 closed

[2022-10-31 18:32] #2228 closed

[2022-10-31 20:44] JaydipGabani commented on #2345
@sozercan Please assign this issue to me

[2022-10-31 23:16] #1576 closed

[2022-11-01 00:06] maxsmythe commented on #1134
I think we definitely want to have a mutator that can alter images in set ways (e.g. change tag/registry/etc.)

[2022-11-01 00:08] darey-io commented on #2161
+1, this use case is indeed required. Perhaps something like this will suffice

    spec:
      scope: Namespaced
      exemptNamespaces: ["kube-*", "aws-*", flux-*]

[2022-11-01 00:59] seh commented on #2087
What counts as "activity?"

[2022-11-01 02:17] Hrishi-Bh opened #2373 "webhook - connection timeout - check-ignore-label.gatekeeper.sh"
**What steps did you take and what happened:**
We deploy K8s using Rancher on VM's and use helm to deploy all applications to the cluster, we have noticed an intermittent connection time out error while calling for check label namespace webhook, please check below error,
Note - this error is happening on long running clusters and not in the bootstrapping stage. e.g. cluster is up and running for m

[2022-11-01 12:48] kuzmavictor opened #2377 "An upgrading or installing was failed for Gatekeeper when `--version` had been defined"
Faced with problems when a `--version` flag had been defined in  `helm install` or `helm upgrade` for gatekeeper
link: https://artifacthub.io/packages/helm/gatekeeper/gatekeeper/3.4.0
![image](https://user-images.githubusercontent.com/50623799/199235099-de2c6c3b-2f18-4dbf-a303-1cedcd6a1b5d.png)

[2022-11-01 15:27] ritazh commented on #1134
Lets discuss this more in this Wed's community call.

[2022-11-01 19:34] ritazh commented on #1294
This issue has been addressed partially by #2359 as currently there is no way to enable authenticated api server automatically for managed k8s.

[2022-11-01 20:07] #1294 closed

[2022-11-02 01:15] sozercan commented on #2377
![image](https://user-images.githubusercontent.com/852750/199371703-e93b30e2-634a-49f8-a475-13b7af1e557a.png)
I can not reproduce.

@kuzmavictor can you provide more information (k8s version, any logs) and run helm with `--debug` to see what's causing the issue?

[2022-11-02 02:57] kuzmavictor commented on #2377
@sozercan Yes, sure
[code]

[2022-11-02 06:42] yokomotod opened #2380 "Unable to deploy on GKE Autopilot"
**What steps did you take and what happened:**

On GKE Autopilot cluster, `gatekeeper-mutating-webhook-configuration` MutatingWebhookConfiguration resource failed to deploy.

`kubectl apply -f https://raw.githubusercontent.com/open-policy-agent/gatekeeper/v3.10.0/deploy/gatekeeper.yaml`

[code]

I believe this is the problem: https://github.com/open-policy-agent/gatekeeper/blob/v3.10.0/deploy/gate

[2022-11-02 19:26] acpana commented on #2380
thanks for reporting @yokomotod ; is this a private GKE cluster?

do the suggestions from this issue help at all? https://github.com/elastic/cloud-on-k8s/issues/1437 ;

in particular adding firewall rules: https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules

[2022-11-02 21:51] ritazh opened #2381 "Mutation to replace image registry"
Another scenario  for a more dynamic mutation is replacing image registry per cluster env.
For instance, you define kube manifests once, let’s say it uses image `grafana/grafana` .

Based on the kube cluster it deploys to, mutation webhook can change/prepend the image registry to use private one.

Alternatively user would deploy custom mutation webhook or worst case, clobber the deployment manifes

[2022-11-02 23:21] mathieu-benoit opened #2382 "What's the status of the `externaldata` feature?"
What's the status of the `externaldata` feature? As per the official doc it's still in alpha: https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata/.

But for example we could see that's blocking this project to move on: https://github.com/sigstore/cosign-gatekeeper-provider/issues/5.

We could also see this other usage of this feature here: https://github.com/deislabs/ratify.

[2022-11-02 23:46] #2193 closed

[2022-11-02 23:48] ritazh commented on #1037
@stek29 are you still interested in writing the audit report to the filesystem? if so, do you want to start with a design proposal?

[2022-11-03 00:47] yokomotod commented on #2380
@acpana

No, it's not private cluster.

I could confirm that if I modify the mutating webhook to specific resource then it succeeds to deploy.

So private cluster/firewall doesn't matter I think.

[code]

[code]

As error message says, the GKE autopilot seems to have specific rule that disallow mutation webhooks which targeting all resources. ( I couldn't find any documents about this though)

[co

[2022-11-03 22:06] kfox1111 commented on #2142
seen on k8s 1.21.11
2022/11/03 19:17:10 http: TLS handshake error from 10.17.0.0:52110: EOF

not sure its affecting anything.

[2022-11-04 00:47] maxsmythe commented on #2382
@ritazh @sozercan What are your thoughts on how external data is going? Does the API design appear to be working out?

[2022-11-04 04:08] ritazh commented on #2382
We have been tracking beta blockers for external data feature in this milestone https://github.com/open-policy-agent/gatekeeper/milestone/13 The last remaining issues have been closed recently. We can mark it as beta in the next Gatekeeper release v3.11 (eta mid Dec) if there are no objections.

[2022-11-04 05:50] ritazh opened #2386 "Cache response from external data"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Cache response from external data for the entirety of an audit run and a single admission request
Multiple constraints requesting the same data from one external data provider. e.g. get image digest for an image tag

To be designed:
- Cache key: external data builtin protocal?
- Cache duration: audi

[2022-11-04 17:13] #2345 closed

[2022-11-04 17:21] tahirraza commented on #1134
How do I learn about the community call? I may have missed this one.

[2022-11-04 17:24] tahirraza commented on #2381
Thank you for creating the issue. I'd be happy to do jump in as needed.

[2022-11-04 19:28] acpana commented on #2380
hey @yokomotod thanks for your patience. Yes, the firewall suggestion was not applicable/ wrong / a red herring -- sorry about that.

Upon more research, the GKE docs call out:

as per https://cloud.google.com/anthos-config-management/docs/how-to/mutation .

So it seems that mutations are not a supported usecase on GKE Autopilot as of now unfortunately. You could send in a feature request if this

[2022-11-04 19:39] maxsmythe commented on #2382
No objections here

[2022-11-05 08:07] #1512 closed

[2022-11-06 02:18] #2241 closed

[2022-11-07 22:21] JaydipGabani opened #2390 "Verify CN name as part of client cert check"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Right now if `--client-cert-name` flag is passed and webhook is configured to authenticate apiserver's requests. Apiserver can use any cert signed by CA authority. To validate the identity of apiserver and allow requests from apiserver only, there should be additional check of specific CN name from t

[2022-11-07 23:24] ritazh commented on #2390
xref https://github.com/kubernetes-sigs/controller-runtime/issues/2037

[2022-11-08 00:15] jimmyraywv commented on #2266
This is similar to my [request](https://github.com/open-policy-agent/gatekeeper/issues/2055)

With the addition of the external data provider, audit can cause calls to other applications, that could result in external calls to cloud APIs.

[2022-11-08 00:16] jimmyraywv commented on #2055
Can we get this considered still? It is similar to Issue #2266.

[2022-11-08 00:26] jimmyraywv commented on #2055
Do I need to open a new issue?

[2022-11-08 00:27] maxsmythe commented on #2055
Un-marking as stale.

#2266 is a bit different in that it is asking for a flag as to whether a constraint should be audited at all.

Having different audit cycles and configurations for different constraints is a heavier lift to the point where, as-requested, I'm not sure it's possible.

One thing that could be interesting would be to have a way to partition different constraints to be evaluated b

[2022-11-08 00:39] jimmyraywv commented on #2055
Yep, we are looking into that. Currently, is disabling the `gatekeeper-audit` the only way to stop auditing?

[2022-11-08 01:09] maxsmythe commented on #2055
For a specific constraint? I believe so, though I'd imagine webhook evaluation to be higher-traffic than audit.

Would the ability to disable a specific constraint for audit (if not the finer grained tuning you're asking for), be a useful short-term mitigation for you?

[2022-11-08 01:52] jimmyraywv commented on #2055
So, I was thinking about a CRD change like so:
[code]

Then change the `getAllConstraintKinds()` function to look for that flag, and not add the GVK to the unique map if `audit=false`.

I guess you could also hack at it and use a `no-audit` suffix on a `shortName` and then look for that suffix in the `getAllConstraintKinds` `ShortNames()` array.

[2022-11-08 01:55] ritazh commented on #2055
I think this might help with reducing calls to external data providers in audit https://github.com/open-policy-agent/gatekeeper/issues/2386

[2022-11-08 02:05] sozercan commented on #2266
I think we need a similar way to scope processes as we do in [config resource ](https://open-policy-agent.github.io/gatekeeper/website/docs/exempt-namespaces#exempting-namespaces-from-gatekeeper-using-config-resource)

[code]

[2022-11-08 02:27] tahirraza commented on #2381
Slack thread: https://openpolicyagent.slack.com/archives/CDTN970AX/p1667097854495169

[2022-11-08 19:53] sozercan commented on #1037
past issues: #1532 #897

[2022-11-09 01:28] apeabody opened #2393 "Add support for metadata.gatekeeper.sh/requiresSyncData"
**Describe the solution you'd like**
Write an error in status if the required data specified in `metadata.gatekeeper.sh/requiresSyncData` is not part of the sync resource.

Background: https://github.com/open-policy-agent/gatekeeper-library/pull/251#discussion_r1017261095

[2022-11-09 04:15] sozercan commented on #2393
we have a similar issue for GK version: https://github.com/open-policy-agent/frameworks/issues/240 it would be nice to align these metadata fields

[2022-11-09 15:27] stek29 commented on #1037
@ritazh I am still interested, but I don't know how to proceed with that.

[2022-11-09 17:04] ritazh opened #2394 "Evaluate policy report"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
From the k8s policy working group:
https://github.com/kubernetes-sigs/wg-policy-prototypes/tree/master/policy-report

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubect

[2022-11-09 17:05] JaydipGabani commented on #2394
@ritazh Please assign this issue to me

[2022-11-09 19:19] ctrought opened #2395 "Resource Generation"
**Describe the solution you'd like**
Native support for resource generation. Something similar to Kyverno https://kyverno.io/docs/writing-policies/generate/

Example use case:
Create a policy that says for namespaces with label=x create/apply networkpolicy=x in the namespace(s).

**Anything else you would like to add:**
Although you _may_ be able to accomplish it with external data calls and handl

[2022-11-09 20:08] ritazh commented on #1037
@stek29 That's great! Perhaps start with a design doc with your proposal, considerations, options. You can take a look at existing design docs: https://github.com/open-policy-agent/gatekeeper/tree/master/docs/design

[2022-11-09 23:58] acpana opened #2397 "Constraint Level Latency Measurement"
This is a tracking issue for offering a per constraint measurement of the evaluation latency, i.e. how long the call to constraint framework's client `.Review()` took.

There are two phases:
- Phase 1: changes needed for measuring batched/ sharded constraints
- Phase 2: changes needed to reduce the batch size to 1

#### Phase 1:
* [ ] update constraint framework to measure latency for a batch of R

[2022-11-10 01:11] acpana commented on #1864
as of https://github.com/open-policy-agent/gatekeeper/pull/2364 I think this ask is complete. If there is a need for examples, happy to document those/ add docs pointers.

@ritazh @sozercan or @maxsmythe feel free to close this

[2022-11-10 01:46] #1864 closed

[2022-11-10 04:00] maxsmythe commented on #2395
To be honest, this would probably be a better fit for a project that specializes in such a thing, since that is moving from policy enforcement to actuation, which is a significant feature set, potential privilege escalation, and attack surface.

Some things to consider:

* Giving G8r create privileges means blurring the boundaries established by RBAC, which may not play well with other potential f

[2022-11-10 05:44] ritazh commented on #1987
@nishant-ui sounds like you want the deny message to be added to the GK log?

[2022-11-10 05:55] jdef opened #2399 "pod.name is not a good fit for metav1.Labels"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

constrainttemplates reconciler fails because it's trying to update status for a pod with a name whose length exceeds 63 chars (the max for a label value).

see https://github.com/open-policy-agent/gatekeeper/blob/67a55796acaa16fbd6a4a265eeab91a6e7c5bf06/apis/status/v1beta1/constrainttemplatepodsta

[2022-11-10 06:01] dhw362177 opened #2400 "How to exempt `kinds` in constraints"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm trying to use label to lock default namespace, below is my constraints code

apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8srequiredlabels
metadata:
  name: requiredlabels
spec:
  match:
    kinds:
      - apiGroups: [""]
        kinds: ["Pod"]
    namespaces:
      {{- toYaml .Values.k

[2022-11-10 06:37] nishant-ui commented on #1987
yes @ritazh

[2022-11-10 12:55] jdef commented on #2399
.. i'm seeing this in a cluster w/ static pods, where the mirror pod created in apiserver is created by k8s as a combination of the name of the pod in the static manifest w/ the node name appended. this can easily create pod names that exceed the length appropriate for a value label.

this particular error causes reconciliation to fail and it becomes impossible to register constraints (because whe

[2022-11-10 13:04] jdef commented on #2399
it looks like the "pod name" in question here is derived from the envvar `POD_NAME`, which refers to the name of the gatekeeper pod. and we've been running gatekeeper in static pods just fine until now: a recent change we're trying to make results in longer node names, which triggers this bug

[2022-11-10 14:43] Ahmad-Faizan opened #2401 "Gatekeeper Helm chart does not get synced by ArgoCD"
**What steps did you take and what happened:**
Install the Gatekeeper Helm chart in the cluster via ArgoCD
Sync the Audit Deployment and Controller Manager Deployment specs

Few values like `tolerations`, `imagePullSecrets`, `hostNetwork` and `topologySpreadConstraints` were not being synced.
They were mentioned in the Deployment diff on the ArgoCD and not getting synced even after multiple attemp

[2022-11-10 14:59] jdef commented on #2399
in the meantime, i've hacked up the dockerfile to trim down the POD_NAME envvar that gatekeeper sees (in a way that maintains uniqueness across gatekeeper pods). hopefully that won't bork things

[2022-11-10 16:19] ritazh commented on #2399
Thanks for reporting this @jdef!
We use `PodLabel` here in the reconciler to map the CT status to the GK pod https://github.com/open-policy-agent/gatekeeper/blob/67a55796acaa16fbd6a4a265eeab91a6e7c5bf06/pkg/controller/constrainttemplatestatus/constrainttemplatestatus_controller.go#L87

Truncating is probably not always going to keep the uniqueness. We probably need a new way to do the mapping. Few

[2022-11-10 16:23] jdef commented on #2399
in my case, the node names were recently expanded as fully-qualified domain
names, e.g. node-abc.mycompany.io. so I adjusted the static pod manifest to
truncate ".mycompany.io" from the POD_NAME, which means that POD_NAME
should still be unique for mirror pods as it is being composed like this: ${
pod.metadata.name}.${trimDomain(pod.spec.nodeName)}  (which is basically
what it was before we expand

[2022-11-10 22:02] maxsmythe commented on #2399
Context:

The `POD_NAME` env var is currently used to get a reference to the current pod:

https://github.com/open-policy-agent/gatekeeper/blob/67a55796acaa16fbd6a4a265eeab91a6e7c5bf06/pkg/controller/controller.go#L95-L130

which is used to set the owner reference on a PodStatus-type object:

https://github.com/open-policy-agent/gatekeeper/blob/67a55796acaa16fbd6a4a265eeab91a6e7c5bf06/apis/status/

[2022-11-10 23:46] maxsmythe commented on #2400
I don't think there is currently a way to do this. We could follow the CEL KEP model and add something like exemptKinds, potentially.

[2022-11-10 23:46] maxsmythe commented on #2400
Currently a way to do this other than putting it in the CT code, I mean.

[2022-11-11 00:37] ritazh commented on #2386
Per 11/9/2022 community call, we are going to focus on the audit use case first since that has alot of immediate value and clear use case.

Few options: cache in the audit controller vs framework level.
Consideration: If audit and webhook are running together, this cache feature should not be supported

[2022-11-11 02:04] ritazh commented on #2400
One thing we are trying to push for is ensuring constraints have match kinds to help reduce the scope of resources that get validated. e.g. rego only cares about ingress, but because there's no match kind, all admission requests and resource must be validated, which can add unnecessary latency to audit and admission requests. This is why we have the `audit-match-kind-only=true` flag https://open-p

[2022-11-11 02:16] ritazh commented on #2399
how do we want to ensure the uniqueness?

[2022-11-11 10:03] SimeonPoot commented on #2390
I was wondering if the use of verification on CN is deprecated and should be refrained from? But perhaps I'm mistaken on the subject of matter...
https://github.com/caddyserver/caddy/issues/3755

[2022-11-11 16:08] jvossler-cogility commented on #1499
I am seeing this issue when doing an initial deploy of gatekeeper. The install is via flattened helm charts (yaml files). Gatekeeper software deploys and all the constraint templates deploy, ALL the constraints fail to deploy due not yet finding the named template for each constraint. The constraints deploy correctly later as they can now access the templates by name.

I can see this issue also ha

[2022-11-12 00:19] maxsmythe opened #2404 "Add License Linting"
**Describe the solution you'd like**
CNCF limits what licenses we should be using for vendored libraries: https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md

Here is how K8s automates validating compliance: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-licenses.sh

To reduce risk of accidentally vendoring in non-compliant code, we should do someth

[2022-11-12 00:33] maxsmythe commented on #2399
Default it to Pod Name, let user set their own if they'd like?

Another option would be to generate a UUID.

[2022-11-12 00:36] maxsmythe commented on #2400
TBH I disagree with this. The user should not be required to be aware of what kinds a CT is relevant for. As discussed previously, I'm fine with it as an opt-in optimization for users who know how they expect to use G8r, but optimizations like `--audit-match-kind-only` are brittle against generic policies.

[2022-11-13 23:57] tspearconquest commented on #2142
Hello, I've noticed these before but not had time to do some proper investigation until now.

I found that these messages are coming from an IP belonging to the konnectivity pods in my kube-system namespace in Azure.

This pod is facilitating the control plane to cluster communications as per https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

Digging into the kube-system names

[2022-11-14 00:50] tspearconquest commented on #1061
Hi, is it currently safe as an end user to remove `control-plane` from the `gatekeeper-system` namespace? I believe that label is contributing to https://github.com/open-policy-agent/gatekeeper/issues/2142 as per my comment on that issue. Please see [comment](https://github.com/open-policy-agent/gatekeeper/issues/2142#issuecomment-1312857739) for more detail

[2022-11-14 06:12] ritazh commented on #2142
**NOTE**

[2022-11-14 06:16] ritazh commented on #1061
If you already have the `admission.gatekeeper.sh/ignore: no-self-managing` label, then yes it's safe to remove the `control-plane` label.

I think we have waited long enough to remove `control-plane` label. WDYT? @sozercan @maxsmythe I can open a PR to remove it.

[2022-11-14 07:18] sri53 commented on #1061
I am having admission.gatekeeper.sh/ignore: no-self-managing and control-plane=controller-manager label  in gatekeeper-system namespace. For testing, to fix the TLS handshake error, I tied to remove the control-plane label from gatekeeper-system namespace and its deployments. After the rolling restart of the gatekeeper deployments the control-plane labels got added automatically back to gatekeeper

[2022-11-14 09:35] dhw362177 commented on #2400
Thanks for the response!
Or do we have a resource list about which kind can be supported now?
@maxsmythe @ritazh

[2022-11-14 13:04] tspearconquest commented on #2142
Hi @ritazh I believe that is incorrect. These errors also come on Kubernetes 1.22 for us, and also others have noted in this issue that they happen on K8s 1.21.

[comment](https://github.com/open-policy-agent/gatekeeper/issues/2142#issuecomment-1241152747)

[2022-11-14 13:10] tspearconquest commented on #1061
Hi @sri53 how do you deploy Gatekeeper? Is it by Helm, or by K8S manifests, or by some other method? Also what version of Gatekeeper and Kubernetes do you deploy to?

[2022-11-14 14:43] ritazh commented on #2142
Thanks for the additional data @tspearconquest! If you remove the control-plane label from the gatekeeper-system namespace as you suggested, do you still see the error in the log?

[2022-11-14 15:01] tspearconquest commented on #2142
We're testing today and I will report back soon!

[2022-11-14 20:50] jdef commented on #2399
it looks like, in most places, `util.GetID` can replace `util.GetPodName`, along w/ where PodLabel is set/referenced, as well as "obj.Status.ID" when obj is a XyzStatus type. the exception being where the corev1.Pod is actually used as an object reference (and said pod seems to be produced from a single factory func, that generates a "fake" pod).

IMO "byStatusID" should use the ID because then yo

[2022-11-14 22:43] enj opened #2408 "External data feature should always require TLS"
The approach outlined in `externaldata.md` is dangerous:

https://github.com/open-policy-agent/gatekeeper/blob/e217767b4218124d4d1ebb77d5864aa3d1654d0b/website/docs/externaldata.md#L334-L336

There is no good reason to support HTTP based communication with external data sources.  Using certificates can be a pain, especially in development, but we should solve that problem by creating automation ar

[2022-11-15 17:03] meons opened #2410 "Violations are not always detected by gatekeeper-audit"
We are preparing the migration of PSP to Gatekeeper policies and we need to identitfy which workloads violate the constraints we put in place (in warn mode). The problem we face is that some workloads violating constraints are not catched by audit; we can not see violations traces in gatekeeper-audit logs while we see deny logs in gatekeeper-controller-manager.
We figured out that the related work

[2022-11-15 18:18] sozercan commented on #2410
@meons have you looked into https://open-policy-agent.github.io/gatekeeper/website/docs/expansion for workload resources like Jobs?

[2022-11-16 02:33] maxsmythe commented on #2408
One potential reason to disable TLS is if a user is talking to a proxy server that is authenticating/terminating the TLS connection. Not sure how common that is.

It looks like istio can do mTLS upgrades for outbound traffic: https://istio.io/latest/docs/ops/configuration/traffic-management/tls-configuration/

[2022-11-16 02:35] maxsmythe commented on #2408
There is also the possibility of hosting the provider as a sidecar.

[2022-11-16 02:37] maxsmythe commented on #2399
My one nit is that IIRC a "fake" pod is one generated for testing purposes, otherwise it points to a pod retrieved from the API server.

[2022-11-16 02:39] maxsmythe commented on #2400
I'm not sure what your asking WRT resource list?

[2022-11-16 03:34] enj commented on #2408
Special casing `127.0.0.1` and `::1` would be sufficient here.

[2022-11-16 03:35] enj commented on #2408
If it's on loopback/UDS, sure.  But otherwise you still need TLS at every hop.

[2022-11-16 08:00] meons commented on #2410
Thanks @sozercan, I just went through it.

This is an alpha feature so not suitable for prod, and anyway we are still on 3.9.0 on some clusters.
How would you explain the fact that we don't have any issue to catch violations for pods with deploy or sts? So far, it seems that only pods created by jobs are not catched by audit logs.

[2022-11-16 22:41] sozercan opened #2413 "website: rename "library" to "policy library" in top navbar"

[2022-11-17 11:25] dhirenpsingh opened #2416 "Openshift - Gatekeeper-controller-manager and audit deployment failing with - seccomp may not be set"
**What steps did you take and what happened:**
Deploy OPA gatekeeper on OpenShift using helm chart: https://open-policy-agent.github.io/gatekeeper/website/docs/install/#deploying-via-helm

command - helm install gatekeeper/gatekeeper --name-template=gatekeeper --namespace gatekeeper-system --create-namespace

Job - gatekeeper-update-namespace-label fails to complete as it is waiting for the pods o

[2022-11-17 19:29] sozercan commented on #2416
@dhirenpsingh I am not super familiar with OpenShift but I believe we added `enableRuntimeDefaultSeccompProfile` Helm value to not deploy into OpenShift. Does it help if you disable this?

[2022-11-17 21:43] maxsmythe commented on #2408
Personally, I think adding `insecure` is sufficient warning for users to "think real hard before you do this" and generally prefer to allow choice when the overhead and/or opportunity cost is near-zero. I'm also a bit more receptive to the "easier for dev" argument, given the infrastructure for auto-provisioning keys isn't zero-effort (e.g. do I really need to install keys on my kind cluster?) and

[2022-11-17 21:48] acpana commented on #2219
per https://github.com/open-policy-agent/gatekeeper/pull/2348 we can now do this by writing out the `AdmissionReview`.

@maxsmythe / @ritazh / @sozercan I think we can close this

[2022-11-17 21:51] acpana commented on #1819
@maxsmythe / @ritazh / @sozercan I think we can close this issue since all the use cases are supported after #2348 (fyi @arno-snop)

[2022-11-17 22:06] #2219 closed

[2022-11-17 22:57] #2413 closed

[2022-11-17 23:45] enj commented on #2408
I agree that this basically boils down to a philosophical question.  I have had multiple experiences where a customer did not realize that their production environment was running an insecure config - it is easy to miss something if you are running enough software.  Production guides to software like Kubernetes always have steps like "make sure option X is not set" or "make sure option Y is set to

[2022-11-18 01:34] #1819 closed

[2022-11-18 14:27] sri53 commented on #1061
Hi @tspearconquest
how do you deploy Gatekeeper? Deployed through Azure Policy Add-on for AKS
what version of Gatekeeper - 3.8.1
Kubernetes version - AKS 1.23.12

[2022-11-18 14:34] tspearconquest commented on #1061
I believe Azure Policy Add-on enforces the label in your case, so if that's correct then removing it for your gatekeeper instance won't be possible until it has been removed in upstream and Azure Policy upgrades to a version which has it removed.

[2022-11-18 14:39] tspearconquest commented on #1061
Hi @ritazh - It seems my suspicion was not correct, and removing the `control-plane` label did not help.

It's really interesting that this is only affecting Gatekeeper, as we do have other tools with MWH and VWH which do not see this problem, and the traffic causing the errors is 100% coming from the `konnectivity-agent` pods in `kube-system`

I also took a look in konnectivity configmap and depl

[2022-11-18 15:16] ritazh commented on #1061
Thanks for the update @tspearconquest! I can dig into this a bit later and report back.

[2022-11-18 21:08] JaydipGabani commented on #1995
@sozercan please assign this to me

[2022-11-19 00:22] maxsmythe commented on #1995
@sozercan Do we know how this might interface with the design you're working on for per-target enforcement actions?

[2022-11-19 08:03] dhirenpsingh commented on #2416
@sozercan, I had tried setting *enableRuntimeDefaultSeccompProfile* as false as well. It fails with a different error.
Just to be clear, it is a problem only with Openshift, On vanila Kubernetes(deployed directly) the chart works fine without any modifications.

[2022-11-19 11:50] dhirenpsingh commented on #2416
So, I tried to rerun the deployment. Here is an interesting find.
----------------------------
First Try :
----------------------------
- I created a fresh Openshift cluster using CRC.
- Deployed the chart for the first time using the attached custom values.yaml and it worked fine.
[gatekeeper-custom-values.txt](https://github.com/open-policy-agent/gatekeeper/files/10046857/gatekeeper-custom-value

[2022-11-21 09:46] MarkusBauerFS opened #2418 "Gatekeeper Install via Terraform Helm gets stuck at gatekeeper-update-namespace-label"
**What steps did you take and what happened:**
When installing Gatekeeper using the Terraform Helm provider the deployment gets stuck at the gatekeeper-update-namespace-label.

The job logs out:
[code]

One of the controller managers logs:
[code]

Several cleanup attempts after failed installs using the following commands did not change anything:
terraform destroy
kubectl delete namespace gatekeep

[2022-11-21 15:04] TamasNeumer commented on #1141
Back then we were around 3.4 release:
https://github.com/open-policy-agent/gatekeeper/blob/release-3.4/deploy/gatekeeper.yaml#L759

[2022-11-21 18:14] #2390 closed

[2022-11-21 21:35] sozercan opened #2420 "log denies should not log constraints with dryrun enforcement action"
**What steps did you take and what happened:**
https://github.com/open-policy-agent/gatekeeper/blob/21345e1bfe31a57214e05689366199c67ef96897/pkg/webhook/policy.go#L247

Today, we are logging `denied admission` on constraints with `dryrun` enforcement action even though they are not denied. I think this is confusing/misleading for the users as we didn't actually deny admission.

This also generates

[2022-11-23 14:33] mpepping commented on #1887
Same issue here, using v3.9.0. No difference when increasing the time out itself, als the request fails instantly due to the socket not being accessible ('connection refused'):

[code]

[2022-11-23 15:26] tspearconquest commented on #2142
Hello, apologies as I put my update on the other issue: https://github.com/open-policy-agent/gatekeeper/issues/1061

[2022-11-25 07:15] dhirenpsingh commented on #2311
@ctrought , have you tried using the same helm chart over 4.11? Also, does the redeployment work with anyuid i.e. run the helm install command, which creates the namespace and necessary resource once it is deployed. After deployment, delete the Pod, serviceAccount, Jobs, crd but not the namespace and try redeploying. Does it work?

[2022-11-25 14:08] wpjunior commented on #2287
what do you thing about this issue @ sozercan ?

[2022-11-25 16:47] #1630 closed

[2022-11-27 17:34] ctml91 commented on #1386
/active

[2022-11-28 19:51] frvge commented on #1500
@sozercan , the original topic is not about direct rate limiting in any way, but about storing tons of dev builds, eating up unnecessary space in the mirrored location.

Checking for staleness of the image for many containers takes up resources/time and may hit rate limits, but that's secondary to the original issue.

[2022-11-28 20:24] sozercan commented on #1500
@frvge sounds like this is due to mirroring logic on your side, can you exclude images that don't have vX.Y.Z tags?

[2022-11-28 22:52] anlandu commented on #2393
Are we validating only on constraint creation or is the mere existence of a constraint template with this annotation on the cluster enough to require that resource to be synced?

[2022-11-28 23:43] #1774 closed

[2022-11-29 01:43] #2117 closed

[2022-11-29 01:49] maxsmythe commented on #1496
https://github.com/open-policy-agent/frameworks/pull/263

is aimed at enabling this

[2022-11-29 01:53] maxsmythe commented on #2393
IMO existence... this can be checked by looking at the value of the sync config:

* any time a constraint is created/updated
* any time the sync config is modified

This will probably require adding a watch on the sync config to the constraint reconciler (or vice versa). Because constraints are dynamically typed (e.g.  their kinds are not known in advance), this may be difficult to do.

[2022-11-29 01:59] maxsmythe commented on #2287
How would this behave once probability hits 100%? Will there still be partially-mutated deployments?

Assuming the mutation does have an issue, would it interfere with rollout logic? e.g. deployments are meant to gradually roll out pods and check that they are healthy before continuing, it seems like these two processes may interact in unintended ways.

How would users be able to differentiate bet

[2022-11-29 02:05] maxsmythe commented on #2282
Unfortunately privileged users are just that: privileged. If they are compromised, the compromiser would be able to use those privileges for their own ends.

The best defense is to not give this privilege to users who do not need it (principle of least privilege), and harden/restrict access to users who do need the privilege (reduce the attack surface).

[2022-11-29 02:07] maxsmythe commented on #2420
What about for users who use log denies to track whether dryrun requests are being violated?

[2022-11-29 22:14] acpana commented on #692
if we do get around to doing this, we can use [benchstat](https://pkg.go.dev/golang.org/x/perf/cmd/benchstat) for the comparative analysis between benchmark runs.

[2022-11-29 22:50] sozercan commented on #2418
Closing as #2385 is merged now. This will be available as part of helm chart in the next release or you can test these changes using `manifest_staging/charts` folder today. Please feel free to re-open if this persists.

[2022-11-29 22:50] #2418 closed

[2022-11-29 22:52] sozercan commented on #1887
This should be fixed with #2385. This will be available as part of helm chart in the next release (v3.11) or you can test these changes using `manifest_staging/charts` folder today. Please feel free to comment or re-open if this issue persists.

[2022-11-29 22:52] #1887 closed

[2022-11-29 22:54] sozercan commented on #2373
This should be fixed with #2385. This will be available as part of helm chart in the next release (v3.11) or you can test these changes using `manifest_staging/charts` folder today. Please feel free to comment or re-open if this issue persists.

[2022-11-29 22:54] #2373 closed

[2022-11-29 23:44] sozercan commented on #692
I had some early work with this using benchstat, @JaydipGabani is taking this over

[2022-11-30 18:41] sw47 opened #2421 "Feat: Add constraint annotations to audit logs"
The annotations on the constraint are decorated with metadata written by the authors of the constraint during the installation of the constraint and reads the same annotations when retrieving the constraints from api server

Ex:
[code]

This metadata will need to be surfaced for each violation_audited event as new field called **constraint_annotations** similar to how [resource labels are added to