[2022-01-25 18:14] #1795 closed

[2022-01-25 22:36] ritazh opened #1809 "Add gomod to dependabot.yml"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
To automatically catch security vulnerabilities related to Go

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-01-25 22:37] ritazh opened #1810 "Add vulnerability scan to release pipeline"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add trivy to scan the staging image before pushing the official release

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-01-25 22:39] chewong commented on #1809
I can take a look at this issue.

[2022-01-25 22:39] chewong commented on #1810
I can take a look at this issue.

[2022-01-25 23:04] ritazh opened #1811 "Add helm chart best practice tools"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

1. helm lint
2. add values.schema.json
2. https://github.com/norwoodj/helm-docs autogen docs from helm chart into markdown files

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version:

[2022-01-26 22:19] ritazh opened #1818 "Evaluate impact of x-kubernetes-preserve-unknown-fields: true fields introduced by 1.23 prior to 1.23.3"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Does this impact Gatekeeper in anyway? seems it only impacts array types https://groups.google.com/u/0/a/kubernetes.io/g/dev/c/Xl1sm-CItaY?pli=1

Relevant code to evaluate:
https://github.com/open-policy-agent/frameworks/blob/352a1b3fc276fb2cad3629945a91cdc1ae2f18ec/constraint/pkg/schema/transform

[2022-01-27 04:26] shreyas-kb opened #1819 "[gator verify] Support testing AdmissionReview input objects"
I have a question around the best way of testing ConstraintTemplates that are using users and groups. Specifically I'm denying creation/deletion of certain namespaces and verifying the user's group via `userInfo` in the AdmissionReview input object.

The way I currently understand to write unit tests for this is to use the entire AdmissionReview JSON as an input and tweak it each time to test agai

[2022-01-27 22:55] chewong commented on #261
I can take a look at this issue if no one is working on it.

[2022-01-27 22:55] chewong commented on #1253
I can take a look at this issue if no one is working on it.

[2022-01-27 22:55] chewong commented on #877
I can take a look at this issue if no one is working on it.

[2022-01-28 06:19] tarfik opened #1822 "missing tolerations and nodeSelector configuration in gatekeeper/charts/gatekeeper/templates/upgrade-crds-hook.yaml"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
helm install with enabled upgradeCRDs and tolerations or nodeSelector configuration.

**What did you expect to happen:**
gatekeeper-update-crds-hook container should have tolerations and nodeSelector configuration from values

**Anything else you would like to add:**
[Miscellaneous information that

[2022-01-31 09:58] andrewdmcleod commented on #1801
Thanks! I assume this also applies to 1.21? Have not yet tested this myself

[2022-01-31 14:55] mac-chaffee opened #1825 "Specify parameters in gator Suites"
**Describe the solution you'd like**
Looks like gator Suites don't have a field for specifying parameters to pass to the template: https://github.com/open-policy-agent/gatekeeper/blob/8393e15b909cafe95dd745edfd8c6842cd64baee/pkg/gator/suite.go#L37-L54

The way this is worked around currently is that people will just put a default parameter inside the `constraint.yaml` file, and then just never tes

[2022-01-31 17:58] ritazh commented on #1801
@andrewdmcleod That's right.

[2022-02-01 10:02] langecode opened #1826 "[helm chart] PSP does not allow gatekeeper-audit deployment to run"
**What steps did you take and what happened:**
When running with PSP (although they are being deprecated shortly) the PSP definition of the project does not allow the audit deployment to run.

To reproduce deploy chart in cluster with psp enabled.

Replicaset will show the following error:

[code]

**What did you expect to happen:**
I expected Gatekeeper to deploy.

**Anything else you would like

[2022-02-01 15:09] ritazh commented on #1826
Thanks @langecode! This should have been fixed by https://github.com/open-policy-agent/gatekeeper/pull/1711. until this is part of the next release, you can use the chart in https://github.com/open-policy-agent/gatekeeper/tree/master/manifest_staging

[2022-02-01 17:18] willbeason commented on #1803
After a lot of discussion we've figured this out. The Gatekeeper TargetHandler will maintain a cache of objects that the frameworks Client writes to. Matchers include a reference to this cache, and check it when they run matching logic. The client forwards AddCachedData/RemoveCachedData to the TargetHandler.

[2022-02-01 17:18] #1803 closed

[2022-02-01 18:02] asm2git opened #1827 "Rego "import future.keywords.in" causes template failure"
**What steps did you take and what happened:**

After using konstraint to create a ConstraintTemplate YAML file, then doing "helm install" to install the file, I got the following error:

    Error: admission webhook "validation.gatekeeper.sh" denied the request: 1 error occurred: templates["admission.k8s.gatekeeper.sh"]["VaultSecretPath"]:4: rego_parse_error: unexpected import path, must begin wi

[2022-02-01 23:09] julianKatz commented on #1818
## ABSTRACT:

We _are_ susceptible to this bug, as there are ways of creating a JSONSchema where the user hasn't provided sufficient information for us to intuit that they mean to specify a list.  In those cases, the users list information is dropped when they specify it in a constraint, causing a bug.

If we have enough information (`type: array`, a non-null `items:` schema), we fill in the other

[2022-02-02 17:00] #1809 closed

[2022-02-02 18:10] willbeason commented on #1819
This is a great idea - we were already wanting to add support for specifying whether the operation was a create/delete/update.

What we're thinking of doing is allowing test authors to specify either an AdmissionReview or a k8s object. The test can just infer which the object is, and either test it as an object or as an AdmissionReview.

[2022-02-02 18:12] willbeason opened #1835 "[gator test] Change help text for "gator test" to point to "gator verify""
Users who are already using `gator test` won't know implicitly to make this switch. Since Suite objects shouldn't be applied to clusters, we can easily infer that if they run `gator test` on a directory containing Suites that they really meant to run `gator verify`

[2022-02-02 18:28] willbeason commented on #1835
For those who are unawares - we're renaming "gator test" to "gator verify" and adding a new command under "gator test" to make gator more consistent with conftest

[2022-02-02 18:34] willbeason commented on #1835
Changed title since valid gator verify commands aren't gator test commands.

[2022-02-03 01:10] julianKatz commented on #1835
I've verified that using `gator test` in the style of the original `gator test` (now known as `gator verify`) will product an error:

[code]

This error isn't the best, but at least it's an error.  @maxsmythe, @willbeason, and I chatted IRL and the consensus was that an error message referencing another command would be unnecessarily brittle.

The stopgap solution was to include a note in the `--h

[2022-02-03 01:39] #1797 closed

[2022-02-03 01:50] ritazh commented on #1835
@julianKatz should the error also dump `--help` then? as you said, at its current state, the error message does not help users move forward.

[2022-02-03 01:52] #1810 closed

[2022-02-03 03:11] maxsmythe commented on #1827
@srenatus Do you know off the top of your head whether this is due to needing to upgrade G8r's version of OPA? Or is there some bootstrapping that needs doing to enable these imports?

[2022-02-03 03:27] maxsmythe commented on #1825
Suite files should be able to accept multiple constraints to test against:

https://github.com/open-policy-agent/gatekeeper-library/blob/6e3d6b48a51274af1e120204f534ccbd2ac517d9/library/general/uniqueingresshost/suite.yaml

Might be worth exploring how to denormalize things further, but that would depend on relative benefit vs. maintaining enough syntax to denormalize things properly.

It also mig

[2022-02-03 04:41] sdickhoven commented on #1043
at the moment you can only sync secrets more or less indiscriminately.

if you're worried about malicious constraint template authors then having access to every single secret (including service account tokens for highly privileged cluster workloads) seems like a **much** bigger concern than having access to a single secret that was deliberately mounted into the gatekeeper pod specifically so that

[2022-02-03 06:36] srenatus commented on #1827
GK is at OPA 0.35.0 right now, I think. The future keywords machinery was introduced with "in" in 0.34.0 (https://github.com/open-policy-agent/opa/releases/tag/v0.34.0).

Not sure where the problem comes from, I'd need a closer look...

[2022-02-03 06:37] srenatus commented on #1827
Generally there are two ways to enable the future keywords, the import alone should be sufficient. In situations where that isn't available, you can provide the parser options. But one or the other is enough.

[2022-02-03 07:21] srenatus commented on #1827
Hmm looks like 3.7.0 and 3.7.1 of GK use a version of OPA that's too old, 0.29.4.

[2022-02-03 08:25] srenatus commented on #1827
💭 Perhaps it would be useful to mention the OPA version used in a GK version more prominently? I've thought about using badges before, like ![img](https://img.shields.io/badge/opa-0.29.4-lightgreen), but these would have to be updated manually, too.

[2022-02-03 10:53] langecode commented on #1826
Thx, I did not notice that - looked at the chart code in https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper

I managed working around it by disabling the psp from the chart and doing that configuration "on the side".

[2022-02-03 15:27] mriddell-foundry opened #1837 "Deployment Replica Scaling bypasses policy"
**What steps did you take and what happened:**

1. Apply the replica limit template and constraint found here: https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/general/replicalimits.
2. Deploy a test Deployment like the following which conforms to the policy:
[code]
3. After the Deployment is created you are still able to scale the deployment by running something like:
[

[2022-02-03 15:38] ritazh commented on #1827
Opa upgrade now comes from framework. Can you try latest commit in master? that is referencing framework that’s using opa v0.35 https://github.com/open-policy-agent/frameworks/pull/167/files#diff-45830b37d8fe6cfa6317672df498ec856ff48ffd48cd2537d18337e6281d6618R14

+1 on showing opa version badge in master, and perhaps for each release doc. thoughts?

[2022-02-03 15:51] sureshgoli25 opened #1838 "Need help: Constraint template for ensuring every namespace has at least one network policy"
Hi All,

[Need Help]
I am a new bee...

Summary: I am trying to create constraint template to find a way to ensure every namespace in a cluster has at least one network policy defined.

Having little bit of challenges to debug the expressions i have written. Might be completely wrong also ...:)

    violation[{"msg": msg}] {
      input.review.kind.kind == "Pod"
      netpols := data.inventory.nam

[2022-02-03 15:52] leeming commented on #1827
I am trialing gatekeeper currently and I'm super glad this wasn't just me having this issue.

I'm not clear on the above fixes things. I have pulled master for open-policy-agent/gatekeeper and have re-run `helm template charts/gatekeeper/ | kubectl apply -f -` followed by deploying a rule with the import for "in", but I still get "Request is invalid".  Whereas the same rule in https://play.openpol

[2022-02-03 16:02] asm2git commented on #1827
@ritazh When I try to build Gatekeeper locally it fails. My boss doesn't want me spending time trying to debug the local build.

I'm installing from the published Helm charts. if there were a snapshot or bugfix Helm chart I could use I could test that. Or a bugfix or snapshot Docker image that I could specify in my "helm install".

Thanks,
Adam

[2022-02-03 16:05] #261 closed

[2022-02-03 16:05] #877 closed

[2022-02-03 16:05] #1253 closed

[2022-02-03 19:03] willbeason commented on #1835
I'm pretty sure there's a way to make Cobra show help text if it encounters an error. I think there's a call you can use to suppress it after basic validation as well. So like you can make sure Cobra prints help text if flag parsing doesn't succeed, but then disable it  if flags are parsed properly and make sense.

[2022-02-03 20:48] julianKatz commented on #1818
@ritazh, given our small but real exposure to this bug, how would you suggest we move forward?

Do we have a place for putting out something like a Public Service Announcement?  I think we can recommend people to use `legacySchema: false` in their templates, which will require them to be specific with types.  That should prevent them from experiencing the bug.

[2022-02-03 21:52] sozercan commented on #1818
Should we pin this issue?

[2022-02-04 13:32] Aabhusan commented on #1127
when i was configuring the gatekeeper in GCP cluster got a similar issue
`Error from server (InternalError): Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh": Post "https://gatekeeper-webhook-service.gatekeeper-system.svc:443/v1/admitlabel?timeout=3s": dial tcp 172.20.4.5:8443: i/o timeout`

It was firewall issue, enable the port 8443 in the gke master node. evert

[2022-02-04 14:42] darkstarmv commented on #786
I have a couple of ingress constraints to block duplicate ingress host and localhost.
I'll try to dig through logs some more

[2022-02-04 17:30] willbeason commented on #1562
This will be fixed with the ongoing compiler sharding work in frameworks. Since each ConstraintTemplate will get its own Rego compiler, one failing to compile means the others will still be able to execute. Similarly - a Rego runtime error for a Constraint set to warn will be able to simply "warn" rather than halting execution.

[2022-02-05 00:31] maxsmythe commented on #786
Might also be worth seeing if disabling the webhook temporarily solves the problem. Not 100% clear G8r is involved, only that it's installed on the cluster. If disabling the webhook doesn't clear the issue, it's likely not G8r.

[2022-02-05 00:35] maxsmythe commented on #1127
Thanks for the update @Aabhusan !

Since this bug is ~1 year old, closing due to staleness. OP can re-open if needed.

[2022-02-05 00:35] #1127 closed

[2022-02-05 00:55] maxsmythe commented on #1827
IIRC we build an image from HEAD for every commit, tagged with the shortened commit hash:

https://hub.docker.com/r/openpolicyagent/gatekeeper/tags

It looks like you can change the image tag used in the Helm chart via `values.image.release`:

https://hub.docker.com/r/openpolicyagent/gatekeeper/tags

Mixing Helm chart versions and image versions probably isn't a great long term idea, since the req

[2022-02-05 00:56] maxsmythe commented on #1827
also, @srenatus thanks for digging in!

[2022-02-05 01:00] maxsmythe commented on #1838
- Make sure you have G8r set up to sync network policies
- It looks like `netpols` is a primitive, not a list, whereas `count()` requires a collection-type object. This is likely causing the Rego not to match. Using a list comprehension should help:

[code]

[2022-02-05 01:01] maxsmythe commented on #1838
Also `"networking.k8s.io"` should be the `groupVersion` (e.g. `networking.k8s.io/v1` or whatever version you chose to cache in the sync config)

[2022-02-05 01:03] ritazh commented on #1827
I think that makes sense. But this is technically not a patch since we are upgrading opa. So we would need to cut v3.8.0. Are we ready for that?

[2022-02-05 01:05] maxsmythe commented on #1837
Thanks for reporting!

If you `kubectl get` the constraint, does the violation show up in the audit results?

I'm guessing it's because `scale` requests take a different API server path, but confirming that audit results show up would help by ruling out a bug in the constraint/template.

[2022-02-05 01:10] maxsmythe commented on #1827
Do we have specific features we want in 3.8? Sharding?

[2022-02-05 01:12] ritazh commented on #1827
yes

[2022-02-05 02:57] maxsmythe commented on #1827
Okay, let's see how the timelines go

[2022-02-07 09:58] sureshgoli25 commented on #1838
New bee mistakes...:)
Thanks for helping me. It works as expected.

Below code works:

[code]

[2022-02-07 09:58] #1838 closed

[2022-02-07 11:08] Aabhusan commented on #1127
No problem @maxsmythe  :)

[2022-02-08 01:40] #1835 closed

[2022-02-08 01:46] ritazh opened #1841 "CVE-2021-44716 in gatekeeper v3.7.0"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

net/http in Go before 1.16.12 and 1.17.x before 1.17.5 allows uncontrolled memory consumption in the header canonicalization cache via HTTP/2 requests. https://nvd.nist.gov/vuln/detail//CVE-2021-44716

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous info

[2022-02-08 01:47] ritazh commented on #1841
Fixed in https://github.com/open-policy-agent/gatekeeper/releases/tag/v3.7.1

Please upgrade to v3.7.1

[2022-02-08 01:47] #1841 closed

[2022-02-08 15:04] #1791 closed

[2022-02-08 20:13] sozercan commented on #1561
@willbeason just checking if this is resolved?

[2022-02-08 20:21] chewong commented on #1133
I can take a look at this issue if no one is working on it

[2022-02-08 20:26] willbeason commented on #1561
I don't recall. Do we have a test for this?

[2022-02-09 09:29] maxsmythe commented on #1133
Do we have a use case for this yet? I am slightly concerned about user complexity unless we know there is a need. Also, would be good to see a mock API for this before we commit to coding it to be sure we agree on direction. Probably just pasting some mock resources in this issue is fine IMO

[2022-02-09 12:26] bj-1795 opened #1842 "Not able to get Violations in Constraints."
I am not able to see any  violations in my constraints , I am getting below error in my audit logs:

[code]

[2022-02-09 17:53] willbeason opened #1843 "[gator verify] Allow comparison of previous state of object"
If an object's former state matched a Constraint but its new form does not, the Constraint should still be run against the new object. `gator verify` should fill in oldObject for the review request if the old object is present in the inventory.

In the future, of course, we should allow users to optionally specify the full admission request instead of a single CREATE-d object.

[2022-02-09 18:12] sandyjensen commented on #1842
Can you share your Deployment?  It sounds like your disk doesn't exist, is

https://github.com/open-policy-agent/gatekeeper/blob/b36e85531dbe9b4abfccf86dd9746bbe2f98e004/deploy/gatekeeper.yaml#L2362-L2372

...intact for you?

[2022-02-09 18:24] bj-1795 commented on #1842
[code]
values.yaml :
[code]

[2022-02-09 20:16] sozercan commented on #1842
@bj-1795 is this a new install or an upgrade?

[2022-02-09 22:18] #63 closed

[2022-02-09 22:19] ritazh commented on #237
Closing this since it has been 2 years since GK moved to v3.

[2022-02-09 22:25] ritazh commented on #57
Closing since we have not gotten new issues related to this.

[2022-02-09 22:25] #57 closed

[2022-02-09 22:32] ritazh commented on #264
Closing since users can report issues https://github.com/open-policy-agent/gatekeeper/blob/master/SECURITY.md which links to https://github.com/open-policy-agent/opa/blob/main/SECURITY.md

[2022-02-09 22:32] #264 closed

[2022-02-10 06:01] bj-1795 commented on #1842
new install, I have changed the values of nodeselector after which i am facing this issue.

[2022-02-10 06:24] ritazh commented on #1842
@bj-1795 can you pls share the exact steps you used to reproduce this issue? e.g. helm chart used, values passed in, nodeSelector values?

[2022-02-10 17:15] chewong commented on #1561
I can take a look at this if it's not fixed.

[2022-02-10 17:19] willbeason commented on #1561
@chewong That'd be great! Thank you.

[2022-02-10 17:23] #198 closed

[2022-02-11 04:50] omkat commented on #1270
@FelixRodriguezJara @sozercan I was getting the same error in gatekeeper version 3.7.0 when creating any namespace

`Error from server (InternalError): Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh": expected response.uid="a09ec9ac-d696-4f4e-bffa-d0526acd0247", got ""`

After altering the admissionReviewVersions: ["v1", "v1beta"] from the default manifest to adm

[2022-02-11 18:34] willbeason commented on #1843
Note that after this feature is added, the tests added here: https://github.com/open-policy-agent/gatekeeper-library/pull/173 should be updated to take advantage of it.

[2022-02-12 01:24] maxsmythe commented on #1270
From the kubernetes docs:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#validatingwebhook-v1-admissionregistration-k8s-io

[2022-02-12 01:35] #1561 closed

[2022-02-12 06:06] omkat commented on #1270
@maxsmythe So in this case, if  `admissionReviewVersions: ["v1", "v1beta"]` is specified, shouldn't it look for v1 and v1beta both and then fail...Here namespace which is intended to create is in v1 version which is recognised by API Server, so it should not fail? Please let me know if I am missing something.

[2022-02-12 07:45] HenriWilliams commented on #1056
Hi,

@soorena776, your solution works for me as well, thanks for providing a gist! @maxsmythe Is this something that we could add support for in the gatekeeper helm chart? I'm happy to raise a PR for this.

[2022-02-13 05:24] redhat-demo commented on #1822
hello, Does this bug have been solved? we want to deploy gatekeeper operator pods just only on Master Node @tarfik

[2022-02-14 19:50] asm2git commented on #1827
I just tested this again. I used the command "helm install gatekeeper gatekeeper/gatekeeper --set image.release=$1 --set postInstall.labelNamespace.image.tag=$1" where "$1" was every Docker image tag (from https://hub.docker.com/r/openpolicyagent/gatekeeper/tags) "dev" back to "e47b31c". All of them failed with the error "Error: admission webhook "validation.gatekeeper.sh" denied the request: inva

[2022-02-14 19:54] willbeason opened #1849 "Cache Namespaces in k8s Handler cache"
Use the handler.Cache interface from frameworks.

Gatekeeper should keep track of Namespaces and pass in the cache to the matcher if the request object does not contain the object's Namespace

[2022-02-14 19:56] willbeason commented on #1849
You don't need to do anything special with the key - that should be the key of the map used in the cache. Check the GroupKind of the object to see if it's a Namespace.

The cache should be threadsafe as multiple requests to add/remove Namespaces may come in at once.

[2022-02-14 19:57] willbeason commented on #1849
And for now we don't care about storing anything but Namespaces.

[2022-02-15 02:53] maxsmythe commented on #1827
Anything tagged with a hash in the past little while (`fc374da` is the most recent hash-specific build) should have the current version of OPA that we're using in HEAD.

I think the issue might be our locked down importing that we use to enforce sandboxing:

https://github.com/open-policy-agent/frameworks/blob/7950750c4ec6a56d55a8521b40d85ef35de25170/constraint/pkg/regorewriter/regorewriter.go#L28

[2022-02-15 03:02] maxsmythe commented on #1056
I don't see a reason why not. @sozercan @ritazh @shomron ?

[2022-02-15 03:07] maxsmythe commented on #1270
`admissionReviewVersions` specifies the preferred format of the `AdmissionReview` object, which is the JSON message passed from the API server to an admission webhook, it does not affect which version of the resource-under-test that gets passed to the webhook.

See https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#webhook-request-and-response

for what the v

[2022-02-15 07:09] qubusp opened #1851 "process_virtual_memory_max_bytes gauge process_virtual_memory_max_bytes 1.8446744073709552e+19"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-02-15 07:10] #1851 closed

[2022-02-15 08:27] ritazh commented on #1056
+1 I think this would be a great enhancement!

[2022-02-15 12:24] Aabhusan commented on #1041
@swapnild2111 @ritazh @grosser @alban @tim775
Hello guys, I am having issue with gate keeper.

[2022-02-15 12:40] Aabhusan commented on #1041
@swapnild2111 @ritazh @grosser @alban @tim775
Hello guys, I am having issue with gate keeper.

i am  configuring the gatekeeper in sanbox cluster. The policy to be implement is when pv and pvc resources is created then it should validate the name of the storageclass should be "test-storageclass" other than this name it should throw a deny message.

My template.yaml file is this :
`apiVersion: temp

[2022-02-15 15:35] willbeason commented on #1827
@maxsmythe Yes - I'm fixing this and moving it to be an option on Driver. Client shouldn't care about this, and it makes sense as a Driver configuration. There's never a reason to change this at runtime, so it will be an immutable part of Driver specified via an Arg in the constructor.

[2022-02-16 00:33] maxsmythe commented on #1041
@willbeason I think the ability to run `gator verify` with Rego traceback could be helpful in these cases. Thoughts?

@Aabhusan It looks like there is a typo in the constraint. `stroageClassName` -> `storageClassName`.

If you were to use `v1` instead of `v1beta1` for your constraint template version, you'd get an error message due to trying to define an unknown parameter. `v1` CTs enable strict t

[2022-02-16 09:57] redno2 opened #1852 "grafana dashboard"
may be interesting you.
https://grafana.com/grafana/dashboards/15763

[2022-02-16 10:02] Aabhusan commented on #1041
@maxsmythe Thank you for your response. I fixed the typo and now it is denied for everything. I suspect i  am not getting correct value from input.review.object.spec.storageClassName. >> I printed that in msg and got empty set().
this the output.
![image](https://user-images.githubusercontent.com/37671561/154241192-4f4ecccf-2b25-4ef4-8997-5139f682bf22.png)

[2022-02-16 10:09] Aabhusan commented on #1041
i wonder is there any proper documentation on rego language for referencing >> input.review.object.spec.storageClassName these kind of references >> spec.storageClassName comes from the yaml configuration of our resource but input.review. object or input.request.object: found these two. really confused on this one.

[2022-02-16 10:19] Aabhusan commented on #1041
tried api version v1 in the template and still got the same issue. got set() empty set from input.review.object.spec.storageClassName.

[2022-02-16 15:08] ritazh commented on #1852
This is really cool @redno2 ! Thanks for creating this and sharing! Maybe we should add this to the gk docs. wdyt? @sozercan @maxsmythe ?

[2022-02-16 15:56] marty90 opened #1855 "Match a specific user"
Hi all,
I need to install a Constraint that forces a specific user (identified e.g., by username `tom`) to run containers with a specific user ID (e.g., 5012. Using the `K8sPSPAllowedUsers` constraint template would be fine:

[code]

However, I need a way to `match` a constraint against a user. I saw that Contraint can be matched against types of resources, namespaces, labels, etc.

How can I have

[2022-02-16 17:18] sozercan commented on #481
@shomron's idea: deduplicate using uuids and preferredVersions

[2022-02-16 17:27] sozercan commented on #388
This can result in a data loss, might be better to do this from CLI.

[2022-02-16 17:27] #388 closed

[2022-02-16 17:31] sozercan commented on #335
Since there are no users wanting this solution, and adapters are an option. Closing this for now.

[2022-02-16 17:35] sozercan commented on #332
Customers using audit results to determine cluster compliance need to differentiate between audit and dryrun runs.

[2022-02-16 17:42] sozercan commented on #306
Potential solution: exempt specific resources in config resource

[2022-02-16 17:42] #306 closed

[2022-02-16 17:45] #136 closed

[2022-02-16 17:48] sozercan commented on #479
We have this in gatekeeper-library as example https://github.com/open-policy-agent/gatekeeper-library/blob/fff1c54d1197a32bbfd4683f99bed239fa9955dc/library/pod-security-policy/privileged-containers/samples/psp-privileged-container/constraint.yaml

[2022-02-16 17:48] #479 closed

[2022-02-16 17:49] sozercan commented on #500
We have pre and post matching now!

[2022-02-16 17:49] #500 closed

[2022-02-17 10:19] omkat commented on #1270
thanks @maxsmythe !

[2022-02-17 13:14] fireman777 opened #1856 "Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh": Post "https://gatekeeper-webhook-service.gatekeeper-system.svc:443/v1/admitlabel?timeout=3s": Address is not allowed"
**What steps did you take and what happened:**
Gatekeeper (v3.7.1) installation via helm on AWS Kubernetes cluster (v1.19) fails:. The error is (logs from POD gatekeeper-update-namespace-label-<...> ):
`Error from server (InternalError): Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh": Post "https://gatekeeper-webhook-service.gatekeeper-system.svc:443/v1/admitlab

[2022-02-17 13:31] Aabhusan commented on #1041
@ritazh @maxsmythe @swapnild2111 @grosser
Any help for this issue ???

[2022-02-17 15:07] ritazh commented on #1856
Seems the K8s API server cannot reach the webhook pods. Setting failurePolicy to ignore allows the webhook call to fail open.

Did a quick search. Can you see if this is related to your setup? https://medium.com/@denisstortisilva/kubernetes-eks-calico-and-custom-admission-webhooks-a2956b49bd0d

[2022-02-17 15:15] ritazh commented on #1818
@julianKatz Thank you so much for verifying!

Can you pls provide an example of the fix with one of the test cases above?

[2022-02-17 22:47] seh commented on #1386
Though the example and capability that @maartenvdezz requested here is about set membership, being able to remove fields in general seems like you could create oscillation.

Consider:
- _Assign_ _A_
  If field "x" does not exist, assign 1 to field "y."
- _Assign_ _B_
  If field "y" exists, assign 1 to field "x."
- _Assign_ _C_
  If field "x" exists, remove field "x."

If that's possible with Gatek

[2022-02-18 04:04] maxsmythe commented on #1386
Currently we don't allow for cross-field checking, so if you're assigning to field `x` you can only test `x` (or its parents). This means _Assign A_ and _Assign B_ can't currently be written.

I think the system above would converge, since convergence is about whether the system eventually reaches a stable value. In this case, the final value after _Assign C_ converges to `{"y": 1}`

[2022-02-18 04:11] maxsmythe commented on #1041
Looking at your example object, it looks like `spec.storageClassName` is a string, not a list.

That means there is something a bit off with your constraint -- a user can only ever supply a single storage class name. Because of this, it makes sense to check if the storage class is one of an allowed set of storage classes.

`not required[input.review.storageClassName]`

might be helpful here.

[2022-02-18 04:17] maxsmythe commented on #1855
One thing to note: this constraint would not be auditable, since there is no way to know what user created a resource after its been created. If possible, it's better to constraint things using permanent state (e.g. what namespace an object's in, repo used, etc.) than transient state, since it's auditable and user-neutral (so you can detect things like people abusing breakglass and the like).

If

[2022-02-18 04:20] maxsmythe commented on #1852
Nice! Yeah, it's probably worth having a section that mentions other projects that integrate. We don't want to embed external projects too deeply into the docs b/c we'd risk things going stale, but mentioning sounds safe to me :)

[2022-02-18 11:29] Aabhusan commented on #1041
Thank you sir for the help. it is finally solved :)

[2022-02-18 11:54] marty90 commented on #1855
Thank you for the quick reply.

Actually, I think that, following the Kubernetes philosophy, it is not a good idea to have a `match` on `users`.
As you pointed out, there is no way to keep track of the user that has created a resource after it has been created.
Moreover, this approach would fall short in case of deployments, where the "user" creating a pod is the Deployment controller, and not the

[2022-02-18 14:35] fireman777 commented on #1856
The reason was really in the Calico network. And usage of host network (running with parameter "controllerManager.hostNetwork" = "True") fixed the issue.
Thanks a lot @ritazh for help.

[2022-02-18 14:36] fireman777 commented on #1856
The reason was really in the Calico network. And usage of host network (running with parameter "controllerManager.hostNetwork" = "True") fixed the issue.

[2022-02-18 14:52] ritazh commented on #1856
For details on Gatekeeper’s webhook failurePolicy, PTAL https://open-policy-agent.github.io/gatekeeper/website/docs//gatekeeper/website/docs/failing-closed

[2022-02-18 15:19] ritazh commented on #1855
Closing this since issue has been addressed with a solution. Feel free to re-open if needed.

[2022-02-18 15:19] #1855 closed

[2022-02-18 18:48] seh commented on #1386
Oh, I missed that in [the documentation](https://open-policy-agent.github.io/gatekeeper/website/docs/mutation#conditionals). It doesn't mention which fields one can inspect.

Would'n _Assign B_ and _Assign C_ keep duking it out, alternately inserting field "x" and then removing it again, or would _Assign B_ not run again after _Assign A_ adds field "x" back in?

[2022-02-21 13:50] zhilingc opened #1863 "PodAnnotations not applied to crd update job pods"
**What steps did you take and what happened:**
Needed to add the pod annotations
[code]
to avoid istio interfering with kubernetes API calls made by gatekeeper services.
The annotations are not applied to the job pods.

**What did you expect to happen:**
Provided podAnnotations should be applied to job pods. Alternatively, they could be set separately.

**Anything else you would like to add:**
[Mi

[2022-02-23 15:25] willbeason opened #1864 "[gator verify] Allow running with tracing enabled"
This will aid in debugging where people have made an easy typo in their Rego.

[2022-02-23 15:33] JosephGJ commented on #1701
We currently use kube-mgmts mutating webhook to inject a logging pipeline label set on our cluster user namespaces into the individual pods in said namespace. This is used by fluentbit to ship logs off from our pods to the correct kafka topics / Elastic Indexes.

I was looking at this thread as I was attempting to replicate this functionality we have with kube-mgmt as we're migrating to use gateke

[2022-02-23 22:47] sozercan opened #1865 "document config resource as alpha"
**Describe the solution you'd like**
api is marked as alpha but we are not documenting this as alpha in docs

[2022-02-23 22:50] maxsmythe commented on #502
closing this for now as WAI, re-open if this needs more discussion.

[2022-02-23 22:50] #502 closed

[2022-02-23 22:56] maxsmythe commented on #572
We should revisit this after the performance improvements have merged... it should be simple to provide a fail-fast option at that point.

[2022-02-23 23:00] maxsmythe commented on #600
We should document this as part of constraint template authorship docs.

[2022-02-24 01:59] maxsmythe commented on #1701
It sounds like you are looking to inject a label value from a namespace into an arbitrary location in a resource owned by that namespace?

How many different label keys/values do you have?

I'm thinking using a namespace selector may be the way to go if the cardinality isn't too high:

https://open-policy-agent.github.io/gatekeeper/website/docs/mutation#extent-of-changes

[2022-02-24 02:38] maxsmythe commented on #1386
If you keep iterating, you'll always get `{"y": 1}` after the third mutator is applied.

In order to get infinite mutations, you'd need a cycle:

* A: if x, unset z
* B: if z, unset y
* C: if y, unset x
* D: if z, set x
* E: if y, set z
* F: if x, set y

iterations:
* input: {x, z}
* 1st output of F: {x, y}
* 2nd output of F: {y, z}
* 3rd output of F: {x, z}

Here the output bounces between {x, z}

[2022-02-24 02:40] #1550 closed

[2022-02-24 02:41] maxsmythe commented on #1863
How are you installing Gatekeeper? Which pods are you trying to add this annotation to?

[2022-02-24 02:45] maxsmythe commented on #1818
set `spec.crd.spec.validation.legacySchema = false`

[2022-02-24 04:05] #1670 closed

[2022-02-24 07:03] ritazh commented on #1863
Looks like `podAnnotations` is missing from the crd update job like we have for gk controller manager and audit pods https://github.com/open-policy-agent/gatekeeper/blob/master/manifest_staging/charts/gatekeeper/values.yaml#L51 and https://github.com/open-policy-agent/gatekeeper/blob/master/manifest_staging/charts/gatekeeper/templates/gatekeeper-controller-manager-deployment.yaml#L28

These change

[2022-02-24 07:51] #1752 closed

[2022-02-24 09:16] leeming opened #1868 "Update slack channel in readme"
**What steps did you take and what happened:**
I tried to join a slack channel, but it didn't exist

Your main readme states

But it appears the real channel is #opa-gatekeeper . I'm not sure if the link works as I have a disconnect between my work and personal machines so navigated manually

**What did you expect to happen:**
The channel to exist

**Anything else you would like to add:**
n/a

**E

[2022-02-24 09:58] JosephGJ commented on #1701
We aren't looking to inject the namespace label into an arbitary location. We need to inject a label on the namespace into the same label on the pods. We only need to be able to inject one label from the namespace into that same label on each pod created within said namespace, but this will need to happen for each namespace on that cluster.

I'm not sure if a namespace selector would work for us.

[2022-02-24 10:28] JosephGJ commented on #1701
Here's an example:
- Namespace
[code]
An example of the AssignMetadata we'd like:
[code]
What that would look like on the pods:
- kubectl describe pod
[code]

[2022-02-24 14:53] sathieu opened #1869 "Insert failed with Assign matching on mountPath"
**What steps did you take and what happened:**

The following works:

[code]

The following doesn't:

[code]

Diff:

[code]

**What did you expect to happen:**

Both syntax should work. I need to match on mountPath because I'm mounting the same volume twice (in `/opt/java/openjdk/lib/security/cacerts` and `/etc/ssl/certs/java/cacerts`).

**Anything else you would like to add:**
Error:

[code]

**E

[2022-02-24 21:13] sozercan commented on #1868
@leeming thanks for reporting this! would you be interested sending a PR for this? If not, let me know and I can update this

[2022-02-25 18:04] brian-provenzano opened #1873 "Best helm chart to use (artifacthub.io or this repo)?"
I am just wondering what is the helm chart that is recommended for gatekeeper? I see 2 charts one in this [repo](https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper) and the one on [artifacthub.io maintained by sozercan](https://artifacthub.io/packages/helm/gatekeeper/gatekeeper).

They seem to be referencing the same chart url `https://open-policy-agent.github.io/gatekee

[2022-02-25 18:37] sozercan commented on #1873
@brian-provenzano it's the same Helm repo URL in artifact hub, please see https://open-policy-agent.github.io/gatekeeper/website/docs/install#deploying-via-helm

`/charts` in git repo is same chart as Helm repo
`/manifest_staging/charts` is the staging environment for chart before it gets cut for a release (used for testing)

Recommendation is to use Helm repo or /charts (depending on your prefere

[2022-02-25 18:51] brian-provenzano commented on #1873
thanks - i see it is the same helm URL in both.  We use artifacthub.io as a "one stop shop" location to watch other upstream charts we use, so it sounds like using gk  would work since it (artifacthub.io) is updated regularly.  Thanks!

[2022-02-25 18:56] sozercan commented on #1873
ArtifactHub just fetches from the Helm repo so that should be updated as soon as ArtifactHub queries our Helm repo.

Closing, feel free to re-open if you have any questions.

[2022-02-25 18:56] #1873 closed

[2022-02-28 11:28] fgunited opened #1883 "Audit gatekeeper evaluation base seems to not match"
**What steps did you take and what happened:**

The audit-service give me a status in the constraint, that does not match with the
original through the k8s webhook given response when creating a ressource.

I've Created a constrainttemplate and a constraint:
[code]

Successfully created following Ingress without any warning:
[code]

**But** the audit-service created following status in the constra

[2022-02-28 15:15] asm2git commented on #1827
@willbeason, @maxsmythe: Any idea when this change will make it into a release (3.7.x or 3.8)? Please understand that I'm not trying to rush you or put pressure on you, I just need to schedule some other work so it would help me if I had an idea of when this might be ready? Thanks.

[2022-02-28 16:58] ritazh commented on #1883
When a constraint's enforcement action is set to `warn` it does not block creation but should have returned a warning if there's a violation. Audit will flag a resource in the cluster if there's a violation. You do not see any warnings when creating the ingress resource? See more details here: https://open-policy-agent.github.io/gatekeeper/website/docs/violations#warn-enforcement-action

[2022-02-28 17:10] fgunited commented on #1883
In the above example it is correct that I do not get any warning, nevertheless the audit-service sees it different.
For example I have not set "servicePort" but "service.port", still the audit-service complains about "servicePort".

If I add real violations it works as designed with getting the warning on ingress-creation.

[2022-03-01 08:27] leeming commented on #1868
Sorry for the delay. Sure I can raise a PR for this, just need to read over your contrib guide first. Just checked the url and it seems fine as the channel was likely renamed at one point

[2022-03-01 09:41] #1488 closed

[2022-03-01 15:22] newwuhan5 commented on #1863
I am working for Fidelity Investment.  I have been coding Go Lang for a while.  I'd like to contribute to this project.  Can someone help me or point me to the doc on how to create a working branch.  I already clone the master branch.

[2022-03-02 01:37] maxsmythe commented on #1863
GitHub's documentation on Git may be helpful: https://docs.github.com/en/get-started/using-git/about-git

[2022-03-02 01:48] maxsmythe commented on #1883
what is the whole output of `kubectl version`? k8s supporting `warn` is relatively recent, so that could be the issue.

[2022-03-02 02:04] maxsmythe commented on #1869
Is there an error on the `status` field of the mutator?

Do you have multiple mutators modifying volume mounts? If so, you can only use one field as the key field, as that is the field that uniquely identifies an entry in a list. (`patch merge key` in the K8s [api reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#container-v1-core) says `mountPath`). Otherwise it'd be

[2022-03-02 08:07] fgunited commented on #1883
That would be interesting:
[code]

[2022-03-02 09:31] skattaa opened #1887 "installation with helm stucks till reaching timeout"
**What steps did you take and what happened:**
Good day ,
I have tried to deploy gatekeeper using helm charts as :
`helm install -n gatekeeper-system gatekeeper gatekeeper/gatekeeper`
it keeps stucking, and helm status shows "pending-install" .. then it fails after reaching timeout .

**What did you expect to happen:**
gatekeeper is installed and running

**Anything else you would like to add:**
b

[2022-03-02 21:58] willbeason commented on #1827
Yes - 3.8 is pushed back to March 14th, but this change will be included.

[2022-03-03 05:19] maxsmythe commented on #1883
It looks like "warn" was introduced in k8s 1.19, so it should be sending a warning: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#response

@ritazh Do you know how the warning is supposed to appear in kubectl?

@fgunited

Are you saying you only see the warning text when there are other violations, such that the request is rejected? I wonder if that is a

[2022-03-03 07:52] fgunited commented on #1883
@maxsmythe
In my above example the rego-rule (Check if servicePort is set) should not be successful and so should not trigger any warning:

- ✅  When creating the example ingress, the behaviour is correct, as I get no warning.
- ❌  But on regular audition the contraint-object shows me a violation/warning for the created ingress, as it sees there the servicePort attribute, which does originally not

[2022-03-03 15:00] ritazh commented on #1883
@fgunited Can you get the entire output of the running “example”ingress from the cluster?

[2022-03-03 15:24] fgunited commented on #1883
@ritazh Sure:
[code]

Thanks!

[2022-03-04 02:31] maxsmythe commented on #1883
The audit violation is being thrown against the v1beta1 version of Ingress:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#ingressbackend-v1beta1-networking-k8s-io

The `v1` version of ingress (which is what you're kubectl-applying) doesn't have a field called `servicePort` (aside: it looks like this constraint template is written against the `v1beta1` version of Ingress), s

[2022-03-04 07:55] fgunited commented on #1883
That's interesting, this means, I've no chance to see via a describe of a constraint, if an object was created initially in a new or deprecated api-version, as all api version representations will be checked.

Correct?

[2022-03-08 08:04] maxsmythe commented on #1883
Correct.

Kubernetes generally doesn't care which representation version was used to create an object, beyond the fact that different versions may have different defaults for certain fields.

Here is the K8s documentation on backwards compatibility between versions:

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md

And the CRD documentation ha

[2022-03-08 12:09] tamilsaran opened #1902 "Gate keeper policy for memory resource limit based condition"
Need to add the container memory resource limit-based policy.
Like
To check all container memory limits and <8GI means
wants to stop the pods  creation

[2022-03-08 21:48] ZhiminXiang opened #1903 "agilebank demo uses deprecated Ingress"
**What steps did you take and what happened:**
1. Ran the [agilebank demo](https://github.com/open-policy-agent/gatekeeper/tree/master/demo/agilebank).
2. In the step of doing dryrun, the [Ingress](https://github.com/open-policy-agent/gatekeeper/blob/master/demo/agilebank/dryrun/bad_resource/duplicate_ing.yaml) failed to be created because of the error
[code]

**What did you expect to happen:**
Th

[2022-03-09 01:36] maxsmythe commented on #1903
Thanks for highlighting this. Probably time to refresh the resources/constraints used in the demo.

[2022-03-09 09:36] JosephGJ commented on #1701
Yeah, that essentially summarises the issue.

The namespace selector isn't really viable, as this would be a cluster-wide rule effecting every namespace in the cluster and there are a large number of values that the label could have.

[2022-03-10 13:16] tomas-stary opened #1907 "Throttling gatekeeper controller manager"
**What is wrong:**
I have a problem with the gatekeeper controller manager throttling. I have set a large CPU limit. The current CPU consumption is small, but there is still a large throttling, as can be seen in the picture.

![image](https://user-images.githubusercontent.com/77337215/157665783-0bda954b-0615-4bb0-8f4c-cf6d2f4987cb.png)

**This can be fixed easily:**
I would like to ask you to add

[2022-03-10 14:34] jacks-reid opened #1909 "Match Constraints against Generator Resources"
**Describe the solution you'd like**

Gatekeeper should match against generator resources when the resources created by that generator would violate a constraint. For example, a Deployment that spawns Pods that would violate a constraint should have that same constraint match against the Deployment as well.

This feature should likely only be a "warning" for generator resources. The purpose of the

[2022-03-10 16:00] skattaa commented on #1907
I am facing really the same throttling issue .. will try this solution
thx

[2022-03-10 18:12] sozercan opened #1910 "document or link to resolve DCO issues"
**Describe the solution you'd like**
we got a few questions about DCO check fail in CI, we should add a document or link on how to sign git commits and resolve any issues in contributing doc

[2022-03-10 21:28] sozercan commented on #1907
I think we discussed this briefly in a community call, would adding https://github.com/uber-go/automaxprocs help here? cc @willbeason

[2022-03-11 16:45] grosser commented on #690
Some documented way of "when compiling gatekeeper dump things into this folder and then you can use them as constraints" would be a good enough start.
Not a great UX, but allows us to play with the feature without needing a lot of investment.

[2022-03-14 14:02] #1903 closed

[2022-03-15 03:08] maxsmythe commented on #1907
I'd be curious to see the QPS to the validation webhook, we should really set a maximum number of validation threads, since Rego is relatively expensive to run infinitely parallel:

https://github.com/open-policy-agent/gatekeeper/blob/80d9993d44294e27809910a92fde521cb78886a1/pkg/webhook/policy.go#L61

[2022-03-15 03:23] maxsmythe commented on #1907
Not suggesting we shouldn't also allow setting GOMAXPROCS FWIW.

IIRC K8s CPU throttling is pretty involved, described here:

https://medium.com/omio-engineering/cpu-limits-and-aggressive-throttling-in-kubernetes-c5b20bd8a718

[2022-03-15 03:44] maxsmythe commented on #1907
This article is a bit more clear WRT how shares vs. quota interact:

https://nodramadevops.com/2019/10/docker-cpu-resource-limits/

[2022-03-15 04:49] #1761 closed

[2022-03-15 12:45] newwuhan5 commented on #1863
Thanks.  I will take this issue if it's OK.

[2022-03-15 14:30] newwuhan5 commented on #1863
@ritazh  Can you elaborate more on how to reproduce this issue, that way I can find a solution?

[2022-03-16 14:00] ritazh commented on #1863
@newwuhan5 you can take a look at this PR https://github.com/open-policy-agent/gatekeeper/pull/460 to see how podAnnotations was added for audit and controller manager pods, then do the same for the crd update job following steps I mentioned here: https://github.com/open-policy-agent/gatekeeper/issues/1863#issuecomment-1049553786 Once you have made the changes, you can test it by setting the helm

[2022-03-16 17:15] ritazh commented on #1907
what would be reasonable default for `max-serving-threads`?

[2022-03-16 19:40] #1849 closed

[2022-03-16 21:12] maxsmythe commented on #1907
# of CPU cores maybe? 1-5? Unfortunately tuning it properly depends on the footprint. Currently the default is "infinity" though, which is definitely wrong.

[2022-03-17 09:48] tomas-stary commented on #1907
@willbeason Hi, I'm not sure about the cloud. However, if you have Kubernetes on bare metal, Golang can see all the CPU cores on the node without the GOMAXPROCS variable. Because there is a limitation on the resources.limit side, the throttling occurs even if the actual CPU usage is small.

Note from [Golang documentation](https://pkg.go.dev/runtime) about GOMAXPROCS:
"
The GOMAXPROCS variable lim

[2022-03-17 21:49] willbeason opened #1916 "Merge in frameworks compiler sharding"

[2022-03-19 09:49] mozillazg opened #1918 "Data race detected"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Found a data race when running the e2e test with enable race detect:

Enable race detect:
[code]

Run e2e test:

[code]

Check logs:

[code]

[race.log](https://github.com/open-policy-agent/gatekeeper/files/8308910/race.log)
[gatekeeper-controller-manager-6c4dff4955-d52hm.log](https://github.com/op

[2022-03-21 16:29] arapulido opened #1925 "gatekeeper_mutators metric doesn't get updated when a mutator is deleted"
**What steps did you take and what happened:**
I was checking the mutating metrics, and I created several mutators and was checking how they reflected in the metrics exposed.

When created 3 new mutators, one by one, I was able to see the following metric exposed (it moved from `0`, to `1`, then `2` and finally `3`):

[code]

But then I deleted 1 of the three, and the gauge stayed at `3`:

[code]

[2022-03-22 00:58] grosser opened #1927 "Readiness probe consistently failing without any sign of trouble"
**What steps did you take and what happened:**
- Upgraded from 3.7.0 to 6b107861bd4d40ab58f28364cbac3b282bd332a6 (latest)
- Deploying webhook worked
- Deploying audit resulted in constant errors and readiness probe failures

[code]
... this needs some better error messages 😞

**What did you expect to happen:**
it boots

... still need to bisect what caused it, but wanted to open a issue so we can

[2022-03-22 02:51] maxsmythe commented on #1918
Thanks for this!

@srenatus It looks like these warnings are coming from the webhook calling OPA:

[code]

[code]

Is OPA affected by them?

[2022-03-22 08:59] srenatus commented on #1918
@maxsmythe That looks like [an issue fixed in 0.38.0](https://github.com/open-policy-agent/opa/releases/tag/v0.38.0#:~:text=AST%3A%20hash%20containers%20on%20insert/update%20(%234345)%2C%20fixing%20a%20data%20race%20reported%20by%20%40skillcoder). Both calls to `array.Hash()` will yield the same hash, but it's a race nonetheless. I'd first try updating OPA to resolve this 🤞

[2022-03-22 14:36] willbeason opened #1929 "Race conditions in gatekeeper detected with "go test ./... --race""
To recreate, run `go test ./... --race` from the Gatekeeper base directory

Failures: https://gist.github.com/willbeason/2d694897ee854f2e3eda8a16160f52a1

After fixing these, we should run CI tests with `--race` enabled.

[2022-03-22 21:11] grosser commented on #1927
somehow that only fails on 1 of our clusters, but idk why it would do that
... I suppose it has to do with a race condition in that this cluster has more resources or is somehow slower than the others

[2022-03-23 00:25] maxsmythe commented on #1918
Thanks!

[2022-03-23 00:55] ritazh commented on #1927
@grosser thanks for reporting this. can you provide more info about the cluster that keeps failing?
k8s version
number of violating resources
constraint template
constraint

[2022-03-23 01:21] maxsmythe opened #1931 "Race condition fix clobbered"
The fix for a race condition when deleting constraint templates that back existing constraints was partially clobbered:

https://github.com/open-policy-agent/gatekeeper/pull/1427

`assumeDeleted` is no longer populated by the constraint template controller.

In addition, the fix does not entirely eliminate the race condition... we should also be locking the watch registrar such that the cache isn'

[2022-03-23 01:39] maxsmythe commented on #1927
This smells race condition-y... this starts when mgr.Start() gets called:

Hard to say what's causing the race condition.

It might have something to do with metrics handlers not yet being established:

https://github.com/open-policy-agent/gatekeeper/blob/cdd14e07171b32aec3340211e2f4f39fe619423a/pkg/metrics/exporter.go#L38-L53

since those get added later, but that's just speculation, combined wit

[2022-03-23 01:45] maxsmythe commented on #1927
Reversion PR:

https://github.com/open-policy-agent/gatekeeper/pull/1932

[2022-03-23 05:28] grosser commented on #1927
closing this issue since it is no longer valid with the revert ... I doubt I'll find to look into this again, was a pretty low-value fix for us anyway, so will just live with the auditing gap :(

[2022-03-23 05:28] #1927 closed

[2022-03-23 21:10] sozercan commented on #376
@grosser does gator cli cover this scenario?

[2022-03-23 21:24] sozercan commented on #624
@eatwithforks we discussed this in community meeting today. would prometheus metrics be suitable for this scenario? https://open-policy-agent.github.io/gatekeeper/website/docs/metrics/#constraint-template

[2022-03-23 21:27] sozercan commented on #631
https://www.openpolicyagent.org/docs/edge/contributing/

[2022-03-23 21:29] sozercan commented on #633
@shomron closing this since this looks fixed upstream

[2022-03-23 21:29] #633 closed

[2022-03-23 21:31] sozercan commented on #634
looks like this might be fixed, closing.

[2022-03-23 21:31] #634 closed

[2022-03-23 21:42] chewong opened #1933 "flaky unit test in `pkg/controller/constrainttemplatestatus`"
Happened in https://github.com/open-policy-agent/gatekeeper/runs/5665036907?check_suite_focus=true.

[code]

[2022-03-24 00:37] grosser commented on #376
yeah

[2022-03-24 00:37] #376 closed

[2022-03-24 05:32] maxsmythe commented on #1933
Might be related to #1931

[2022-03-24 17:47] sozercan opened #1935 "patch releases don't update manifest/chart in main branch"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://github.com/open-policy-agent/gatekeeper/blob/master/deploy/gatekeeper.yaml#L2328

**What did you expect to happen:**
should reflect v3.7.1

it is correct in release branch and release tag. example: https://github.com/open-policy-agent/gatekeeper/blob/v3.7.1/deploy/gatekeeper.yaml#L2329

**A

[2022-03-24 18:42] willbeason opened #1936 "Flaky unit test in constrainttemplates controller"
**What steps did you take and what happened:**
go test github.com/open-policy-agent/gatekeeper/pkg/controller/constrainttemplate --count=10

Failure: https://gist.github.com/willbeason/cf3adff3ecfa3f29173a97bf995ee406

[2022-03-25 05:34] ritazh commented on #1935
We probably can't just update the image tag in case there are other changes in addition to image tag update. e.g. other helm or deployment related updates

[2022-03-25 15:37] vasu-git opened #1940 "Go client"
[A clear and concise description of what you want to happen.]
I'm trying to write a simple go program which checks if a constrainttemplate has been created or not in a cluster from within a pod in the cluster. (based of .status.created field of the constrainttemplate)
However I could'nt find any go client for constrainttemplate using which I can query exisiting constraintttemplates in the cluster

[2022-03-25 19:17] nabiladoui commented on #1734
Hi, Thanks for the pointers.
I check all of these and they are fine, and no issue is observed with service discovery.
Right now, we keep interrogating the webhook service (by trying to create a namespace) for 6 to 8 min until it's successful.

Is this wait time normal ? Is there any factors that can help reduce it ?

[2022-03-25 23:26] maxsmythe commented on #1734
If the problem is related to latency recognizing the service, any solution to that issue would be cluster-specific. It may be worth contacting support for the K8s platform provider.

To determine if the issue is service discovery latency, the following test procedure may be helpful (it may disrupt normal cluster operation, so only do this on a cluster that can handle :

* Start with a cluster that

[2022-03-25 23:34] maxsmythe commented on #1940
Not 100% sure what you're looking for here? Can you use the controller-runtime client library?

Here is an example of it being used by the constraint template controller:

https://github.com/open-policy-agent/gatekeeper/blob/0ff57f637f00bd233e07fe53f8c3fd6587d0876b/pkg/controller/constrainttemplate/constrainttemplate_controller.go#L268-L279

[2022-03-25 23:45] maxsmythe commented on #1935
+1, unless the manifest/chart is updated wholesale, we shouldn't just update the image name.

[2022-03-25 23:47] vasu-git commented on #1940
I want a client (k8sclient) like below to fetch constrainttemplates crd's in the cluster

[code]

[2022-03-25 23:47] sozercan commented on #1935
agreed, updated title to cover manifest and chart

[2022-03-26 00:37] maxsmythe commented on #1940
Ah, I'm not sure non-core K8s stuff uses that style of client.

If you are really wanting to run inside the cluster, that is essentially a controller, I'd consider following the [Kubebuilder Book](https://book.kubebuilder.io/) to create the controller. The client for that should work just like Gatekeeper's client (linked above), and you'd be creating a controller that watches constraint templates

[2022-03-30 07:29] sathieu opened #1952 "helm: Label exempted namespaces"
Helm charts have a job which labels the gatekeeper namespace:

https://github.com/open-policy-agent/gatekeeper/blob/c5b097d199ef70b06c476e97379d04004b41a9d3/charts/gatekeeper/templates/namespace-post-install.yaml#L35-L40

But more than the gatekeeper namespace can be exempted. At least, `kube-system` is recommended to be set with `controllerManager.exemptNamespaces`.

A job for each exempted names

[2022-03-30 09:47] jorisscheppers opened #1953 "Gatekeeper does not allow creation of ConstraintTemplate from basic demo"
**What steps did you take and what happened:**
I installed Gatekeeper 3.7 using the yaml on Github:

[code]

Then I tried to apply the first demo ConstraintTemplate:

`core@node1 / $ kubectl apply -f https://raw.githubusercontent.com/open-policy-agent/gatekeeper/master/demo/basic/templates/k8srequiredlabels_template.yaml`

Which outputs:
`The request is invalid`

**What did you expect to happen:**

[2022-03-30 16:23] maxsmythe commented on #656
Still valuable, but needs cycles for design... not urgent as it has no behavioral implications.

[2022-03-30 16:23] chewong commented on #1953
I don't think v3.7.1 recognizes `templates.gatekeeper.sh/v1` API since it's still using an older version of gatekeeper frameworks. If you run `kubectl apply -f https://raw.githubusercontent.com/open-policy-agent/gatekeeper/release-3.7/demo/basic/templates/k8suniquelabel_template.yaml`, it will work. I can open a PR to update the documentation.

[2022-03-30 16:28] maxsmythe commented on #681
Some ambivalence at triage: in gatekekeeper-system namespace, so no collisions, on the other hand, using kubectl can be awkward when kinds overlap.

This is an alpha resource, but there would be user effort involved in migrating if we change.

Leaving this open for more people to comment if there is interest.

[2022-03-30 17:08] maxsmythe commented on #1953
It looks like the template has a bug... it should be items.type = string, not items = string:

https://github.com/open-policy-agent/gatekeeper/blob/dd80056e46b3d156a120a9aa6ba571a39dc0a18d/demo/basic/templates/k8srequiredlabels_template.yaml#L14

[2022-03-30 17:08] maxsmythe commented on #1953
https://github.com/open-policy-agent/gatekeeper/blob/dd80056e46b3d156a120a9aa6ba571a39dc0a18d/demo/basic/templates/k8srequiredlabels_template.yaml#L14-L17

[2022-03-30 17:12] akashsinghal opened #1956 "Increase Gatekeeper Validation Webhook Timeout"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The gatekeeper validating webhook was previously lowered from 5 seconds to 3 seconds due to a potential leader election issue. See #870. Project [Ratify](https://github.com/deislabs/ratify) implements an external data provider to interact with Gatekeeper and intermittently times out due to the 3 seco

[2022-03-30 17:44] chewong commented on #1953
Good catch. Updated my PR.

[2022-03-30 19:32] aadhik opened #1957 "SCA vulnerability"
The Software Composition Analysis (SCA) scan of the docker image for gatekeeper resulted in high  severity  security issue  pertaining to use of package semver:3.5.1 in nodejs .
The possible fix was to bump the package up is  to bump  the version of  semver greater than 4.3.2

Scan report details

---
The semver package before 4.3.2 for Node.js
allows attackers to cause a denial of service (CPU
co

[2022-03-30 20:29] sozercan commented on #1957
@aadhik we don't use nodejs in our docker image. Node is used for GK docs website which is compiled into a static page, so this is not applicable to any Gatekeeper images.

[2022-03-30 23:29] chewong opened #1958 "Automate `deploy/` and `chart/` promotion for patch releases in main branch"
is this a manual operation for now? can we automate this?

_Originally posted by @sozercan in https://github.com/open-policy-agent/gatekeeper/issues/1949#issuecomment-1083736640_

[2022-03-31 02:28] maxsmythe commented on #1956
I'm not opposed to raising the default timeout if it doesn't interfere with cluster operations.

My biggest concern would be to make sure the long-tail of users are mostly off of the old behavior before changing the defaults.

From your description, this would mean everyone being on k8s version >= 1.20.  Also, leader election is a general purpose library, would we need to worry about interfering w

[2022-03-31 06:51] jorisscheppers commented on #1953
Thanks for the quick response. I can confirm that the change fixed the issue.

[2022-03-31 06:51] #1953 closed

[2022-03-31 13:06] aadhik commented on #1957
@sozercan - Thanks you for the reply , I am checking with the secruity team , if they scanned the website instead of docker image.
Based on the the feedback you provided , i assume the docker image has no node component .
Will come back with reply whatever it is

[2022-03-31 14:07] ritazh commented on #1956
Thanks @akashsinghal for sharing the changes in v1.20. If we do decide to update this, v1.19 is already EOL. If we are worried about backward compatibility, we can set the default values conditional on k8s versions in the helm chart.

[2022-04-01 19:18] sozercan commented on #1957
SGTM. Gatekeeper image is based on `distroless/static:nonroot` and only includes gatekeeper binary from us.

Closing this issue, feel free to re-open if you have any further questions.

[2022-04-01 19:18] #1957 closed

[2022-04-01 20:28] aadhik commented on #1957
Can you please let me know the location of source code used in the docker image , The security team scanned the entire git repo and reported problem

[2022-04-01 20:36] #1931 closed

[2022-04-01 20:48] #1925 closed

[2022-04-01 20:51] sozercan commented on #1957
Dockerfile is here for the image: https://github.com/open-policy-agent/gatekeeper/blob/master/Dockerfile
Official images are hosted in: https://hub.docker.com/r/openpolicyagent/gatekeeper/tags?page=1&name=v3.7.1

[2022-04-01 21:48] #631 closed

[2022-04-02 04:46] AllenZMC opened #1965 "Help: http.send context canceled"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`{"hookType": "validation", "error": "admission.k8s.gatekeeper.sh: __modset_templates[\"admission.k8s.gatekeeper.sh\"][\"ruyiAudit\"]_idx_0:55: eval_builtin_error: http.send: Post \"http://xx/v2/opa/instances\ ": context canceled\n"}`

When I update a configMap, `Error "admission plugin "Validating

[2022-04-02 05:09] AllenZMC commented on #1965
`Error "admission plugin "ValidatingAdmissionWebhook" failed to complete validation in 13s" for field "undefined". `

[2022-04-04 14:08] #1965 closed

[2022-04-04 20:59] maxsmythe opened #1970 "Remove Constraint Framework's use of storage.Path"
The remaining shared OPA dependency between frameworks and Gatekeeper is storage.Path:

https://github.com/open-policy-agent/gatekeeper/blob/21a9de7234137cb9ecd1c9a9f812aed6cfa24a4a/pkg/target/target.go#L118-L129

Removing this will clean up the dependency relationship between OPA/CF/Gatekeeper and make upgrading OPA a bit more straightforward.

[2022-04-06 14:04] #1929 closed

[2022-04-06 15:09] bj-1795 opened #1973 "Not able to put multiple conditions in rego."
I have use case where i want for a specific container name, it should run as root, I have following rego code for this but it is not working as expected.

[code]

[2022-04-07 05:29] bj-1795 commented on #1973
Hi @chewong Thank you for the reply but his does not seem to work i applied this code,

Constraint :
[code]
I was able to able the following Yaml which is not expected,
[code]

[2022-04-07 12:37] vojtechvelkjop opened #1975 "Demo constraints all_ns_must_have_gatekeeper.yaml got map not string"
**What steps did you take and what happened:**
I have installed gatekeeper and tried demo but after install: k8srequiredlabels_template.yaml I tried install :
constrain: all_ns_must_have_gatekeeper.yaml but get issue
`error: error validating "../constraints/all_ns_must_have_gatekeeper.yaml": error validating data: ValidationError(K8sRequiredLabels.spec.parameters.labels[0]): invalid type for sh.ga

[2022-04-08 02:39] knowhoper opened #1976 "AssignMetadata doesn't support adding annotations that contain slashes"
kind: AssignMetadata doesn't support adding annotations that contain slashes, or additional `.`, this prevents me applying a policy in GCP for config connector.

[code]

The resource to apply fine.

- Gatekeeper version: 3.7.1
- Kubernetes version: 1.21

[2022-04-08 19:25] maxsmythe commented on #1976
Did you try: `'metadata.annotations."cnrm.cloud.google.com/deletion-policy"'` ?

[2022-04-09 09:40] knowhoper commented on #1976
This worked, thanks so much!

[2022-04-09 09:40] #1976 closed

[2022-04-09 12:49] nstogner commented on #724
I would also like to see a singleton constraint API exposed via gatekeeper. In my experience, most policy use-cases fall into the singleton pattern. I think the best way of doing this would be to expose a purpose-built `kind: Constraint` where the user can specify the rego source and matching/enforcement actions.

This approach would still support "library" re-use. Generic open-source Constraints

[2022-04-10 06:04] nishant-ui opened #1977 "Add labels and metadata in audit logs of resource against which audits run"
The gatekeeper audit pod should have the functionality to emit labels and more details of the resource against which audit ran.
Currently, we get resource name,namespaceetc. It will be good to add labels of the resource as well.

[2022-04-10 12:26] ceastman-r7 opened #1978 "gatekeeper jobs never finish when istio is installed"
**What steps did you take and what happened:**
When gatekeeper is installed to a system that has istio, the gatekeeper jobs never finish because the istio-proxy sidecar never stops.

**What did you expect to happen:**
I expect the gatekeeper jobs to send a curl to the istio-proxy endpoint when they are complete to trigger the istio-proxy sidecar shutdown

**Anything else you would like to add:**
T

[2022-04-11 06:58] bj-1795 commented on #1973
@chewong Could you help me with this?

[2022-04-11 14:43] asm2git commented on #1827
I just tested this in v3.8.0-rc.1 by doing the following:

    helm install gatekeeper gatekeeper/gatekeeper --namespace gatekeeper-system \
        --set image.release=v3.8.0-rc.1 --set postInstall.labelNamespace.image.tag=v3.8.0-rc.1

followed by "helm install" of my Gatekeeper templates and constraints.

Unfortunately I'm still getting the "bad import" error when I try to use a template that co

[2022-04-11 16:35] chewong commented on #1973
Can you try the following YAML:

[code]

[2022-04-11 19:42] willbeason commented on #1827
@asm2git This was added to Frameworks in https://github.com/open-policy-agent/frameworks/pull/207, and updated in Gatekeeper in https://github.com/open-policy-agent/gatekeeper/pull/1968, which is included in `v3.8.0-rc.1`. We have tests in place which validate that ConstraintTemplates using "import future.keywords.in" both compile and execute.

Can you provide an example ConstraintTemplate which e

[2022-04-11 20:06] asm2git commented on #1827
@willbeason here's what I'm, using; sorry it's so long

apiVersion: templates.gatekeeper.sh/v1beta1
kind: ConstraintTemplate
metadata:
  creationTimestamp: null
  name: vaultsecretpath
spec:
  crd:
    spec:
      names:
        kind: VaultSecretPath
  targets:
  - libs:
    - |-
      package lib.core

      default is_gatekeeper = false

      default name = "NO_NAME"

      is_gatekeeper {

[2022-04-11 20:07] asm2git commented on #1827
@willbeason just in case you need it, here's the constraint that goes along with it

apiVersion: constraints.gatekeeper.sh/v1beta1
kind: VaultSecretPath
metadata:
  name: vaultsecretpath
spec:
  match:
    kinds:
    - apiGroups:
      - ""
      kinds:
      - Pod

Let me know if you need the full Helm Charts I'm using.

[2022-04-11 20:20] willbeason commented on #1827
That's perfect! I'll try to replicate and check back in the next couple days.

[2022-04-12 05:38] bj-1795 commented on #1973
@chewong Its not working!!

[2022-04-12 22:04] stek29 commented on #1868
this has been fixed

[2022-04-12 22:05] #1868 closed

[2022-04-12 22:33] sozercan commented on #1978
@ceastman-r7 what do you mean by "gatekeeper jobs" here? is it the helm hook?

[2022-04-12 23:10] maxsmythe opened #1985 "Remove "unstable" field from G8r target's `gkReview` object"
The point of `unstable` was to make the contents of `namespace` accessible to the matcher Rego code.

Since this is no longer necessary, we should remove it, since the contents of `unstable` are... unstable, and shouldn't be relied on.

https://github.com/open-policy-agent/gatekeeper/blob/6ea0e583c3d1fe6bde7619a5f5a5809df442cadd/pkg/target/target.go#L76-L88

[2022-04-12 23:14] ceastman-r7 commented on #1978
It is these two yamls that contain jobs:
namespace-post-install.yaml
upgrade-crds-hook.yaml

Or the ability to add in an annotation like this to prevent the injection of the istio sidecar:

spec:
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"

[2022-04-12 23:16] maxsmythe commented on #1973
Example has the container name `nginxs`, but constraint lists `nginx`, does that change things?

[2022-04-12 23:17] maxsmythe commented on #1973
nvm "startswith" is satisfied

[2022-04-12 23:18] maxsmythe commented on #1973
in @chewong 's example, change `startswith(container.name, repo)` to `startswith(container.image, repo)`

[2022-04-13 02:17] nishant-ui opened #1987 "Add details to the denied admission message when new resources are rejected from admission webhook."
Include detailed message why a resource was denied in the gatekeeper logs .
We get only the msg :"denied admission" currently.
This is being emitted as admission events currently.We can add the same message to the gatekeeper logs as well.

[2022-04-13 05:19] bj-1795 commented on #1973
Got it Thanks @maxsmythe

[2022-04-13 07:03] ritazh commented on #1977
Adding the option to include labels sounds interesting. Adding contents of the resource sounds too broad and can create privacy and security issues. Definitely interested to see how many people want this feature. Please +1 if you want this and please indicate what additional data you need.

[2022-04-13 07:06] ritazh commented on #1987
What details are emitted in events, but not in the gatekeeper logs? can these details be added to the rego so that they are part of the deny message?

[2022-04-13 13:53] ospiegel91 commented on #1124
any news on this topic? This would be really useful

[2022-04-13 15:52] nishant-ui commented on #1987
Example : when a resource is denied the admission webhook throws this event ->
30s         Warning   AuditViolation                 pod/nginx-flexvolume-driver-disallowed                Timestamp: 2021-12-07T05:21:51Z, Resource Namespace: default, Constraint: flexvolume-drivers, Message: FlexVolume {"flexVolume": {"driver": "example/testdriver"}, "name": "test-volume"} is not allowed, pod: nginx-f

[2022-04-13 16:12] sozercan commented on #682
We should look through the library and see if existing parameters are required.

[2022-04-13 16:15] willbeason opened #1989 "[gator verify] Add way to test Constraints fail schema validation"
Give users a way to ensure that schema validation for Constraints is specified correctly. For example - that required fields are _actually_ required. This gives users an explicit way to test when schema validation for Constraints is expected to fail. As-is, they can only test successes.

[2022-04-13 16:19] #625 closed

[2022-04-13 16:20] #743 closed

[2022-04-13 16:21] #749 closed

[2022-04-13 16:23] sozercan commented on #756
Closing as this is fixed, please re-open if you are still seeing this issue.

[2022-04-13 16:23] #756 closed

[2022-04-13 16:33] sozercan commented on #663
This is a low-risk since it is not a typical pattern.

[2022-04-13 23:01] mes5k commented on #1887
We've seen the same behavior with k3s 1.21.4, gatekeeper 3.7.0, and helm 3.6.

[2022-04-13 23:51] lexffe opened #1992 "Mutations (ModifySet) do not respect excludedNamespaces defined in Gatekeeper Config"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Suppose the cluster has the following namespaces:

- gatekeeper-system
- kube-system
- A

With a Gatekeeper config like the following:

[code]

and a mutation of ModifySet kind:

[code]

Pods created directly (for debugging) in namespace `A` shows that the environment variable `hello` has not been

[2022-04-14 01:21] maxsmythe commented on #1992
Thanks for the detailed issue summary!

It looks like the problem is that the "default" namespace isn't always set on inbound webhook objects, PR #1993 should fix this.

[2022-04-14 11:19] rvishwas opened #1994 "gatekeeper-audit pod fails with Crashloopbackoff error"
**What steps did you take and what happened:**
I am deploying gatekeeper (v3.5.1) through helm. It is deploying the following components:

NAME                                                 READY   STATUS             RESTARTS   AGE
pod/gatekeeper-audit-6bcfb5b89-dzxlv                 1/2     CrashLoopBackOff   3          85s
pod/gatekeeper-controller-7c4c5b8667-bwd8r           1/1     Running

[2022-04-14 16:10] willbeason opened #1995 ""ENFORCEMENT-ACTION" for Constraints is empty when not specified"
For example:
[code]

This can lead to confusion about what happens when such Constraints are violated. The above output should show "deny"

Fortunately this is just how information is displayed with `kubectl get` and does not have any functional impact.

[2022-04-14 20:22] ritazh commented on #1995
@willbeason Thanks for raising this.
A long time ago we made the decision to default to `deny` if there's no explicit enforcement action provided in the Constraint request.
https://github.com/open-policy-agent/gatekeeper/blob/c6d6b8418ff90a01b34fc5df045b92ef01156412/pkg/util/enforcement_action.go#L50-L51

Do we want to set this default value on constraint CREATE?

[2022-04-15 12:48] willbeason commented on #1995
I like that idea

[2022-04-15 16:32] kfox1111 opened #1997 "webhooks and recovery"
**What steps did you take and what happened:**
We had a power outage to one of our datacenters yesterday. K8s came back up but was unable to recover by tiself because of gatekeeper again. it mostly seemed ok but workload was really misbehaving for a while. After a while it was determined that gatekeeper was blocking the sdn layers from recovering properly.

**What did you expect to happen:**
Gatek

[2022-04-15 17:32] chewong commented on #1994
The constraint template might have been modified concurrently by two deployments of gatekeeper (open-source gatekeeper and azure-policy?) I saw gatekeeper pods with two different names `gatekeeper-controller-manager` and `gatekeeper-controller`, that's how I figured. Could you try uninstalling open-source/disabling azure-policy?

[2022-04-16 00:33] #1958 closed

[2022-04-16 01:33] Poor12 opened #1998 "gatekeeper audit and controller-manager use custom kubeconfig but crash"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am using gatekeeper among karmada, which kubeconfig is not default. However, when I use secret to store kubeconfig and mount the volume in the container and use custom kubeconfig, auit and controller-manager seems to crash. I wonder if gatekeeper can use custom kubeconfig.

**What did you expect

[2022-04-16 05:14] maxsmythe commented on #1998
Gatekeeper uses the kubeconfig loaded by controller-runtime, which should allow for custom configs.

Here is the code that controls how kubeconfigs are loaded:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/config/config.go

[2022-04-16 05:16] maxsmythe commented on #1998
From the errors, it looks like networking timeouts. Is there a firewall? Is the kubeconfig pointing at the correct host?

[2022-04-16 05:28] maxsmythe commented on #1997
It looks like we allow for custom rules (mutating and validating):

https://github.com/open-policy-agent/gatekeeper/blob/ae355c9858bee7c525e9a7f19d8a2ed8719f669b/charts/gatekeeper/templates/gatekeeper-mutating-webhook-configuration-mutatingwebhookconfiguration.yaml#L36

But only custom exclusion labels, not inclusion-type labels.

We should fix the inability to disable the mutating webhook and add

[2022-04-16 05:30] maxsmythe commented on #1995
Can we register a default value in the CRD?

https://github.com/open-policy-agent/frameworks/blob/0684e78d7c329118a2edb2c2e46e4a077f269abf/constraint/pkg/apis/templates/v1/constrainttemplate_types.go#L52

[2022-04-18 03:32] niuzhi opened #1999 "kubernetes deploy gatekeeper error"
gatekeeper version:v3.8.0-rc.1
kubectl version：v1.20.5

command：kubectl apply -f https://raw.githubusercontent.com/open-policy-agent/gatekeeper/release-3.7/deploy/gatekeeper.yaml has the following error, what is the reason?

![image](https://user-images.githubusercontent.com/33443724/163750323-7f585ddd-d102-4ffd-a52e-eaba42fec82f.png)

![image](https://user-images.githubusercontent.com/33443724/16

[2022-04-18 09:15] Poor12 commented on #1998
It seems controller runs well but the demo which I run does not work. Error is like below:
`{"level":"info","ts":1650273029.2615695,"logger":"controller","msg":"could not get/create pod status object","kind":"ConstraintTemplate","process":"constraint_template_controller","template_name":"k8srequiredlabels","error":"pods \"gatekeeper-audit-849598bf49-fxbsd\" not found"}
{"level":"error","ts":165027

[2022-04-18 10:54] nishant-ui commented on #1977
Adding just the labels should be goo enough !

[2022-04-18 12:23] willbeason commented on #1995
Should be doable with
`// +kubebuilder:default:=deny`

[2022-04-18 17:10] asm2git commented on #1827
@willbeason I just tried my test again with rc2, unfortunately it still fails. I don't know if this is expected or not.

Just to recap, here's how I'm installing Gatekeeper:

    helm install gatekeeper gatekeeper/gatekeeper --namespace gatekeeper-system \
        --set image.release=v3.8.0-rc.2 --set postInstall.labelNamespace.image.tag=v3.8.0-rc.2

Please let me know if there's something I need

[2022-04-18 18:05] chewong commented on #1691
Closing this in favor of #1576 (added this issue to there).

[2022-04-18 18:05] #1691 closed

[2022-04-18 19:28] sozercan opened #2002 "Unit test failure on config"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Looks like a flaky test

https://pipelines.actions.githubusercontent.com/serviceHosts/bec77a88-f18c-4f0a-bdc0-ac536d176b50/_apis/pipelines/1/runs/5028/signedlogcontent/17?urlExpires=2022-04-18T19%3A27%3A48.6175120Z&urlSigningMethod=HMACV1&urlSignature=oEd%2FNs3fv5uqSzLkVH5cvIZlTp%2BbHXwJ563JFkHAIz

[2022-04-18 21:42] chewong commented on #1999
I tried deploying https://raw.githubusercontent.com/open-policy-agent/gatekeeper/release-3.7/deploy/gatekeeper.yaml and https://raw.githubusercontent.com/open-policy-agent/gatekeeper/master/deploy/gatekeeper.yaml, and they both work.

I noticed in the event that the image pull policy is set to `IfNotPresent` instead of the default value `Always`. Did you modify the YAML?

[2022-04-19 00:47] niuzhi commented on #1999
@chewong hello，Since my local machine cannot access the Internet, I can only download the image in the gatekeeper.yaml file: openpolicyagent/gatekeeper:v3.7.2 to the local, and then modify the image pull method to IfNotPresent. But he has been unsuccessful, is there any dependency file needed? Thank you

[2022-04-19 02:19] maxsmythe commented on #1999
Are you using kind? If so, did you use `kind load docker-image`?

[2022-04-19 02:43] maxsmythe commented on #2002
Did the manager have trouble tearing processes down?

`manager.go:29: running Manager: failed waiting for all runnables to end within grace period of 30s: context deadline exceeded`

[2022-04-19 02:49] maxsmythe commented on #1995
Oh, except constraint CRDs are generated from the CF, so we'd need to code the default directly into the JSONSchema, I think?

[2022-04-19 03:04] maxsmythe commented on #1998
Ah, yeah `byPod` status attempts to set an owner reference for the pod status object.

If trying to run off-cluster, a workaround would be to set the POD_NAME and POD_NAMESPACE environment variables to a dummy pod in the cluster:

https://github.com/open-policy-agent/gatekeeper/blob/cd1b6b5f9bb34e815f5cfd77f6b577b3a84374bf/pkg/util/pod_info.go#L1-L21

Note that pod status objects will be created i

[2022-04-19 03:05] #1992 closed

[2022-04-19 03:42] niuzhi commented on #1999
No used kind.I used docker save and docker import command.

[2022-04-19 06:45] ritazh commented on #1999
It seems you are deploying from https://raw.githubusercontent.com/open-policy-agent/gatekeeper/release-3.7/deploy/gatekeeper.yaml but updated the image tag to v3.8.0-rc.1? There could be incompatibility issues when you just update the image tag. Instead, can you deploy using the deploy/gatekeeper.yaml from the 3.8.0-rc.1 git tag? https://github.com/open-policy-agent/gatekeeper/blob/v3.8.0-rc.2/dep

[2022-04-19 07:07] ritazh commented on #1827
As an aside, @asm2git you should always upgrade the helm chart release to make sure you get all the chart/yaml updates in addition to just updating the image tag. e.g CRD spec updates. Though I don’t think that’s the issue here.

[2022-04-19 08:14] niuzhi commented on #1999
@ritazh hello，I tried the following versions,
 openpolicyagent/gatekeeper：v3.6.0，
 openpolicyagent/gatekeeper：v3.8.0-rc.1，
 openpolicyagent/gatekeeper：v3.7.1

 but none of them succeeded, the errors reported are the same.

![image](https://user-images.githubusercontent.com/33443724/163956978-ebf5688f-6b5d-41c1-a601-a03c5b28b75d.png)

[2022-04-19 10:12] asm2git commented on #1827
@ritazh Absolutely. Let me figure out how to do that and I'll try my tests again.

[2022-04-19 10:46] ZiaUrRehman-GBI commented on #1827
admission webhook "validation.gatekeeper.sh" denied the request: invalid ConstraintTemplate: invalid import: bad import
`apiVersion: templates.gatekeeper.sh/v1beta1
kind: ConstraintTemplate
metadata:
  name: loadbalancerconstraint
spec:
  crd:
    spec:
      names:
        kind: LoadBalancerConstraint
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
        package constraint

[2022-04-19 11:20] lexffe commented on #1992
Thank you very much for the rapid reply and the fix!

[2022-04-19 12:24] willbeason opened #2003 "[gator verify] Add opa test coverage support"
Allow optionally returning coverage of opa code that "opa test" uses for the "--coverage" option

[2022-04-19 13:22] StianOvrevage opened #2004 "Installation methods have different end results and configuration options"
**What steps did you take**
I jumped into a cluster to look at the existing installation before doing changes.
I compared the deployed Kubernetes objects with what a clean install would do.

**What happened**
There was a bunch of differences that I could not understand the reason behind or how it even got in there.

**What did you expect to happen:**
I expected to see the configuration changes we

[2022-04-19 13:38] willbeason commented on #1827
I've confirmed this is still an issue on HEAD.

[2022-04-19 13:41] willbeason commented on #1827
Really the error message should have a lot more information. `The request is invalid` is quite useless for debugging

[2022-04-19 13:47] willbeason commented on #1827
Ok, I've eliminated the keyword `in` as causing the issue. I've created a minimal template which includes the keyword and is successfully applied:

[code]

[2022-04-19 13:50] willbeason commented on #1827
@ZiaUrRehman-GBI My guess is you're not building from the release candidate. I'm able to successfully apply that ConstriantTemplate. If the issue persists for you on HEAD, open a different issue for it since it's unrelated to @asm2git's issue.

[2022-04-19 13:57] willbeason commented on #1827
@asm2git I found the issue using `gator verify`:

[code]

[code]

This made me realize that the format of `violation[msg]` was wrong:
[code]
should be
[code]

[2022-04-19 14:04] willbeason opened #2005 "Provide better error messages for ConstraintTemplate compilation failures"
Right now if something goes wrong when compiling ConstraintTemplates, users get an opaque `The request is invalid`. This doesn't help with debugging or give anything to go on.

While users _could_ turn to `gator verify` and create a suite to get a better error message, this is arduous. The ValidatingWebhook should instead provide a better response.

My guess is that this happens since we now do a

[2022-04-19 14:10] asm2git commented on #1827
@willbeason Oy! Sorry, yes -- I had found that error and fixed it, but not updated my test files. Doh! My apologies for putting you through all the extra work. Tomorrow I'll fix that and test using rc2 and the latest Helm chart.

[2022-04-19 14:48] willbeason opened #2006 "Manifest was not updated for v3.8.0-rc.2"
The master/deploy/gatekeeper.yaml manifest was not updated for v3.8.0-rc.2; it still points to v3.8.0-rc.1

https://raw.githubusercontent.com/open-policy-agent/gatekeeper/master/deploy/gatekeeper.yaml

[2022-04-19 14:49] willbeason commented on #2006
@ritazh Looks like this applies to all helm charts as well.

[2022-04-19 20:02] chewong commented on #2006
As per our recently updated [release cadence](https://github.com/open-policy-agent/gatekeeper/blob/master/docs/RELEASE.md#release-cadence), v3.8.0-rc.2 manifest lives in release-3.8 release branch rather than master. Once we release v3.8.0, we can release v3.9.0-beta.0 from master branch.

[2022-04-20 00:24] maxsmythe commented on #2004
Thanks for the issue!

WRT #1676 I don't think it's necessary in the yaml manifest, since the default value for `dnsPolicy` is `ClusterFirst`. When the Helm chart added the ability to set a DNS policy, it added `Default` as the default value.

In terms of diffs, `gatekeeper.yaml` is the "raw" config, essentially what gets generated from `make manifests` whereas Helm has changes that allow for the

[2022-04-20 00:47] niuzhi commented on #1999
@NitroCao thanks！

[2022-04-20 00:47] #1999 closed

[2022-04-20 09:37] Poor12 commented on #1998
Thanks a lot. It does work. When I apply all the file , gatekeeper creates ns-must-have-gk object as a CR of `k8srequiredlabels.constraints.gatekeeper.sh` CRD.
However, webhook failed because of some internal error `Error from server (InternalError): Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh": Post "https://gatekeeper-webhook-service.gatekeeper-system.svc:44

[2022-04-20 12:36] #2006 closed

[2022-04-20 12:52] ZiaUrRehman-GBI commented on #2006
I already did it but unfortunately still same error when try to use import future.keyword or import future.keyword.in. It's throwing invalid import

[2022-04-20 16:21] chewong commented on #2004
I agree that we should align the default helm values with the raw manifest as much as possible. For quick deployment in a local environment, I'd suggest using the raw manifest. For customizations, I'd definitely recommend using helm.

https://raw.githubusercontent.com/open-policy-agent/gatekeeper/release-3.7/deploy/gatekeeper.yaml contains the manifest for the latest patch release of 3.7 (right no

[2022-04-20 16:39] asm2git commented on #1827
@willbeason Still no joy. :-(

I'm installing Gatekeeper rc2 with the following helm command:

    helm install gatekeeper gatekeeper/gatekeeper --namespace gatekeeper-system --version 3.8.0-rc.2

For template_VaultSecretPath.yaml I'm using the short (23 line) file you posted above (on 19 Apr 2022). Here's the Helm command I'm using to install the chart containing that file:

    helm install clou

[2022-04-20 19:02] willbeason commented on #1827
That's very surprising. Can you give me an example of a YAML resource that you expect to be allowed and an example of a YAML resource you expect to be denied? I'd like to check that `gator verify` is in fact running the Template.

[2022-04-20 20:05] maxsmythe commented on #1998
If the webhook pod isn't running, the webhook would definitely fail.

Without more info (logs, failure reasons posted to the pod, etc.), it's hard to speculate as to why the pod may be failing.

[2022-04-20 21:23] ritazh opened #2010 "Add github action to add/remove labels for PRs"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
For PR reviews, it would be helpful to have / commands to add/remove labels like `waiting on author` to identify a PR's stage.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (u

[2022-04-20 21:24] sozercan commented on #731
@patoarvizu would you like to re-evaluate this issue as we added improvements to Gatekeeper over the years? I'll close this for now, please feel free to re-open if you are still experiencing any issues.

[2022-04-20 21:24] #731 closed

[2022-04-20 21:30] #737 closed

[2022-04-20 21:35] sozercan commented on #503
@ningweiii please re-evaluate if `gator test` meets your requirements https://open-policy-agent.github.io/gatekeeper/website/docs/gator

Closing this issue, please feel free to re-open for further discussion

[2022-04-20 21:35] #503 closed

[2022-04-20 23:10] chewong commented on #1935
As per our recently updated [release cadence](https://github.com/open-policy-agent/gatekeeper/blob/master/docs/RELEASE.md#release-cadence), v3.8.0-rc.2 manifest lives in release-3.8 release branch rather than master. Once we release v3.8.0, we can release v3.9.0-beta.0 from master branch.

[2022-04-20 23:10] #1935 closed

[2022-04-21 06:04] ZiaUrRehman-GBI commented on #2006
@willbeason release-3.8 have the same problem ^

[2022-04-21 06:26] #1998 closed

[2022-04-21 06:39] kahirokunn commented on #1646
I got same error 😢

[2022-04-21 07:32] Poor12 commented on #1998
Hello, I found a very strange phenomenon when I deploy the gatekeeper-controller-manager. Here is all of the logs when I get from pod of the controller-manager.
![image](https://user-images.githubusercontent.com/26862112/164396876-22a77dfc-cfde-4507-850b-44f8ca9c716b.png)

It seems that `go setupControllers(mgr, sw, tracker, setupFinished)` does not work because the setup (certificate generation)

[2022-04-21 08:22] kahirokunn opened #2011 "Support garbage collection"
After you create a `ConstraintTemplate`, you can create `Constraints`.
If you delete the `ConstraintTemplate` first while the `Constraints` remain, the `Constraints` should be automatically deleted.
Or you should get a deletion error.

An easy way to support this is to define `Constraints` with `metadata.ownerReferences` and set `foregroundDeletion` on `metadata.finalizers[0]'.

However, `metadata

[2022-04-21 09:37] asahnovskiy-deloitte commented on #1827
@willbeason I tried to install version 3.8.0-rc.1 and version 3.8.0-rc.2 from scratch and tried to apply your and my example and I got the same issues:

error when creating "opa_template.yaml": admission webhook "validation.gatekeeper.sh" denied the request: invalid ConstraintTemplate: invalid import: bad import

error when creating "opa_template4.yaml": admission webhook "validation.gatekeeper.sh

[2022-04-21 10:22] ayushkr04 opened #2012 "Namespace creation failed"
**Error:** : Error from server (Namespace "test" not found): admission webhook "validation.gatekeeper.sh" denied the request: Namespace "test" not found

We have gatekeeper running for over 2 years, and there has been no change in the policies since it's been deployed. Suddenly, it has started throwing namespace creation error, but as per our policy we never had restrictions on the creation of nam

[2022-04-21 10:55] aitchjoe opened #2013 "Cant catch OpenShift object (just seems actually NOT)"
RESOLVED: check the third comment.

**What steps did you take and what happened:**

I have created a constraint which enforce user to use Kubernetes Deployment instead of OpenShift DeploymentConfig, but it doesn't work. I have modified the following block-deploymentconfig.yaml and remove the `kinds` filter, and I can see the warning when create Deployment / Service / PVC etc, but not with OpenShif

[2022-04-21 10:56] aitchjoe commented on #2013
Sorry I cant remove the bug label.

[2022-04-21 14:22] ritazh commented on #2012
Can you pls provide the following information:
Gatekeeper version
Kubernetes version
ConstraintTemplate
Constraint

[2022-04-21 15:09] ayushkr04 commented on #2012
**Gatekeeper Version:** 3.1.0
**Kubernetes version:** 1.20
**ConstraintTemplates:**
1. apiVersion: templates.gatekeeper.sh/v1beta1
kind: ConstraintTemplate
metadata:
  name: serviceallowgoogleinternallbonly
spec:
  crd:
    spec:
      names:
        kind: ServiceAllowGoogleInternalLBOnly
        listKind: ServiceAllowGoogleInternalLBOnlyList
        plural: serviceallowgoogleinternallbonly

[2022-04-21 17:29] discreet commented on #1822
We also need tolerations support for this job

[2022-04-21 22:57] maxsmythe commented on #2012
Hey!

Can you wrap the above in triple-backtics (\`\`\`) per-object so that indentation can be preserved?

Also, can you give us an example of the resource that is being rejected?

* Does the namespace `test` exist on your cluster?
* Is the rejected resource in the `test` namespace?
* Do you have the sync config set up to sync namespaces? (this was required in older versions of Gatekeeper)

3.1.x

[2022-04-22 02:53] aitchjoe commented on #2013
I have modified the webhook config in gatekeeper-validating-webhook-configuration.yaml:
[code]

I hava changed:

* failurePolicy: Fail
* apiGroups etc
* timeoutSeconds: 10

then create dc:
[code]

So the problem is NOT "Cant catch OpenShift object", it DID catch, but when some internal error happened, `failurePolicy: Ignore` make it like not catched. But I havent found some useful log in gatekeepe

[2022-04-22 04:07] #2013 closed

[2022-04-22 14:26] ayushkr04 commented on #2012
Updating the gatekeeper version to 3.8 worked for us.
Sorry for wasting your time. I hope this will be useful for folks who run into similar kind of issue and are using old version of gatekeeper.

[2022-04-22 15:49] asm2git commented on #1827
[terminal-session.txt](https://github.com/open-policy-agent/gatekeeper/files/8542291/terminal-session.txt)

@willbeason Attached is a transcript of my terminal session showing exactly how I created a KinD cluster, how I deployed Gatekeeper to that cluster, all the relevant Rego files, how I got from Rego to YAML (using konstraint), and how I deployed the various YAML files.

Each new command is ma

[2022-04-22 16:11] asm2git commented on #1827
@willbeason In short, I expect all properly-formed ConstraintTemplate objects and their associated constraints to be allowed. I expect things like Pods and Deployments to be denied IFF they violate the rules embodied in the ConstraintTemplate objects.

For what it's worth I use "opa" and (opa) "conftest" for my testing. I can look into (also?) using gator. To comply with a fairly string internal s

[2022-04-23 01:18] maxsmythe commented on #1827
The error message implies you are running a version of gatekeeper older than 3.8.x:

https://github.com/open-policy-agent/frameworks/pull/217

changed the error from:

`return fmt.Errorf("%w: bad import", ErrInvalidImport)`

to

`return fmt.Errorf("%w: bad import: %q", ErrInvalidImport, importRef)`

and you appear to be getting the old form of the error ("bad import" with no reference as to what t

[2022-04-23 01:23] maxsmythe commented on #1827
WRT docker image. I don't think there is currently a `gator test` docker image, just the binary blob. Might be worth publishing one.

[2022-04-24 04:27] AllenZMC opened #2020 "How to upgrade gatekeeper from v3.1 to v3.8 without downtime？"
How to upgrade gatekeeper from v3.1 to v3.8 without downtime？ Thanks！

[2022-04-25 13:21] speer commented on #1837
Hi, we have the same problem.

We think this is related due to the fact that "scale" is a subResource and the validatingWebhookConfiguration does not trigger for subResources. See [here](https://github.com/open-policy-agent/gatekeeper/blob/e71351d0672f8d0143b9df6d23d540928a9ddb74/charts/gatekeeper/templates/gatekeeper-validating-webhook-configuration-validatingwebhookconfiguration.yaml#L49).

Acco

[2022-04-25 13:38] asm2git commented on #1827
[gatekeeper-controller-manager.deployment.yaml.txt](https://github.com/open-policy-agent/gatekeeper/files/8554988/gatekeeper-controller-manager.deployment.yaml.txt)

"image: openpolicyagent/gatekeeper:v3.8.0-rc.2"

[2022-04-26 03:22] maxsmythe commented on #1827
Do you get the same error when installing gatekeeper via:

[code]

Here is my terminal log showing success:

[code]

If no, can you try installing the helm chart with the image `openpolicyagent/gatekeeper:v3.8.0` and see if you get an error?

If not, I wonder if, for some reason, that image is pointing to an older build?

[2022-04-26 03:27] maxsmythe commented on #1837
Versus `*/*`? Only that we weren't sure what other sub resources would are available (I'm not aware of a comprehensive list) and whether it could interfere with cluster operations.

Some discussion of subresources happened in #1056

If you try it out on a cluster, let us know if it works.

[2022-04-26 03:36] maxsmythe commented on #2020
That's a pretty big version spread, so it's hard to say.

Worst case, you'd have to upgrade through every major version (3.1 -> 3.2 -> 3.3 -> 3.4 -> ... -> 3.8)

but it may also just work. I'd create a test cluster to see if there are any issues.

[2022-04-26 06:16] ritazh commented on #1056
@HenriWilliams Any luck with the PR? Let us know if you need any help!

[2022-04-26 07:46] mbrowatzki opened #2026 "No violations found with gatekeeper 3.8.0 although there are violations and they were found with 3.7.2."
**What steps did you take and what happened:**
With gatekeeper 3.7.2 there  are Total Violations:  4 found in my ns-must-have-label constraint. It's similair to the all_ns_must_have_gatekeeper.yaml example under the demo examples...
After update to 3.8.0 there are: Total Violations:  0.

I played a litte bit around.
Fresh install with 3.8.0 without config (no excluded Namespaces) shows Total Viola

[2022-04-26 08:09] HenriWilliams commented on #1056
You are able to do this in the current helm chart using:
[code]
which was added in [this PR](https://github.com/open-policy-agent/gatekeeper/pull/1962/files#diff-dc8087323f67e6e0d87fde1b2acef914a069da51ee6537bd7c20879356647ec2R35-R37). I think because of this we can probably close this issue now.

[2022-04-26 08:28] HenriWilliams commented on #1601
Is this issue a duplicate of this one - https://github.com/open-policy-agent/gatekeeper/issues/1732?

[2022-04-26 08:53] Poor12 opened #2027 "Use gatekeeper in Multicluster"
**Describe the solution you'd like**
In a production environment, users may deploy a certain scale of services on different clusters due to different cloud vendors' tariff issues or the limited scale of a single cluster. But they share the same policy template and policy, which gives birth to the usage scenario of gatekeeper in multiple clusters. I wonder if the community has some ideas about it o

[2022-04-26 08:55] Poor12 commented on #2027
/production issue

[2022-04-26 13:53] ritazh commented on #1056
Closed via #1806

[2022-04-26 13:53] #1056 closed

[2022-04-26 15:24] mrjoelkamp commented on #2026
I am also experiencing the same issue upgrading helm chart from 3.7.2 to 3.8.0

Before upgrade:
[code]

After upgrade:
[code]

[2022-04-26 22:41] chewong opened #2028 "Support `metrics-backend` flag in helm chart"
Can we support this flag in our helm chart? I am also okay with adding it in a follow-up PR.

_Originally posted by @chewong in https://github.com/open-policy-agent/gatekeeper/pull/2017#discussion_r858060186_

[2022-04-27 01:50] ritazh commented on #1601
@HenriWilliams Yes it’s very closely related. Since you already shared the dockerfile, would you like to open a PR to fix this issue?

[2022-04-27 13:22] asm2git commented on #1827
@maxsmythe @willbeason I did get the same error -- but something else I'm working on is making me just a tiny bit suspicious that something with my company's Docker repo proxy and/or Docker image cache is affecting things. I'll spend some time today bringing up an instance somewhere not on my company's network and see if I can reproduce the problem there.

[2022-04-27 14:50] asm2git commented on #1827
@maxsmythe On a freshly-installed Debian 11 droplet at DigitalOcean, wholly disconnected from anything to do with my company, I copied your exact commands and got the same error.

On a new KinD cluster, I tried "helm install gatekeeper gatekeeper/gatekeeper --namespace gatekeeper-system --version 3.8.0"; same error.

On yet another KinD cluster, I tried "helm install gatekeeper gatekeeper/gatekeep

[2022-04-27 17:44] willbeason commented on #1827
Adding @ritazh as an assignee since this could be a helm issue

[2022-04-28 12:42] speer commented on #1837
I tested on K8S 1.22, by adding `*/*` [here](https://github.com/open-policy-agent/gatekeeper/blob/e71351d0672f8d0143b9df6d23d540928a9ddb74/charts/gatekeeper/templates/gatekeeper-validating-webhook-configuration-validatingwebhookconfiguration.yaml#L49).

This now makes the admission webhook trigger for scale operations.

However, the mentioned rule (replicalimits), will not work out of the box, as

[2022-04-30 04:03] maxsmythe commented on #1827
@asm2git This is weird. Can you post the image sha running on the pod? It should be in the pod status. That will be less ambiguous than label.

For me, kind should be pulling directly from Docker (but it should also be doing that for you), so I'm not sure why we'd be getting different images.

[2022-04-30 04:26] maxsmythe commented on #2026
I created a similar config resource in a kind cluster and it appears to function properly:

[code]

I wonder if this is a case of the webhook failing open?

@mrjoelkamp When you say "Did some digging and it seems that the constraints aren't running for the request." what did you notice?

What are:

* The contents of the `status` field for a constraint you would expect to be enforced
* The status o

[2022-04-30 04:28] maxsmythe commented on #2026
Also @mbrowatzki is it just a namespace label constraint, or do other constraints break?

[2022-04-30 04:29] maxsmythe commented on #2026
Audit also appears to be working for me:

[code]

[2022-04-30 07:43] tomas-stary commented on #1907
Hi, is there any progress? This problem still bothers me and I would like to solve it. Thank you very much.

[2022-05-02 00:14] jalseth opened #2032 "Gatekeepr v3.8.0 rejects a previously working templaate"
**What steps did you take and what happened:**

In [Konstraint](https://github.com/plexsystems/konstraint) we have e2e tests that run against the supported versions of Gatkeeper. In v3.8.0 the K8s API server rejects a ConstraintTemplate that worked in all previous versions:

[code]

Error message:

[code]

**What did you expect to happen:**

Able to create template.

**Anything else you would like

[2022-05-02 09:16] mbrowatzki commented on #2026
- is it just a namespace label constraint, or do other constraints break?
I have 2 constraints and both break. One for label and one for repo

- The contents of the status field for a constraint you would expect to be enforced
`  status:
    auditTimestamp: "2022-05-02T09:00:10Z"
    byPod:
    - constraintUID: b7101640-f7c8-4cdb-8e9d-ef87d4aac7b5
      enforced: true
      id: gatekeeper-audit-5b

[2022-05-02 14:13] asm2git commented on #1827
[apply.gatekeeper-controller-manager.pod.yaml.txt](https://github.com/open-policy-agent/gatekeeper/files/8603419/apply.gatekeeper-controller-manager.pod.yaml.txt)

    image: docker.io/openpolicyagent/gatekeeper:v3.8.0
    imageID: docker.io/openpolicyagent/gatekeeper@sha256:6b5597d1cd5cdfed3f8bd9c63ff2c63312bb640001295ac82bef211841f9d0c1

I confirmed that I get the same image and imageID whether

[2022-05-03 08:17] skattaa commented on #1907
same here ..

[2022-05-03 13:46] ritazh commented on #1907
Thanks for testing it! I’m curious if you have tried this test with the latest GK release v3.8.0? It was bunch of perf improvements.

[2022-05-03 16:30] mrjoelkamp commented on #2026
@maxsmythe thanks for looking into this

I checked the gatekeeper-controller-manager pod logs. I expected to see something related to admission like the following:

[code]

The contents of the status field for a constraint you would expect to be enforced?

Here is the status of one of the many psp constraints we have active:
[code]

Pod status (I am using a custom namespace `security` instead of `

[2022-05-03 16:40] mrjoelkamp commented on #2026
It might be worth pointing out that I started experiencing this bug after this PR was merged https://github.com/open-policy-agent/gatekeeper/pull/1796

Which reworked some of the regex used to parse `excludedNamespaces`

[2022-05-03 17:10] dchernivetsky commented on #1978
Ran into the same issue. Let's add the ability to add annotations to the helm hooks jobs so we can disable istio.

[2022-05-03 18:53] mansoshaik-deloitte opened #2035 "Gatekeeper Mutation does not allow forward slash in the location value"
**Describe the solution you'd like**
Allow parsing the forward slash (/) in the string value provided as the gatekeeper is currently rejecting the value with below error

[code]

[code]

**Environment:**

- Gatekeeper version: 3.7.0
- Kubernetes version: (use `kubectl version`): 1.21

[2022-05-03 19:04] mansoshaik-deloitte commented on #2035
The path parser https://github.com/open-policy-agent/gatekeeper/blob/v3.7.0/pkg/mutation/path/token/scanner.go#L81 seems to be supporting only a select special characters and `/` seems to be not part of it.

[2022-05-03 19:52] sozercan commented on #2035
Can you add quotes around the label? Please see https://github.com/open-policy-agent/gatekeeper/issues/1976

[2022-05-03 20:00] vinayan3 commented on #1822
Also needed/

[2022-05-04 05:49] maxsmythe commented on #2032
It looks like the problem is this header:

`violation["msg"]` should be `violation[{"msg": "message"}]`

This would never have been a valid constraint template, but now we are attempting to compile them as part of admission.

The rejection message is too opaque. When running kubectl in verbose mode, I see this:

[code]
I'm guessing this is because we are failing with errored:

https://github.com/o

[2022-05-04 06:30] maxsmythe commented on #1827
This is very weird. I have the exact same image sha. Everything points to an image mismatch, however.

e.g. if I have a "bad import" error, here is what happens for me:

[code]

but if I make it a verbose request, I get this:

[code]

It might be worth setting up a video call to see this in real time. Not sure why there is a version mismatch (Rego version is hardlinked in to Gatekeeper), but every

[2022-05-04 06:34] maxsmythe commented on #1907
I think it'd be worth trying the automaxprocs thing. Does anyone have any experience using it? Any known issues? If not, I can look at including it.

[2022-05-04 13:41] asm2git commented on #1827
I'm happy to do a video call. I'm in US/Eastern, typically working 0830 to 1600 (UTC 1230 to 2000) but I can do a call as late as 2000 (UTC 0000) if that's better for you. Monday, Wednesday, and Friday are better for me.

It might be better if we do this on my personal instance (Debian 11). I'll work on recreating that, then I can snapshot it and just bring it up when we're ready for the call.

[2022-05-04 14:29] tomas-stary commented on #1907
Personally, I only know of one use [here](https://github.com/prometheus/prometheus/pull/10498/files).

[2022-05-04 16:35] maxsmythe commented on #2026
Thanks for the data!

This is not good, users who have configs should probably avoid this release until we sort this out.

@open-policy-agent/gatekeeper-maintainers @ritazh @sozercan @willbeason

I was able to replicate the bug with this config (reliably, no flaking):

[code]

Poking around, it looks like OPAs data cache is somehow getting wiped of constraints even though the constraint framework

[2022-05-04 16:44] maxsmythe commented on #2026
Actually, here is the debug run where the "remove data" code is disabled:

[code]

still no dumping of data, so the driver dump command may not be dumping the constraints, though note that the tracing is much more active.

[2022-05-04 22:13] #2026 closed

[2022-05-04 22:52] #1783 closed

[2022-05-04 23:03] maxsmythe commented on #1783
Found the core problem -- this bit of Rego code below was ill-behaved when `data.external` is undefined, which can happen when modifying the config resource. Fixes (attached to this bug) are rolling out.

https://github.com/open-policy-agent/frameworks/blob/8066162cf5e2ba18308c339e2ab57f834948db22/constraint/pkg/client/drivers/local/rego.go#L37

[2022-05-05 00:30] sozercan commented on #2026
@mbrowatzki @mrjoelkamp thanks for reporting this! We fixed this in [v3.8.1](https://github.com/open-policy-agent/gatekeeper/releases/tag/v3.8.1), let us know if this fixes your issue

[2022-05-05 03:08] maxsmythe commented on #1827
I've started getting the same errors as you. Not sure why I wasn't before. Looking into it, the "from future" stuff doesn't work as of 3.8.0, but on newer commits. If you wanted to play around with it, this image should work:

`openpolicyagent/gatekeeper:ecf6092`

Sorry for the confusion, not sure why I wasn't seeing the errors before. Maybe the webhook hadn't spun up before I created the constrai

[2022-05-05 18:17] asm2git commented on #1827
@maxsmythe Still no joy :-(

Installed with: helm install gatekeeper gatekeeper/gatekeeper --namespace gatekeeper-system --set "image.release=ecf6092" --set "postInstall.labelNamespace.image.tag=ecf6092"

Error when applying bad ConstraintTemplate: Error from server: error when creating "policy/test-import/template.yaml": admission webhook "validation.gatekeeper.sh" denied the request: invalid Con

[2022-05-05 18:30] willbeason commented on #2032
@maxsmythe No promises on exactly when I'll have time to get on this. Possibly next week, but again no promises.

[2022-05-05 23:20] davis-haba commented on #2011
@kahirokunn we've implemented what you're describing.

When you create a `ConstraintTemplate`, it creates a CRD that has an owner reference to the template. For example, if you were to create the [k8srequiredlabels](https://github.com/open-policy-agent/gatekeeper/blob/master/demo/basic/templates/k8srequiredlabels_template.yaml) template, it would create a CRD (which you can see with `kubectl get c

[2022-05-05 23:30] #1985 closed

[2022-05-05 23:39] maxsmythe commented on #2032
No worries, just wanted to be sure it was still on your plate.

[2022-05-06 00:15] maxsmythe commented on #1827
Sigh, my version struggle bus continues. I think the dev tag was impacted by:

https://github.com/open-policy-agent/gatekeeper/pull/2041#event-6557132719

This time I've verified the following image should work. If it doesn't work, we should set up a call for Monday (giving us Friday to find a time):

`openpolicyagent/gatekeeper:ffea423`

[2022-05-06 01:38] jalseth commented on #2032
Thanks for looking into this! I can update the template in our e2e test to fix this. More verbose error messages are always appreciated though!

[2022-05-06 05:59] mbrowatzki commented on #2026
Hello,
v.3.8.1 works for me :). Thanks a lot for the fast fix.

[2022-05-06 13:22] mrjoelkamp commented on #2026
@sozercan @maxsmythe Thanks for the update! It is working as expected again. I appreciate the help on this!

[2022-05-07 00:49] maxsmythe commented on #1827
Whew, glad we sorted this out!

@sozercan Would we cut this as 3.8.2? What would be the barriers to releasing this?

[2022-05-07 00:50] maxsmythe commented on #2026
Thank you for reporting the issue!

[2022-05-10 06:49] skattaa commented on #1887
any idea ?

[2022-05-11 18:07] ericmenard opened #2047 "Deploy gatekeeper ConstraintTemplate and Constraint with flux"
I'm using basic example of gatekeeper policy and I'm trying to deploy them with flux

My template:
[code]

My constraint:
[code]

My kustomization:
[code]

If I'm deploying only the template then the constraint by commenting kustomization lines, it's work.
However, if I'm leaving both template and constraint together, I'm getting this error `policies.all-ns-must-have-gatekeeper-label   False   K8s

[2022-05-13 04:20] #1952 closed

[2022-05-14 14:24] marcinkubica commented on #1562
Hello, I'm new to rego. @willbeason is this problem the same as when using syntax error in the example below, when both template and policy is applied, however not enforced (ie. no violations are observed).
Cheers

[code]

[2022-05-16 12:14] asm2git commented on #1827
@sozercan @maxsmythe Any word on a new release?

[2022-05-16 16:34] willbeason opened #2050 "Upgrade Kubernetes version launched by Kind in makefile to 1.24.x"
As-is we can't test templates/etc which use ephemeral clusters.

See: https://github.com/open-policy-agent/gatekeeper-library/pull/191

[2022-05-16 23:52] maxsmythe commented on #1827
@sozercan any barriers to starting a new release chain incorporating everything in main?

[2022-05-17 00:03] maxsmythe commented on #1562
@marcinkubica The Rego syntax in your example is correct, but attempts to access a non-existing field. When that happens, that line is considered "undefined", which is "falsey", and Rego considers the rule not to have been matched, which leads to no violation.

TL;DR that behavior is WAI from a Rego perspective (though I, personally, would prefer a more fail-closed approach).

[2022-05-17 00:31] maxsmythe commented on #2047
Gatekeeper creates a constraint `CustomResourceDefinition` (CRD) on the K8s cluster when it notices a `ConstraintTemplate`. This CRD is needed otherwise Kubernetes wont know how to recognize the constraint.

It appears that flux is trying to apply the constraint without first waiting for the CRD to be created/initialized. There are ways to know if the constraint CRD is created by either:

* lookin

[2022-05-17 01:59] sozercan commented on #1562
@willbeason are we okay to close this original issue with compiler sharding changes in v3.8?

[2022-05-17 02:00] sozercan commented on #2011
@kahirokunn does Davis' comment address your question?

[2022-05-17 02:02] sozercan commented on #2035
@mansoshaik-deloitte closing this issue, feel free to re-open if you are still having issues

[2022-05-17 02:02] #2035 closed

[2022-05-17 05:29] ritazh commented on #2050
Fixed by https://github.com/open-policy-agent/gatekeeper/pull/2048

[2022-05-17 05:29] #2050 closed

[2022-05-17 17:07] joaoubaldo commented on #1156
I had this issue in a few deployments too.
Meanwhile I've opened this [PR](https://github.com/open-policy-agent/gatekeeper/pull/2052) which should help with the issue.

[2022-05-17 22:43] maxsmythe commented on #1562
It looks like the error issue has been mitigated somewhat by this code:

https://github.com/open-policy-agent/frameworks/blob/9db6a6b27c9741bcf9c5f4d8c6e3ef230b49f41d/constraint/pkg/client/drivers/local/driver.go#L248-L263

Which makes it so a failure only affects all constraints of the same kind (as opposed to all policy generally).

If we wanted to make this constraint-specific for debug-ability

[2022-05-18 12:25] stek29 opened #2053 "status.created is set to true even when all pods have reported errors"
**What steps did you take and what happened:**
Created an ConstraintTemplate containing Rego code (overriding ValidationWebhook verification for this test).

ConstraintTemplatePodStatuses containing errors were created, and those were propogated to ConstraintTemplate's status.byPod field.
However, status.created is still set to true.

[code]

**What did you expect to happen:**
status.created not t

[2022-05-18 18:57] jimmyraywv opened #2055 "Add Constraint-Level Audit Override Settings"
**Describe the solution you'd like**
I would like to be able to control the audit functionality at the the constraint level. Currently, the settings described [here](https://open-policy-agent.github.io/gatekeeper/website/docs/audit/#configuring-audit) are system-wide settings. In testing with the new External Data Provider feature, I realized that it would be very nice to be able to override the g

[2022-05-18 21:19] ritazh commented on #1827
Per community call, we have decided to cut v3.9.0-beta.1 to include this change.

[2022-05-19 03:08] maxsmythe commented on #1827
Release v3.9.0-beta.1 cut!

https://github.com/open-policy-agent/gatekeeper/releases/tag/v3.9.0-beta.1

[2022-05-19 11:35] thomasmckay commented on #1827
And 3.8.2 will be created as well?

[2022-05-19 13:53] ritazh commented on #1827
Looking at v3.8.0, it did include #1968 https://github.com/open-policy-agent/gatekeeper/commits/v3.8.0, @maxsmythe do you know why v3.8.0 is missing the OPA upgrade? Or was the change introduced in a different commit?

[2022-05-19 23:15] maxsmythe commented on #1827
There was a frameworks change to regorewriter that was necessary in order to recognize the new keyword

[2022-05-20 01:31] ritazh commented on #1827
Do you mind point me to the PR/commit where this change was made?

[2022-05-20 01:52] sozercan commented on #1827
@ritazh https://github.com/open-policy-agent/frameworks/pull/217

[2022-05-20 08:35] mandeepgoyat opened #2058 "How to verify container images in K8s cluster using OPA Gatekeeper"
Hi Team

I would like to verify my container images before deploying to pod in my k8s cluster.
I am trying to achieve this with cosign-gatekeeper-provider i.e  https://github.com/sigstore/cosign-gatekeeper-provider
I have signed the image using cosign but I am not able to verify images when I try to deploy pod using manifest in my cluster.

I am getting following error:-
error when creating “polic

[2022-05-21 01:39] ritazh commented on #2058
xref: https://github.com/sigstore/cosign-gatekeeper-provider/issues/16
Closing this here since this is a provider issue.

[2022-05-21 01:39] #2058 closed

[2022-05-23 03:34] kahirokunn commented on #2011
I have tested it and it works well.
Thank you!

[2022-05-23 03:34] #2011 closed

[2022-05-24 00:07] stek29 opened #2059 "topologySpreadConstraints support in helm chart"
It would be nice to have topologySpreadConstraints in the official helm chart

[2022-05-24 04:46] maxsmythe opened #2060 "Lock Contention"
**What steps did you take and what happened:**

When there is a config that syncs large numbers of objects with frequent updates, it can cause performance issues due to lock contention with the validation webhook.

We should find the lock contention (perhaps sync acquires a write lock and validation a read lock) and resolve it.

Here is where the write lock appears to be acquired:

https://github.

[2022-05-24 12:46] alperb-icp commented on #1887
I have this problem too on CD solution we use which only has Helm v3.1.2. It doesn't happen when I use Helm v3.8.0 on a different environment. But it looks like a different reason than yours.

I have this in the event logs of the cluster. From what I can see, helm creates the job before it creates the service account and job never starts, so helm timeouts at the end. So we can just blame old Helm

[2022-05-24 13:38] ritazh commented on #866
@fireman777 can you pls provide more details for how you deployed Gatekeeper, GK version, K8s version. Did you use an external certificate or did GK generate the cert? Can you post the relevant API Server logs too?

[2022-05-24 13:59] fireman777 commented on #866
Sorry, that didn't provide more details.
We deployed GK (v3.8.0) in AWS EKS (v1.19) via helm. We didn't generate any certificates, just installation.
We didn't notice any errors other than "TLS handshake error".
How can I get logs from API servers? I mean deployed EKS in AWS and there's no apiserver pod.

[2022-05-24 16:24] mandeepgoyat commented on #1887
I tried this workaround given at "https://docs.containerplatform.hpe.com/54/reference/kubernetes/kubernetes-administrator/clusters/Troubleshooting_OPA_Gatekeeper.html" and worked for me.

1. Disable Open Policy Agent (OPA) Gatekeeper on a Kubernetes cluster for troubleshooting purposes, and
2. re-enable OPA Gatekeeper after any issues have been corrected.

[2022-05-24 17:43] henrysecond1 opened #2061 "Document about using inventory in gator CLI"
While writing gator tests, we found that `Case` supports inventory.
However, documentation seems missing about inventory when using gator CLI
- https://github.com/open-policy-agent/gatekeeper/blob/master/pkg/gator/suite.go#L43-L45
- https://open-policy-agent.github.io/gatekeeper/website/docs/gator#cases

I think it would be helpful if documentation is added.

[2022-05-24 20:12] aadhik opened #2063 "CVE in Gatekeeper 3.8.1"
The version 3.8.1 of gatekeeper we scanned for CVE's it returned the below vulnerabilities .

CVE-2020-8559 - The Kubernetes kube-apiserver in versions v1.6-v1.15, and versions prior to v1.16.13, v1.17.9 and v1.18.7 are vulnerable to an unvalidated redirect on proxied upgrade requests that could allow an attacker to escalate privileges from a node compromise to a full cluster compromise.
Fix Versi

[2022-05-25 01:40] maxsmythe commented on #2063
Thanks for reporting!

I don't think these vulnerabilities are accurate for G8r:

* `k8s.io/apiserver:0.23.5` corresponds to a library for K8s version 1.23.5, which is higher than the cited vulnerabilities (K8s gomod versioning is weird (note the kubernetes-1.23.5 tag associated with this commit: https://github.com/kubernetes/apiserver/commit/b416dfd63903b5ff701b122f94c3a67734e16774 )

* The first

[2022-05-25 01:40] #2063 closed

[2022-05-25 04:13] ritazh commented on #2061
Thanks @henrysecond1! Would you like to open a PR for this?

[2022-05-25 04:20] henrysecond1 commented on #2061
@ritazh Sure I'll open a PR soon, thank you for checking it!

[2022-05-25 17:14] willbeason commented on #2055
What's your use case here? Are you experiencing performance issues with certain Constraints that trigger on many objects in your cluster? (e.g. does your cluster slow down/experience excessive CPU usage whenever audit is triggered)

[2022-05-25 17:16] willbeason commented on #2053
Good find! We should add tests for this because this is definitely a bug.

[2022-05-25 17:40] jimmyraywv commented on #2055
@willbeason The initial use case is that the audit activity was triggering the policy to call the external data provider every 60s. The external data provider was then making calls outside of the cluster. While we can certainly add caching to the service called by the external data provider, the situation made me think that maybe not all policies are of the same criticality or priority for auditin

[2022-05-25 18:35] willbeason commented on #2060
Added a feature request to OPA. The three line change I benchmarked reduced time to add data to OPA storage by >99%.

[2022-05-25 18:44] willbeason commented on #2055
Thanks for responding! That makes sense - I'll bring that up in our meetings.

[2022-05-25 20:53] willbeason commented on #2060
https://github.com/open-policy-agent/opa/pull/4709 is out for review.

We'll probably want to deepcopy the object before passing it to OPA storage, just to be safe, so for Gatekeeper the CPU time reduction will be 90%, but the time the transaction holds on the lock will be reduced 99%. This should make our max throughput (as far as the lock is concerned) about 100x higher if AddData is called in p

[2022-05-25 23:57] #2028 closed

[2022-05-26 23:09] #1837 closed

[2022-05-27 01:30] #2061 closed

[2022-05-27 06:44] tomas-stary commented on #1907
Hi, is there any progress?

[2022-05-27 11:36] stek29 commented on #1819
another usecase – testing for UPDATE's with `oldObject`

[2022-05-27 16:36] veerendra2 opened #2070 "Gatekeeper monitoring with promtheus and grafana on K8s"
Hello,
We are using AKS (Azure Kubernetes Service) cluster enabled azure policy which azure internally deploys gatekeeper.
Are there any official (prometheus data source) grafana dashboard from OPA gatekeeper. I tried to use https://grafana.com/grafana/dashboards/15763?src=kentik&plcmt=footer, but some metrics and label are missing?! as I asked in https://stackoverflow.com/questions/72200894/azure

[2022-05-27 18:21] willbeason commented on #1907
Have you tried upgrading to GK v3.8.1? It's ~3x faster overall compared to earlier versions and may alleviate your issues.

[2022-05-28 00:26] sozercan commented on #866
@srikiz are you seeing this issue with AKS Policy addon? if so, can you open a ticket in the Azure portal?

[2022-05-28 03:47] srikiz commented on #866
Yes @sozercan - I have opened a ticket.  Thanks !

[2022-05-30 17:08] timbuchwaldt commented on #1907
Weighing in with some experience: In general it's advisable to manage GOMAXPROCS. Not setting it explicitly is a destined failure as threads fight for CPU time that can't exist, limiting them to the amount of CPU time archieveable improves all metrics - throughput, latency, even CPU load (as no threads fight/busy-wait).  We have just rolled it out on an internal system, halving the CPU usage at th

[2022-05-31 13:29] HenriWilliams commented on #1601
Hi @ritazh, apologies for the delay on this! I've created a PR for this locally - what's the best way of opening this in the repository? Thanks

[2022-05-31 14:00] ritazh commented on #1601
Thanks @HenriWilliams! PTAL https://open-policy-agent.github.io/gatekeeper/website/docs//gatekeeper/website/docs/help Let us know if you need help!

[2022-05-31 14:33] HenriWilliams commented on #1601
Thanks @ritazh - https://github.com/open-policy-agent/gatekeeper/pull/2077

[2022-05-31 20:39] willbeason commented on #1434
All done!

[2022-05-31 20:39] #1434 closed

[2022-06-01 02:28] #1156 closed

[2022-06-02 11:01] srb97 commented on #733
Hello @Cajga,

I am also facing the same issue, can you please share what changes you have made in firewall rules to resolve the issue.

`Error from server (InternalError): Internal error occurred: failed calling webhook "check-ignore-label.gatekeeper.sh": Post "https://gatekeeper-webhook-service.gatekeeper-system.svc:443/v1/admitlabel?timeout=3s": context deadline exceeded`

[2022-06-02 13:08] zswanson commented on #866
Saw very similar issue to this on GKE with cluster versions 1.21 and 1.22, upgrading from gatekeeper 3.5.2 to 3.8.1. The upgrade appeared to work but the gatekeeper controller started logging the TLS Handshake Error messages for the validating admission hook.

[2022-06-02 15:08] #1725 closed

[2022-06-02 15:28] Cajga commented on #733
@srb97 I am sorry but that was ages ago :/

Best what you could do is to try get that site in hte link back... You could try to roll back the [https://github.com/open-policy-agent/gatekeeper](https://github.com/open-policy-agent/gatekeeper#running-on-private-gke-cluster-nodes) repo to 2020 at around 28th of Aug and you should see the list in the README.md under the running-on-private-gke-cluster-n

[2022-06-02 17:47] dippynark opened #2081 "Add constraint_name label to gatekeeper_violations audit metric"
**Describe the solution you'd like**

Currently the `gatekeeper_violations` audit metric only has an `enforcement_action` label: https://github.com/open-policy-agent/gatekeeper/blob/39f6c504def6f7f0807bd3465d13f98cacb0c631/pkg/audit/stats_reporter.go#L40

It would be valuable to add a label called `constraint_name` so that violations can be associated to particular constraints. In particular, this

[2022-06-02 21:37] svalleru opened #2082 "Policy failure when `some` is used"
**What steps did you take and what happened:**
When rego's `some` keyword is used inside a policy, GK is panicking with the following error-

[code]

**What did you expect to happen:**
Pod should get created without any policy failure

**Anything else you would like to add:**
`contraint.yaml`
[code]

`constraintTemplate.yaml`
[code]
`pod.yaml`
[code]

`error`
[code]

if i replace
[code]
with
[code

[2022-06-03 00:48] maxsmythe commented on #733
The information for that section of the README now lives here:

https://open-policy-agent.github.io/gatekeeper/website/docs/vendor-specific

[2022-06-03 02:10] maxsmythe commented on #2081
The cardinality issue is salient in that a label is never removed. This means that the cardinality of the metric would trend toward infinity over time.

Another concern would be that metrics are traditionally less locked down, so sensitive data may be a concern.

I can't find any bugs/issues for it, but at one point people were looking to contribute something like what you were describing in a fla

[2022-06-03 02:36] maxsmythe commented on #2082
3.4.0 is quite old and uses an older version of OPA. Are you seeing this error with a more recent version of Gatekeeper?

[2022-06-03 14:39] stek29 opened #2085 "Gatekeeper stops working after a Config with spec.sync.syncOnly is created and deleted"
**What steps did you take and what happened:**
I've created a constrainttemplate/constraint and wrote a test pod definition which violates that constraint.
I did not have any gatekeeper `Config` resources, and I've created gatekeeper `Config` with `spec.sync.syncOnly` set to `Node`s, and checked that violations are still generated for the test pod.
I've removed the `Config` resource, so there are

[2022-06-03 15:47] dippynark commented on #2081
@maxsmythe I think the cardinality of the metric would be `number_of_enforcement_actions` ([3 I think](https://open-policy-agent.github.io/gatekeeper/website/docs/next/violations/)) multiplied by the number of audit replicas (usually 1) multiplied by the number of constraints. [This](https://prometheus.io/docs/practices/instrumentation/#do-not-overuse-labels) page suggests that 100,000 timeseries

[2022-06-03 16:24] willbeason commented on #1703
@grosser Memory consumption for audit should be greatly reduced with Gatekeeper v3.8.x - our benchmarks saw memory usage reduced by 10x or more. Has this improved your situation at all?

The main memory improvements we see aren't debuggable with the Gator CLI, so I'm removing it from the Gator milestone.

[2022-06-03 16:30] willbeason commented on #1622
Closing as duplicate of https://github.com/open-policy-agent/gatekeeper/issues/1819

[2022-06-03 16:30] #1622 closed

[2022-06-03 16:31] willbeason commented on #1768
Closing as duplicate of https://github.com/open-policy-agent/gatekeeper/issues/1819 (which offers a more complete solution)

[2022-06-03 16:31] #1768 closed

[2022-06-03 16:31] willbeason commented on #1819
Looking at this now

[2022-06-03 17:49] seif-raafat opened #2086 "Allow better support of Gator CLI for constraint templates within helm charts"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Allow better support of Gator CLI for constraint templates within helm charts. See the structure and template below:

[code]

templates/allowedrepos-template.yaml
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

The Rego source files

[2022-06-03 18:29] grosser commented on #1703
we were not able to update to 3.8.x yet since it causes lots of oomkills, not a priority atm, will report back when we finally do 🤞

[2022-06-03 20:00] #1732 closed

[2022-06-03 20:29] maxsmythe commented on #2081
Unfortunately Prometheus doesn't let us de-host a metric, so the g8r process would retain the metric, which would behave as a memory leak until the process restarts. Also, there are other metrics repositories than TSDB. Particularly hosted ones, which may charge per-metric. I'm unsure if they have the same expiry-type behavior.

This is the current state of the world, but if we open this up to con

[2022-06-03 20:38] notchairmk commented on #1703
to clarify for v3.8.x a little: audit _seems_ fine but we ran into memory issues with webhook in high volume clusters so had to revert the upgrade. we'll likely have a better idea once #2060 is addressed

[2022-06-03 20:49] maxsmythe commented on #2085
I'm not able to reproduce this on v3.8.1 in the agile bank demo (transcript below). Can you double check that you are running
the `openpolicyagent/gatekeeper:v3.8.1` image on your pods? This problem existed for v3.8.0, but was fixed for 3.8.1: #2026

[code]

[2022-06-03 20:56] maxsmythe commented on #1703
For webhook memory usage, can you set GOMAXPROCS to the # of CPU in your pod per #1907 ? Also, for high volume usage, setting `--max-serving-threads` will limit the number of parallel OPA queries, which may also improve memory usage. I'd start by setting `--max-serving-threads` equal to the # of CPU in your pod and experiment with tuning later if it appears to help.

[2022-06-03 20:56] maxsmythe commented on #1703
The above wont fix lock contention, but it will prevent OOMing

[2022-06-03 21:21] seh opened #2087 "AssignMetadata: Allow targeting objects by annotations as well as labels"
# Desire
Per [discussion that I started in the "opa-gatekeeper" channel](https://openpolicyagent.slack.com/archives/CDTN970AX/p1654030008808579) of the "Open Policy Agent" Slack workspace, I would like to be able to select target objects for the _AssginMetadata_ mutator by way of their annotations, and not just their labels.

Repeating what I wrote earlier, I noticed that [the _AssignMetadata_ mut

[2022-06-03 21:22] dippynark commented on #2081
This all makes a lot of sense. I think severity would be sufficient, however reading through issue https://github.com/open-policy-agent/gatekeeper/issues/1649 more carefully, it seems something like [logrecycler](https://github.com/grosser/logrecycler) could be used to ingest audit logs and expose exactly the Prometheus metrics we need (and to easily adjust the metrics as needs change), so perhaps

[2022-06-03 21:36] stek29 commented on #2085
sorry, I've been indeed testing in wrong environment with v3.8.0 and not v3.8.1 as I expected.
I'm closing the issue for now, and I'll reopen it if updating to v3.8.1 doesn't fix the issue.

[2022-06-03 21:36] #2085 closed

[2022-06-03 22:52] notchairmk commented on #1703
We currently have `GOMAXPROCS` set, so we should be good there 👍

We did try setting `--max-servings-threads` with v3.7.1 which seemed to resolve infrequent oomkills (overall slightly decreased memory usage), but caused validation request duration to increase to the point of falling back to the webhook `failureMode`. Would be good to try when we approach upgrading again, for sure.

[2022-06-03 23:29] ritazh commented on #2081
For users who may not want to go thru the logs, how do we feel about adding pub/sub to Gatekeeper?

[2022-06-03 23:35] ritazh commented on #2070
No.

That is correct. Those information are not exposed in prometheus because once a label is created, it cannot be removed, hitting the cardinality issue as the number of violating resources will continue to grow.
Related discussion: https://github.com/open-policy-agent/gatekeeper/issues/2081

[2022-06-04 16:34] willbeason commented on #1916
Done with #1900

[2022-06-04 16:34] #1916 closed

[2022-06-04 20:40] mandeepgoyat opened #2089 "How to distribute OPA/gatekeeper policies across various EKS clusters"
Hi Team

I have one query-- How can I distribute and manage OPA policies across various EKS clusters ?

[2022-06-06 15:33] #1755 closed

[2022-06-07 01:58] sozercan opened #2094 "Migrate semantic PR check"
https://github.com/zeke/semantic-pull-requests is no longer maintained.

We should migrate to one of the alternatives listed in https://github.com/zeke/semantic-pull-requests#alternatives or something else

[2022-06-07 02:20] sozercan commented on #2094
Installed https://github.com/Ezard/semantic-prs

[2022-06-07 02:20] #2094 closed

[2022-06-07 04:50] maxsmythe commented on #2087
The main issue with trying to implement annotation selectors is how to write annotation selectors. I think I wrote about this a while back, but I can't find it.

The thing is that annotations are structured whereas labels must have simple string values. E.g. if I have the annotation:

`{"one": "a", "two": "b"}`

and there is a selector that is expecting:

`{"two": "b", "one": "a" }`

should the an

[2022-06-07 05:39] srb97 commented on #733
Hello @maxsmythe @Cajga ,

Thanks a lot for your help :) . Error got resolved by whitelisting 8443 port.

[2022-06-07 12:07] seh commented on #2087
Where did you hear that annotation values are structured? [The documentation notes](https://github.com/kubernetes/apimachinery/blob/98853ca904e81a25e2000cae7f077dc30f81b85f/pkg/apis/meta/v1/types.go#L213-L218) that they are unstructured, and [the validation function in the API machinery](https://sourcegraph.com/github.com/kubernetes/apimachinery@98853ca/-/blob/pkg/api/validation/objectmeta.go?L45-

[2022-06-07 13:24] HenriWilliams commented on #1601
The gator docker image is now available so we can close this issue :)

[2022-06-07 16:27] seh commented on #2087
In an appeal to prior art, note that both _kustomize_ and Kyverno allow selecting target objects by annotation selectors. Kyverno has [an example](https://kyverno.io/docs/writing-policies/match-exclude/#match-all-pods-using-annotations) in its documentation, and _kustomize_ allows such target selection in its ["patches"](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches

[2022-06-07 16:32] #1601 closed, assigned to nobody

[2022-06-07 21:37] maxsmythe commented on #733
Glad you got it working!

[2022-06-08 17:53] LijieZhou commented on #1887
Same problem with Helm Version v3.0.1 install gatekeeper using helm chart

[2022-06-09 18:22] mes5k commented on #1887
@chewong In my experience this is an intermittent problem. At one point I was seeing failures maybe 1 in 10 times.

I've had some luck adding `--timeout 10m` to the helm install command.

At one point I got the impression that the update-namespace-label pod was starting, attempting to do whatever it does, failing and then restarting relying on k8s crash loop backoff.  Since that _backs off_ before

[2022-06-09 18:31] ekitson opened #2095 "Constraint status violations are missing the GV in GVK"
**What steps did you take and what happened:**
View the status of a constraint with violations. Each violation has a Kind, Namespace, and Name, but no Group or Version.

**What did you expect to happen:**
Resources are only uniquely identifiable by their GKNN and most API server requests require GVKNN. It would be helpful to fully identify violating resources.

**Anything else you would like to ad

[2022-06-10 09:46] amosaini opened #2096 "no matches for kind "K8sAllowedRepos""
**What steps did you take and what happened:**
Applied Gatekeeper through the following Kustomization.yaml file to install Gatekeeper, ConstraintTemplate and K8sAllowedRepos at once.
Kustomization.yaml
[code]
**What did you expect to happen:**
<img width="511" alt="image" src="https://user-images.githubusercontent.com/95207359/173038797-55cdf3b2-826b-41ee-a987-a94fb24c252b.png">
Getting the above

[2022-06-10 11:12] amosaini commented on #2096
I don't know how but this is working with ArgoCD in place.

[2022-06-10 11:12] #2096 closed

[2022-06-10 14:59] jdef opened #2097 "`--bind-addr` flag to control the address configured for ctrl.Options.Host"
**Describe the solution you'd like**
I want to be able to run GK webhooks in the host network ns, listening on 127.0.0.1; I can't configure gatekeeper that way w/o forking it. Adding a flag to set the Host field of controller options is fairly trivial, and backward compat.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2022-06-13 20:13] Sartigan opened #2099 "Custom ressource not blocked"
**What steps did you take and what happened:**
I want to test blocking all ExternalSecrets:
[code]

I want to see the data sent to the admission controller, so I use the K8sDenyAll CT + constraint refering to it with the information above:
[code]

I make sure my `validatingwebhookconfigurations` takes everything:
[code]

Now I try to create a ExternalSecret
[code]
The ressource is not denied... Wh

[2022-06-13 20:38] venkat51286 opened #2100 "Gatekeeper returning best practices as warnings"
While gatekeeper testing OPA policies, it will be nice to see best-practices as warning messages if we are not following them.

e.g. test for "no latest tags" policy will pass if there are no latest tags found. But it should also print "Please use image digests whenever possible instead of tags" best practice as a warning message. (Something I remembered when working with Chef rubocop). This way w

[2022-06-13 21:54] sozercan commented on #2100
Warning messages are supported: https://open-policy-agent.github.io/gatekeeper/website/docs/violations/#warn-enforcement-action

In your policies, you can add best practices messages and it will output them as warnings. Closing this issue, feel free to open if it doesn't answer your question.

[2022-06-13 21:54] #2100 closed

[2022-06-13 23:47] Sartigan commented on #2099
Same behavior with `gatekeeper:v3.7.1`. I had to use the `templates.gatekeeper.sh/v1` api for the constraintTemplate.

[2022-06-14 14:41] Sartigan commented on #2099
Solved my issue, I was supposed to use `ExternalSecret` rather than `externalsecrets`

[2022-06-14 14:41] #2099 closed

[2022-06-14 17:47] #2095 closed

[2022-06-14 18:08] moetemad opened #2101 "Addition of hostAliases"
Looks like there is no possibility to add spec.hostAliases to a resource like a pod.

Using on Rancher Desktop with:

- Gatekeeper version:  v3.8.1
- Kubernetes version: (use `kubectl version`): v1.23.6

The yaml for mutation file being created is as follows:
[code]
The above is created with no errors. However when trying to create a pod with the below yaml file, an error occurs:

[code]

Error is

[2022-06-14 18:44] #2101 closed

[2022-06-14 19:09] moetemad commented on #2101
There was an error in the Assign. The correct way to have it is:

[code]

[2022-06-14 19:54] ctml91 opened #2102 "include platform flag or more granular rbac controls in helm chart for openshift"
**Describe the solution you'd like**
To add a flag for the platform in helm chart to handle appropriate RBAC and annotations or more granular RBAC . In OpenShit the default SCCs do not grant privileges to allow one to use seccomp. #842 discusses it a bit, and the recommendation now included [in the docs](https://open-policy-agent.github.io/gatekeeper/website/docs/vendor-specific/#running-on-opensh

[2022-06-15 15:40] ctml91 commented on #2089
You can leverage gitops tooling to handle the CD and apply these manifests across certain or all clusters you choose to connect to it. For example ArgoCD.

https://argo-cd.readthedocs.io/en/stable/

https://aws.amazon.com/blogs/containers/gitops-model-for-provisioning-and-bootstrapping-amazon-eks-clusters-using-crossplane-and-argo-cd/

[2022-06-16 03:15] #2020 closed

[2022-06-16 16:48] ZhiminXiang opened #2105 "Allow making `gatekeeper-update-namespace-label` job as post-upgrade hook"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently the `gatekeeper-upgrade-namespace-label` job can only be installed as `post-install` helm hook (See [template](https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/templates/namespace-post-install.yaml#L13)). It would be great to also support making the job as `post

[2022-06-17 01:07] ritazh commented on #2105
Thanks for opening an issue for this! Would you like to open a PR?

[2022-06-17 14:58] cbanciu667 opened #2106 "CRDs are not installed via Helm"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

CRDs are not installed with helm, getting errors similar to this one:
✗ Kustomization reconciliation failed: K8sContainerLimits/container-must-have-limits dry-run failed, error: no matches for kind "K8sContainerLimits" in version "constraints.gatekeeper.sh/v1beta1"

**What did you expect to happen

[2022-06-17 15:24] ritazh commented on #2106
@cbanciu667 which helm chart are you referring to? If it's the Gatekeeper helm chart as described https://open-policy-agent.github.io/gatekeeper/website/docs/install#using-helm then that installs the Gatekeeper components, not individual policies. Once GK is up and running, then you can follow steps in https://open-policy-agent.github.io/gatekeeper/website/docs/howto to install your ConstraintTemp

[2022-06-17 15:47] cbanciu667 commented on #2106
The charts used are https://open-policy-agent.github.io/gatekeeper/charts:

[](apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: gatekeeper
spec:
  interval: 30m
  url: https://open-policy-agent.github.io/gatekeeper/charts)

and this is the config containing all the values:

[code]

[2022-06-17 19:36] julianKatz commented on #2095
Would be good to update the [docs](https://github.com/open-policy-agent/gatekeeper/blob/master/website/docs/audit.md#constraint-status) as well

[2022-06-18 00:25] ritazh commented on #2106
That's the Gatekeeper helm chart that installs the Gatekeeper components, not individual policies.

Gatekeeper-library is a repo of community-maintained policies. Once Gatekeeper is up and running, then you can follow steps in https://open-policy-agent.github.io/gatekeeper/website/docs/howto to install your ConstraintTemplates and Constraints to your cluster.

Closing this issue for now. Feel free

[2022-06-18 00:25] #2106 closed

[2022-06-20 07:45] cbanciu667 commented on #2106
Hi @ritazh ,

This is in fact really a bug from Gatekeeper. It has actually nothing to do with the Helm charts.
The CRDs are not installed on some clusters, but it is a random behaviour even though the configuration is the same for all clusters (deployed with FluxCD). Therefore I attached the logs containing the errors here.

[gatekeeper-audit-bd75fdf66-g86qz.log](https://github.com/open-policy-ag

[2022-06-20 07:47] cbanciu667 commented on #2106
PS: I can not re-open this issue but I think you know better if this is really a bug and if is worth to re-open it.
Otherwise maybe deploying the CRDs manually would help someone in the same situation.

[2022-06-21 18:37] ZhiminXiang commented on #2105
sure. I will work on it.

[2022-06-21 21:56] sozercan opened #2111 "add periodic tests for supported release branches against all k8s versions"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-06-22 04:25] MobsMao opened #2114 "Gatekeeper automatically adds capabilities: drop ALL, and allowPrivilegeEscalation to pod definition"
**What steps did you take and what happened:**
1. running gatekeeper controller manager(3.7.1 and 3.8.1) with argument:
`--port=8443 --logtostderr --exempt-namespace=gatekeeper-system --operation=webhook --operation=mutation-webhook`
no constraints, templates and mutations are deployed.
2. run a pod with definition:
[code]
3. check the result:
[code]
[code]
are automatically added.

If I don't dep

[2022-06-22 08:26] erezo9 commented on #2102
@ctml91 I also experienced this issue
I recently added a PR to add rbac to each of the SA
also, to remove the annotation, just put podAnnotations: null and it should work fine

[2022-06-22 16:24] ritazh commented on #248
We added https://open-policy-agent.github.io/gatekeeper/website/docs/failing-closed to explain the risks and benefits. We may need to redefine what `fail closed` means as compared to other k8s policy solutions.

[2022-06-22 16:27] ritazh commented on #827
Please repro to make sure it's no longer a bug.

[2022-06-22 16:34] #841 closed

[2022-06-22 19:36] bvwells commented on #1863
I believe that issues #1978, #1863 are the same. Hopefully PR #2115 should address both.

[2022-06-22 19:41] bhops opened #2117 "Gator does not properly filter resources according to constraints' `spec.match.kinds.[*].versions`"
**What steps did you take and what happened:**
While implementing some gator test suites for a project, I noticed that gator was not respecting the version field in the match objects.

The following diff demonstrates a simple example that reproduces the problem when running `make test-gator-verify`.

[code]

**What did you expect to happen:**
The result of the test is
[code]
I expected `gator` to

[2022-06-23 01:05] bhops commented on #2117
Upon digging into this a lot further it seems like actually may not be intended functionality (there's a few structures in the gatekeeper resources that follow a similar pattern of accepting an object with similar structure. It appears that I may have mistakenly assumed that this should have worked. So perhaps this is more of a feature request than a bug. In any case, I'll have a PR to address thi

[2022-06-23 01:25] maxsmythe commented on #248
I think the code contemplated in this issue is the readiness tracker, which @shomron wrote a while back.

In general, we've been treating "fail closed" a bit more holistically than other projects. This comment on Kyverno's incubating due diligence doc highlights this: https://docs.google.com/document/d/18dWgOd2MUQz3RXI1R9vKntL3ULyZhOD1HEtijGOeaWg/edit?disco=AAAAYCez1k0

They appear to see value in

[2022-06-23 05:51] ritazh commented on #2106
In the initial issue description, it did not mention there was an issue installing the Gatekeeper CRDs, but rather

This error is complaining that the K8sContainerLimits CRD is not installed (not to be confused with the Gatekeeper components CRDs). To fix this error, please deploy the K8sContainerLimits ConstraintTemplate first before applying the container-must-have-limits dry-run constraint reso

[2022-06-23 06:10] ritazh opened #2119 "Publish GK under v0.3.x for go get"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Per https://github.com/open-policy-agent/gatekeeper/pull/2083#issuecomment-1163358503, we need to publish GK under v0.3.x to ensure `go get github.com/open-policy-agent/gatekeeper@0.3.x` works. As part of this work, we also need to update GK's release process to ensure 2 tags are pushed for every rel

[2022-06-23 13:36] sumsumbee opened #2120 "Audit Error & Missing Violations"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- we applied the config from the example [here](https://open-policy-agent.github.io/gatekeeper/website/docs/sync)
- we did some tests and afterwards removed the config resource
- we then noticed that there were no violations shown in constraints which showed violations before
- there is an error me

[2022-06-24 00:16] maxsmythe commented on #2120
The sync config shouldn't have any impact on this error, since that code is reaching out directly to the API server:

https://github.com/open-policy-agent/gatekeeper/blob/d3e62d05555461d3d1d27b332609fe111501f607/pkg/audit/manager.go#L505-L514

https://github.com/open-policy-agent/gatekeeper/blob/d3e62d05555461d3d1d27b332609fe111501f607/pkg/audit/manager.go#L116-L125

Because we list objects, cachi

[2022-06-24 00:17] maxsmythe commented on #2119
v0.3.x.x?

[2022-06-24 00:34] maxsmythe commented on #2114
If Gatekeeper doesn't have mutators, it shouldn't mutate anything:

https://github.com/open-policy-agent/gatekeeper/blob/abe7fe84c5971332d28ac0b2641e3d97f47eab37/pkg/webhook/mutation.go#L201-L208

https://github.com/open-policy-agent/gatekeeper/blob/abe7fe84c5971332d28ac0b2641e3d97f47eab37/pkg/mutation/system.go#L141-L161

https://github.com/open-policy-agent/gatekeeper/blob/abe7fe84c5971332d28ac0

[2022-06-24 00:38] maxsmythe commented on #2114
To ensure there isn't some code error, maybe you can fake a request as GK's service account, to invoke this code path?

https://github.com/open-policy-agent/gatekeeper/blob/abe7fe84c5971332d28ac0b2641e3d97f47eab37/pkg/mutation/system.go#L175-L198

That would guarantee we are just returning "allowed"

[2022-06-24 00:40] maxsmythe commented on #2114
Or excluding a namespace via the config object may be easier:

https://github.com/open-policy-agent/gatekeeper/blob/abe7fe84c5971332d28ac0b2641e3d97f47eab37/pkg/webhook/mutation.go#L135-L136

https://open-policy-agent.github.io/gatekeeper/website/docs/exempt-namespaces#exempting-namespaces-from-gatekeeper-using-config-resource

[2022-06-24 01:04] ritazh commented on #2102
I just tried to reproduce this by updating manifest_staging/charts/gatekeeper/values.yaml to

[code]

After running `helm template manifest_staging/charts/gatekeeper > tmp` I see the following in gatekeeper/templates/gatekeeper-controller-manager-deployment.yaml

[code]

helm version
version.BuildInfo{Version:"v3.8.0", GitCommit:"d14138609b01886f544b2025f5000351c9eb092e", GitTreeState:"clean", GoV

[2022-06-24 01:42] ritazh commented on #2119
I think https://semver.org/ wants the MAJOR.MINOR.PATCH format.
How about we follow Kubernetes https://github.com/kubernetes/client-go#versioning

So `v3.8.1` --> `v0.8.1` ?

[2022-06-24 06:59] erezo9 commented on #2102
@ritazh
 It only reproduces when you install the chart from a remote location and not from a local location
using GitOps solutions like ArgoCD also reproduces the issue
To reproduce use `helm install --namespace gatekeeper gatekeeper -f values.yaml gatekeeper/gatekeeper` , that will make it reproduce

[2022-06-24 09:27] sumsumbee commented on #2120
@maxsmythe yes I can see the audit violations in the logs.

[2022-06-24 09:46] MobsMao commented on #2114
Sure, I'll do some test and let you know. Thank you!

[2022-06-24 15:31] #1978 closed

[2022-06-24 17:13] jonnylangefeld opened #2123 "feat: Allow to Select Operation for Constraint"
**Describe the solution you'd like**
Currently we can switch on policy enforcements (not audits) for `DELETE` operations via `enableDeleteOperations: true`. That switches on every delete operations for all matching kinds of all constraints on the cluster.
However, we have a few constraints that benefit from the delete operation and a few that get blocked by it. Here one example for each:

**Where

[2022-06-24 17:47] #2105 closed

[2022-06-24 21:01] #1989 closed

[2022-06-24 21:33] sozercan commented on #827
Cannot repro in v3.8.1, closing.

[2022-06-24 21:33] #827 closed

[2022-06-24 23:02] maxsmythe commented on #2123
These appear to be custom constraint templates. Would it be possible to write this logic directly into the constraint template? That would seem to cover these use cases? Are there instances of these templates that should have different behavior such that it needs to be customized on a per-constraint basis?

For `protectCRD`, it looks like this template should only ever be enforced on a delete oper

[2022-06-24 23:04] maxsmythe commented on #2120
@sumsumbee Thanks for checking! Is that true during the period violations are missing from the `status` field of the constraint?

[2022-06-24 23:07] maxsmythe commented on #2119
Ah, thought they just shifted everything right. The above SGTM

[2022-06-24 23:26] maxsmythe commented on #2117
Thanks for the issue and the PR!

The main concern I have with this feature is that version in K8s isn't associated with the identity of an object, only Group-Kind-Namespace-Name identifies an object. E.g. if I were to write out a v1 Pod named "hello" and then a v2 Pod (assuming that existed) named "hello" the second would overwrite the first.

This is relevant for policy enforcement because that

[2022-06-25 01:26] bhops commented on #2117
I agree that you could bypass the policies if they only apply to specific versions but the intention here was actually to specifically enable that possibility.

The use case that I had in mind was to mark the usage of deprecated API versions in an environment where we may not have control over the runtime config API Server flag.

Specifically I may choose to prevent the creation of resources using

[2022-06-25 01:38] bhops commented on #2117
This would also mirror the functionality of the admission webhook’s MatchPolicy field, which allows for “exact” or “equivalent” version matching. Where with exact matching, v1/Pod could go through the webhook where v2/Pod may not.

[2022-06-25 22:20] junoriosity opened #2125 "Cannot make use of Kubernetes namespace infromation"
I have been deploying Gatekeeper to my GKE clusters via Helm charts. Then I was trying to ensure that only Ingress hosts of the form "*.project-name.example.com" should be allowed. For this, I have different namespaces that each have labels "project=a" or similar and each of these should only allow to use ingress of the form "*.a.example.com". Hence I need that project label information for the re

[2022-06-27 16:37] chewong commented on #2125
It should be `data.inventory.cluster["v1"].Namespace["<namespace name>"].labels.project` instead of `data.kubernetes.namespaces[ns].labels.project` (see https://open-policy-agent.github.io/gatekeeper/website/docs/sync)

[2022-06-27 21:12] junoriosity commented on #2125
Hi @chewong many thanks for getting back to me. I amended it accordingly

[code]

but I get a new error

[code]

Do you know how to fix that?

[2022-06-27 21:37] junoriosity commented on #2125
@sozercan I deleted these parts, so I got

[code]

and now I get

[code]

Apparently, it does not find the kind I defined in the template. Do you know how to fix that?

[2022-06-27 21:55] junoriosity commented on #2125
@sozercan  I simply removed the `missing` parts. Now I was able to deploy the resources in the cluster.

Sadly, however, I cannot enforce that policy. My aim was to enforce each ingress of a service in a namespace with label `project=abcd` that the host has to look like `my-subdomain.abcd.example.com` and is rejected otherwise.

I did the following

[code]
Then apply

[code]

and then the ingress

[2022-06-27 22:32] sozercan commented on #2125
Your constraint has the wrong api group, Ingress is in `networking.k8s.io`

[2022-06-28 14:07] phenixSosRun commented on #1135
same issue , I am facing ther same issue when using the opa gatekeeper v3.8.1 : migration from opa gatekeeper v3.2.2 to v3.8.1

[2022-06-28 15:43] junoriosity commented on #2125
@sozercan Okay, I changed the constraint to

[code]

Yet the pattern persists. Is there something else I did wrong?

[2022-06-28 16:23] erezo9 opened #2128 "Add wild card match based on astrix at end and start"
**Describe the solution you'd like**
Currently the solution for wildcard is
'^(\*|\*-)?[a-z0-9]([-a-z0-9]*[a-z0-9])?$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\*|-\*)?$'
which allowed kube-* or *-kube
currently its not supported to put
*-kube-*
*-prod-*
*-dev-*

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
using this regex ^(\*|\*-)?[a-z0-9]([-a

[2022-06-28 19:10] jm890 opened #2129 "missing ConstraintTemplate when adding constraints"
**What steps did you take and what happened:**
This error occurred while installing a custom Helm chart containing constraints:
`Error: admission webhook "validation.gatekeeper.sh" denied the request: missing ConstraintTemplate: template "serviceaccountvalidation" not found`

The general workflow was:
- install gatekeeper chart
- install a "constraints templates" chart
- run and wait for a job tha

[2022-06-28 20:52] #1329 closed

[2022-06-28 21:27] chewong commented on #2125
Can you try using `input.review...` instead of `input.request...`?

[2022-06-28 22:28] chewong commented on #2125
`data.inventory.cluster["v1"].Namespace[ns].metadata.labels.project` instead of `data.inventory.cluster["v1"].Namespace[ns].labels.project`?

[2022-06-29 03:36] maxsmythe commented on #2129
That error suggests that the CRD was created but, for some reason, the template was not cached by the constraint framework. Probably raised by this bit of code:

https://github.com/open-policy-agent/frameworks/blob/95c012350402eb2a130e6b66411d53f689b04e30/constraint/pkg/client/client.go#L354-L368

With just 1 Gatekeeper pod, that shouldn't be possible:

https://github.com/open-policy-agent/gatekee

[2022-06-29 03:50] maxsmythe commented on #1135
What is the `status` field of the constraint template? Can you `kubectl get -o yaml` the template and paste the contents?

If you see `status.created: true` and a bunch of entries in `status.byPod` that don't appear to be errors, can you try re-applying the constraint? It may be the template hadn't been ingested yet.

[2022-06-29 03:59] maxsmythe commented on #2117
I see what you're driving at.

An issue with this for Gatekeeper is that such a policy would be un-auditable, since version metadata is not really persisted with an object, we'd have no way of knowing what versions an object was created/requested/updated in. That may not be an issue if you are comfortable relying on the webhook/gator test for enforcement, but...

audit currently iterates through a

[2022-06-29 04:01] maxsmythe commented on #2114
Glad we found the root issue!

[2022-06-29 04:11] maxsmythe commented on #2117
Another way of doing this could be to parameterize a constraint template with a list of GVK combinations that it should reject. E.g.:

[code]

[2022-06-29 04:11] maxsmythe commented on #2117
Using `spec.match` where possible would be more performant.

[2022-06-29 06:50] phenixSosRun commented on #1135
It does not work like this , for my case in non prod environments it was good the migration from v3.2.2 to v3.8.1 was fluent however in prod env it faced the  problem , I didn't installed opa gatekeeoer agent v3.8.1 , just my jenkins build was failed , i will share the command yaml  results if I install OPA

[2022-06-29 21:42] sozercan commented on #865
This was added in https://github.com/open-policy-agent/gatekeeper/pull/1408

You can use `controllerManager.exemptNamespaces` value in Helm chart.

[2022-06-29 21:42] #865 closed

[2022-06-29 21:43] sozercan commented on #879
This is added to the Helm chart. Please re-open if needed.

[2022-06-29 21:43] #879 closed

[2022-06-29 21:46] sozercan commented on #555
Docs are added in https://open-policy-agent.github.io/gatekeeper/website/docs/developers

[2022-06-29 21:46] #555 closed

[2022-06-29 21:54] sozercan opened #2133 "update audit doc to include apiVersion and group"
**Describe the solution you'd like**
https://open-policy-agent.github.io/gatekeeper/website/docs/audit

we need to update with changes from https://github.com/open-policy-agent/gatekeeper/pull/2098/files

[2022-06-29 21:55] sozercan commented on #898
apiversion and group is added in https://github.com/open-policy-agent/gatekeeper/pull/2098. This will be in the upcoming release

[2022-06-29 21:55] #898 closed

[2022-06-29 21:55] #895 closed

[2022-06-29 22:00] jm890 commented on #2129
@maxsmythe Thanks for the reply.  You're right this is a 3-pod setup, I forgot to mention.  And unfortunately the gatekeeper logs weren't preserved so I can't verify any of those errors.

But I'll look into adding a `status.byPod` check to our verify job.  But just to confirm... it's the status on the ConstraintTemplate itself that will tell me if the resulting CRD has been created/ingested proper

[2022-06-29 22:05] sozercan commented on #931
This is a required permission. Details are available at https://open-policy-agent.github.io/gatekeeper/website/docs/operations

[2022-06-29 22:05] #931 closed

[2022-06-30 00:13] bhops commented on #2117
I’m exploring doing something similar as a workaround for now, except instead of relying on parameters the logic is simply embedded in the policy code. It feels wrong to pass every resource through the policy when we know that it doesn’t apply, hence the desire to set the behaviour via matches.

We could limit the scope of the validation with the existing matches implementation, but then we’re mai

[2022-06-30 02:37] maxsmythe commented on #2117
Yeah, just thinking through the various options.

WRT wanting to audit deprecated API usage... it might be possible to use the `--log-denies` flag and use the pod stdout logs to check for historical usage over time:

https://github.com/open-policy-agent/gatekeeper/blob/c37003615bec42705344e2e4da4e9f10abe6e65a/pkg/webhook/policy.go#L245-L259

[2022-06-30 02:42] maxsmythe commented on #2129
`status.created` on a ConstraintTemplate just says if a CRD has been created.

`status.byPod` is where you'd be able to tell if any pod had an error ingesting the constraint template.

WRT likeliness: I'd imagine that the likelihood is fairly constant over time... probably the controlling concern is the latency between the API server and the Pods, as well as the spread between how long it takes fo

[2022-06-30 10:15] niuzhi opened #2136 "Gatekeeper constrainttemplate and constaint definification yaml"
Hello, I am using dynamicClient in client-go to schedule gatekeeper's constrainttemplate and constraint. I need to use the definition structure of constrainttemplate and constraint. Where is this code? If you have a ready-made struct definition you can provide me, I would be very grateful.

[2022-06-30 10:51] niuzhi opened #2137 "client-go Operation gatekeeper"
Hello, I use dynamicClient in client-go to get constraints, but it always prompts that the resource cannot be found, what is the reason?
![image](https://user-images.githubusercontent.com/33443724/176659840-c948fa36-34f0-4c94-8020-ccdbd402656a.png)

1.my code

var gvrTemplates = schema.GroupVersionResource{
	Group:    "templates.gatekeeper.sh",
	Version:  "v1",
	Resource: "constrainttemplates",
}

[2022-06-30 15:26] #2133 closed

[2022-06-30 16:13] #2128 closed

[2022-06-30 22:28] maxsmythe commented on #2137
The constraints resource for a specific constraint kind is the lowercase of that kind. For instance, for the K8sRequiredLabels constraint, you'd want:

[code]

[2022-06-30 22:29] maxsmythe commented on #2137
To go through all constraints, you'd need to use the discovery client to list all resources in the constraints.gatekeeper.sh group.

[2022-06-30 22:35] maxsmythe commented on #2136
Constraint Template's struct definitions live here:

https://github.com/open-policy-agent/frameworks/tree/master/constraint/pkg/apis/templates

constraints are derived from templates so don't have a golang struct definition. The constraint controller has examples of how constraints can be retrieved/handled using the `unstructured` resource:

https://github.com/open-policy-agent/gatekeeper/blob/ff9

[2022-07-01 06:04] #2137 closed

[2022-07-01 06:05] #2136 closed

[2022-07-01 17:18] sozercan commented on #15
Closing this since we have external data implemented https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata

[2022-07-01 23:12] ritazh opened #2142 "TLS handshake error from: EOF"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Getting the following intermittent errors in the gatekeeper-system logs:

kube-apiserver logs during the same time range do not have equivalent errors.
Everything is functioning. No impact on functionality.

**What did you expect to happen:**
No TLS error in pod logs

**Anything else you would lik

[2022-07-01 23:13] ritazh commented on #2142
The EOF errors might be related to a Go bug and appear on Kubernetes 1.23 and 1.24 see https://github.com/kubernetes/kubernetes/issues/109022

From the issue description, it does not seem like there are any actual functional issues related to these error messages (as the policies are working as expected).
At the moment, there is nothing we can do to fix this, as the error is coming from Kubernetes

[2022-07-01 23:19] ritazh commented on #2142
xref: https://github.com/open-policy-agent/gatekeeper/issues/866#issuecomment-1139356714

[2022-07-04 06:57] sumsumbee commented on #2120
Hey @maxsmythe, I wasn't in the office last week so sorry for the late reply. As to your question, yes I was able to see the violations in the logs for the time they were not shown in the constraints. Please also note that as I checked today the issue is gone without any intervention from our side.

[2022-07-04 07:34] sumsumbee commented on #2120
@maxsmythe I wasn't in the office last week, so sorry for the late reply. Yes I can see the violations in the logs for the same time they are not shown in the constraints.

[2022-07-05 19:40] psaini0212 opened #2145 "Missing Api versions with Helm Chart v3.8.1"
**What steps did you take and what happened:**
I had a cluster which had Gatekeeper deployed via Helm Chart (v3.6.1 - from https://open-policy-agent.github.io/gatekeeper/charts). I did an uninstall of it and then removed the gatekeeper CRDs manually (kubectl delete).

I them updated the helm chart to v3.8.1

and done a helm install again.

This is how the CRDs looks like

[code]

[code]

If I comp

[2022-07-05 19:52] #2145 closed

[2022-07-05 19:54] psaini0212 commented on #2145
Sorry, it seems I got confused, had to deploy another helm chart which had the ConstraintTemplate so it seems that brings it up.

[2022-07-05 20:13] psaini0212 opened #2146 "Gatekeeper v3.8.1 errors - crd already exists + secret is not well-formed"
**What steps did you take and what happened:**

I had a cluster which had Gatekeeper deployed via Helm Chart (v3.6.1 - from https://open-policy-agent.github.io/gatekeeper/charts). I did an uninstall of it and then removed the gatekeeper CRDs manually (kubectl delete).

I them updated the helm chart to v3.8.1

and done a helm install again.

Now I am seeing lot of errors on both audit Pod and contr

[2022-07-06 04:43] amosaini commented on #1135
I was installing Gatekeeper, ConstraintTemplate and Constraint in one go using single kustomization file. I got to know that the ConstraintTemplate has to be applied first before Constraint. Is there any way to install it in one go so that we don't have to document any manual step.?

[2022-07-06 07:03] dili-pk opened #2147 "API version policy/v1beta1 is deprecated and will be unavailable from v1.25+ -- PodSecurityPolicy"
I am deploying the latest version of Gatekeeper(v3.8.1).. I noticed that all the API versions are updated as per the latest Kubernetes standards except for PodSecurityPolicy where the API version is still at policy/v1beta1 and this will be deprecated in K8s v1.25+..
This is the warning we get while deploying gatekeeper to our K8s cluster(v1.22)..

[code]

Is this a miss or do we have any particula

[2022-07-06 07:34] phenixSosRun commented on #1135
For my case , I installed the agent 3.2.2 with the v1beta then constraints v1   , then removed the 3.2.2 and installed the agent 3.8.1 with the costraints v1 , refering to @maxsmythe comment

[2022-07-06 12:40] ram-git-dev opened #2149 "Synchronization bug"
**What steps did you take and what happened:**

Due to synchronization bug, OPA cache is not updated when deleting the Resource Quota. Therefore, when Resource Quota is created and after that deleted, Gatekeeper allows pods to be created without any limitations in that namespace if no other Resource Quota is in place.
Finalizers are used to prevent from accidentally deleting Resource Quotas, but w

[2022-07-06 12:55] RaunakShah commented on #2147
+1 on this. Is there a plan once PSPs are removed from Kubernetes in 1.25?

[2022-07-06 16:24] sozercan commented on #1294
https://github.com/kubernetes-sigs/controller-runtime/pull/802

[2022-07-06 16:26] ritazh commented on #1294
Evaluate https://github.com/kubernetes-sigs/controller-runtime/pull/802 and add a document for what it will take to allow users to configure this for external beta release.

[2022-07-06 16:39] sozercan opened #2150 "link to helm readme in docs"
**Describe the solution you'd like**
we should link to helm readme for documenting values: https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper

[2022-07-06 16:41] maxsmythe commented on #768
This should work now via the `enableDeleteOperations` flag mentioned in the documentation below. Here are:

Docs on how to install via Helm: https://open-policy-agent.github.io/gatekeeper/website/docs/install/

Docs on how to enable validation of delete operations: https://open-policy-agent.github.io/gatekeeper/website/docs/customize-admission/

Helm Chart Doc: https://github.com/open-policy-agent

[2022-07-06 16:41] #768 closed

[2022-07-06 16:42] #890 closed

[2022-07-06 16:51] jm890 commented on #2129
@maxsmythe thanks, I appreciate the help.  I'll close this for now, and reopen if I run into this again despite the new checks.

[2022-07-06 16:51] #2129 closed

[2022-07-06 16:53] maxsmythe commented on #967
We've changed how audit (including audit-from-cache) works as of Gatekeeper 3.8.1, which should have both performance and CPU improvements. If this issue is still salient, can you give the newer version a try and let us know if memory usage has improved?

Please re-open if memory usage has not improved.

[2022-07-06 16:53] #967 closed

[2022-07-06 19:28] psaini0212 opened #2151 "Gatekeeper v3.8.1 calling deprecated APIs"
**What steps did you take and what happened:**

We have deployed gatekeepr Helm Chart (v3.8.1 - from https://open-policy-agent.github.io/gatekeeper/charts).

Our Kubernetes cluster version is v1.21 (GKE)

We are seeing that gatekeeper is calling deprecated APIs which will be removed in v1.22.

Can someone please help what I am missing here.,

Logs -
"HTTP" verb="LIST" URI="/apis/extensions/v1beta1

[2022-07-06 19:40] psaini0212 commented on #2151
@sozercan @maxsmythe Can you please help, Sir?

[2022-07-06 21:46] chewong commented on #1695
@Dentra @developer-guy I have created a template for external data provider at https://github.com/chewong/external-data-provider. Free feel to leave any comments or suggestions in this thread. If everything looks good, I can transfer the ownership to the open-policy-agent GitHub org.

[2022-07-07 04:48] dili-pk commented on #2147
@sozercan .. Thank you for the clarification..
I understand PSP will be removed in Kubernetes v1.25+, so is Gatekeeper going to maintain apiversion "policy/v1beta1" for PSP until then and not update it to "policy/v1?

[2022-07-07 05:51] RaunakShah commented on #2147
@sozercan Thank you for the update!

[2022-07-07 07:32] ram-git-dev commented on #2149
I'm currently using v3.8.1, I'm still seeing this bug. I will wait for v3.9.0 and report back.

[2022-07-07 11:31] geoffo-dev opened #2154 "K8sPSPAllowedUsers Template does not appear to exclude images that match the image string exactly"
**What steps did you take and what happened:**
So I am by no means a guru in this... but hopefully someone can confirm this is a good fix

Attempting to use the K8sPSPAllowedUsers template to exclude certain images to allow them to run as root.

Used the template

https://github.com/open-policy-agent/gatekeeper-library/blob/408222b6c2a8c0587b41130abe406aabb0b7470e/src/pod-security-policy/users/con

[2022-07-07 18:18] sozercan commented on #2147
@dili-pk Because PSP is removed in v1.25+, there's no PSP in `policy/v1` API.

[2022-07-08 00:29] maxsmythe commented on #1672
You could write a constraint template that establishes an "exempt-from-min-replicas" label that can only be set if a deployment is running a designated image.

Multiple containers/sidecars could be an issue here. Also, a malicious user could attempt to bypass policy by including an exempt image along with a malicious image. Since this appears to be more best-practices focused rather than security

[2022-07-08 00:35] maxsmythe commented on #2154
The function is declared twice and has two "modes" depending on whether the exemption ends with a glob (`*`):

https://github.com/open-policy-agent/gatekeeper-library/blob/408222b6c2a8c0587b41130abe406aabb0b7470e/src/pod-security-policy/users/lib_exempt_container.rego#L10-L18

You should get the desired behavior by modifying your constraint like so (I'm assuming that is a fully qualified image and

[2022-07-08 00:37] maxsmythe commented on #2149
If the bug shows up again, we'd need to see:

* The relevant constraint template
* The relevant constraint
* Your sync config
* A resource that you expected to be denied
* steps to reproduce

[2022-07-08 00:45] maxsmythe commented on #2146
Do the audit pod "already exists" errors go away? That could be another pod created the template first (which is an expected situation), which will cause audit to re-reconcile and do nothing. I'd expect to see these errors at most once per-template-per-pod.

The second error may also be transient. If the secret shows a cert and the ValidatingWebhookConfiguration has a registered cert, then it shou

[2022-07-08 00:48] maxsmythe commented on #2120
Thanks for the update! Since things self-healed without intervention, that appears to point to disappearing namespaces as the trigger, unless there is an automated process that would cause namespaces to be created/deleted?

@ritazh @sozercan thoughts on making the reporting more failure-tolerant?

[2022-07-08 01:07] prasanjitshome commented on #1672
@maxsmythe : Thanks for your response. we are tightly controlling the images into k8s environment using automation image signing mechanism, so we know the image source here. Secondly, we have a policy to only allow images to deployed from whitelisted repos only (no exceptions).

The question is only about replica count policy. so you mentione, we can set _"exempt-from-min-replicas" label_ for a sp

[2022-07-08 03:54] dili-pk commented on #2147
@sozercan .. Got it!! Thank you for the clarification..

[2022-07-08 06:40] ritazh commented on #2146
I'm also curious how you uninstalled gatekeeper. If you did `helm uninstall` that should have removed all the resources the helm chart installed, including the gatekeeper CRDs such that you do not need to manually remove them.

[2022-07-08 06:51] ritazh commented on #2147
We should update the helm chart to conditionally deploy the PSPs when k8s version is < 1.25 and add the admission control mode at the namespace level for 1.25+. wdyt?

[2022-07-08 14:38] goran-zobenica commented on #2149
Hi @maxsmythe, here is what we have:
- sync.yaml - sync config file
- template.yaml - constraint template file
- constraint.yaml - constraint file
- resourcequota.yaml -ResourceQuota to be implemented in gatekeeper-testing namespace
- allowed-pod.yaml - pod that should be allowed
- blocked-pod.yaml - pod that should not run because it has no requests set

Resource that we are expecting to be denie

[2022-07-08 21:17] maxsmythe commented on #2149
Thanks for the data!

Does changing the following code in the constraint template help?

`not data.inventory.namespace[requestns]["v1"]["ResourceQuota"]`

to

`missing_resource_quota(requestns)`

and defining a two-part function:

[code]

The reason for this is that removing an object from the cache removes the object itself, it does not attempt to prune empty parent paths, so checking for empty i

[2022-07-08 22:11] maxsmythe commented on #1672
Replica constraint:

[code]

label constraint:

[code]

constraint template:

[code]

Definitely take my Constraint Template with a grain of salt, since I cobbled that together from other templates and wrote other untested Rego code. One known potential issue: it only looks at containers, not initContainers or ephemeral containers.

More the point is that in this second constraint template that is

[2022-07-11 10:38] sumsumbee commented on #2120
@maxsmythe unfortunately the Problem isn't solved and there is no process which automatically creates or deletes namespaces.

[2022-07-11 13:04] mo-saeed opened #2160 "Policy is not denying, only reported as violation in the constraint status"
**What steps did you take and what happened:**

So I installed gatekeeper for the first time and I applied these  successfully:

https://github.com/open-policy-agent/gatekeeper-library/blob/master/library/pod-security-policy/privileged-containers/template.yaml
and
https://github.com/open-policy-agent/gatekeeper-library/blob/master/library/pod-security-policy/privileged-containers/samples/psp-privi

[2022-07-11 15:13] goran-zobenica commented on #2149
Hello @maxsmythe, this helped us.

[2022-07-11 18:49] mo-saeed commented on #2160
looking to the status:

kubectl get k8spspprivilegedcontainer.constraints.gatekeeper.sh/psp-privileged-container -o yaml
[code]
how this can be ?

[2022-07-11 19:16] mo-saeed commented on #2160
Here's the controller args:

[code]
kube-infrastructure is the ns where gate-keeper is installed

[2022-07-11 19:48] chewong commented on #2160
That's the Gatekeeper audit pod writing existing violations to k8spspprivilegedcontainer constraint. Have you tried deleting the nginx pod and deploying it again?

[2022-07-11 23:03] ritazh commented on #2160
since you are seeing the violation in the audit results, my guess would be maybe something is causing the gatekeeper webhook to fail open because the request took too long to process, such that the api server let's the admission request through. can you see if there's any error in the api server audit log?

[2022-07-12 01:21] ritazh commented on #2120
Should we skip appending "Unable to look up object namespace" errors and just log it?

[2022-07-12 16:24] maxsmythe commented on #2160
Usually this is a networking issue, such as a firewall, but seeing the error can help disambiguate.

Easy way to force yourself to see errors calling the validating webhook:

Extend the current webhook configuration to include a new webhook entry that is a copy of the section called:

https://github.com/open-policy-agent/gatekeeper/blob/54905d704f63fe72e575c525cadbe03c7e17433a/deploy/gatekeeper.ya

[2022-07-12 20:34] mccormickt opened #2161 "Processes selector for excludedNamespaces at the Constraint level"
When rolling out policies, it is common to have to exempt some namespaces for each policy you want to roll out.  Once exempted, however, there isn't a good way to look back at what's been exempted and see if it is still violating the policy, and still needs its exception!

[At the config level](https://open-policy-agent.github.io/gatekeeper/website/docs/exempt-namespaces/), we can exempt namespace

[2022-07-12 22:53] sozercan commented on #2161
@mccormickt  does enforcement action fulfill your needs? https://open-policy-agent.github.io/gatekeeper/website/docs/violations/#dry-run-enforcement-action

Policy on a constraint level will bypass admission while still being audited. With warn, you can get an immediate message in addition to audit.

[2022-07-13 00:47] maxsmythe commented on #2120
That sounds reasonable to me.

[2022-07-13 00:47] maxsmythe commented on #2149
glad it helped!

[2022-07-13 06:04] RaunakShah commented on #2147
@ritazh can the admission control be applied at namespace level irrespective of k8s version? I'm wondering what the behaviour will be like once PSPs are removed.
For example, if I'm using 1.24 with gatekeeper, I can still disable the PSP Admission Controller. Does that affect the way gatekeeper is going to function as well?

[2022-07-13 14:46] mo-saeed commented on #2160
@maxsmythe thanks. the word network led me to the issue. so it was mainly a network policy which denies access to gatekeeper.

Thanks all for help!

[2022-07-13 14:46] #2160 closed

[2022-07-13 14:55] mo-saeed opened #2163 "Allow opa to check the docker image USER to see if it runs as non-root"
**Describe the solution you'd like**
we are currently migrating from pod security policies to OPA. some of our images already specified the USER (non-root) in the dockerfile and in this case no need to add security context in the pod.
pod security policy was able to notify of the violation if the USER is non-root or doesn't exist.

how can i achieve this with OPA ?

**Environment:**

- Gatekeeper

[2022-07-13 20:47] maxsmythe commented on #2161
That workaround works and AFAICT is currently the only way of doing what you're asking.

I'm wondering if we need to start labeling feature requests that touch on more dynamic enforcement actions? IIRC there is at least one other issue that potentially touches on the topic.

[2022-07-13 21:12] sozercan commented on #1038
Closing. Feel free to re-open if we need to revisit this.

[2022-07-13 21:12] #1038 closed

[2022-07-13 21:13] #1052 closed

[2022-07-13 21:16] sozercan commented on #1050
Closing for now. Feel free to re-open if there is any more interest in this.

[2022-07-13 21:16] #1050 closed

[2022-07-13 21:23] #1046 closed

[2022-07-13 21:30] sozercan commented on #1131
Username is available through externaldata today: https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata#api

If there's interest, we can add to core mutation to retrieve username

[2022-07-13 21:30] #1131 closed

[2022-07-14 00:26] #2120 closed

[2022-07-14 00:28] ritazh opened #2166 "Add number of audit errors to audit metric"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add number of audit errors to audit metric for the last audit run

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-07-14 00:32] ritazh commented on #2166
How do we feel about adding this:
[code]

[2022-07-14 12:27] hanyhesham commented on #2151
I am facing the same issue:

/apis/extensions/v1beta1/ingresses     gatekeeper/v3.8.1 (linux/amd64) ecf6092

Is there a way to ignore theses calls?, The GKE cluster still see this as waring for automated updated to v1.22.

[2022-07-14 16:44] #1933 closed

[2022-07-15 03:10] tehlers320 commented on #991
Why would cardinality go high?  Wouldn't this latency metric only have which constraint rendered slow?  I dont think the metric would need "what resource" simply "constraint" name.

[2022-07-15 03:28] tehlers320 commented on #1703
I think ours is just processing stuff that doesn't even have a constraint related to it.  I tinkered with admissionwebhook changing it from * to a more explicit list and memory has reduced 500mb per pid. But why is this even processing things that have no rules? I wrote a quick-n-dirty admissionwebhook and its sitting at 100m cpu and 125m memory receiving everything (but doing nothing). So GK must

[2022-07-15 03:52] grosser commented on #1703
Fyi for our setup I added a validation that always makes sure the admission
we hook is in sync with the resources the constraints need so there is no
overhead or unenforced constraints

On Fri, Jul 15, 2022, 10:28 AM Timothy Ehlers ***@***.***>
wrote:

[2022-07-15 05:39] ritazh commented on #1703
we hook is in sync with the resources the constraints need so there is no
overhead or unenforced constraints

Where did you add this validation?

[2022-07-15 06:08] grosser commented on #1703
In our custom code that generates the webhook

On Fri, Jul 15, 2022, 12:39 PM Rita Zhang ***@***.***> wrote:

[2022-07-15 12:23] mo-saeed commented on #2163
@maxsmythe @ritazh Any help here ?

[2022-07-15 14:52] mo-saeed commented on #2163
yes i saw this, but this is not what i want.

it's about the image is running as non-root user defining the USER directive in the dockerfile. and  in this case no need to specify the user in the pod security context. in this case how OPA can detect it ?

[2022-07-15 16:07] ritazh commented on #2163
I see. By default, the Gatekeeper validating webhook evaluates the admission request so unless that information is part of the request (e.g. securityContext is part of the pod spec), we would not be able to create a policy to analyze it. Just thinking out loud here, perhaps [External Data feature](https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata) can be leveraged here if th

[2022-07-15 16:14] paulwilljones opened #2172 "Violations not added to Constraint status"
**What steps did you take and what happened:**

I’m not seeing violations in the `Constraint` status. Violations are logged by the audit Pods, but `status.violations` is missing from the `Constraints`.

[code]

[code]

[code]

**What did you expect to happen:**

violations in the Constraint status, ie.
[code]

**Anything else you would like to add:**
[code]

otherwise installed with helm default v

[2022-07-15 23:40] ritazh commented on #2147
PSA is at the namespace level.
In the case where a k8s version supports both PSP and PSA, gatekeeper could deploy both PSPs and add the PSA labels.

[2022-07-16 01:08] maxsmythe commented on #2166
+1, as long as the metrics are scraped often enough that we get one per run (not a high bar in large clusters)

[2022-07-18 22:06] #1826 closed

[2022-07-20 03:05] tehlers320 commented on #1703
@ritazh

[code]

[code]

[code]

[code]

im not sure if we are super complex.

[2022-07-20 05:27] ritazh commented on #1703
you can see how many constraints (policies) you have with something like this:
`kubectl get constraints | grep gatekeeper.sh | wc -l`

Another thing to evaluate is do all constraints have match kinds? if so, it should only evaluate requests that match those kinds. if no match kind is provided, then all requests could be hitting the constraint and constraint template for evaluation.

e.g. This cons

[2022-07-20 05:34] ritazh opened #2181 "Show opa version badge in main, and each release doc"
Opa upgrade now comes from framework. Can you try latest commit in master? that is referencing framework that’s using opa v0.35 https://github.com/open-policy-agent/frameworks/pull/167/files#diff-45830b37d8fe6cfa6317672df498ec856ff48ffd48cd2537d18337e6281d6618R14

+1 on showing opa version badge in master, and perhaps for each release doc. thoughts?

_Originally posted by @ritazh in https://github

[2022-07-20 16:30] ritazh opened #2182 "Add bot to close stale PRs"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Gatekeeper version:
- Kubernetes version: (use `kubectl version`):

[2022-07-20 16:35] ritazh commented on #809
@mmirecki are you still looking into this?

[2022-07-20 16:37] ritazh commented on #1139
@font @thomasmckay do you have any updates on these? Are you still interested in this?

[2022-07-20 16:53] ritazh commented on #1078
As discussed, this issue is not just for audit, it should be for all processes.

[2022-07-20 16:53] ritazh commented on #1044
Closing this in favor of #1078

[2022-07-20 16:53] #1044 closed

[2022-07-20 17:00] chewong commented on #1695
We have transferred the template repository to open-policy-agent (https://github.com/open-policy-agent/gatekeeper-external-data-provider) 🍾

[2022-07-20 17:00] #1695 closed

[2022-07-20 22:28] jorgyp commented on #2147
Although, k8s v1.25 is when v1beta1 officially gets deprecrated, GKE managed k8s cluster already hightlight/mention GCP cannot guarantee pod stability if workloads leverage older v1beta1 apiVersion in GKE v1.22+. Hopefully, this can be prioritized in case the instability causes breaks when running v1beta1 apiVersion on GKE 1.22.

[2022-07-21 07:58] inboxamitraj opened #2184 "OOMKilled - gatekeeper:v3.8.1 controller manager pods"
**What steps did you take and what happened:**
[we are experiencing high memory utilisation(>5GB) by controller manager pods in our cluster. Currently we have limit set to 5GB and pods frequently fails with OOMKilled errors at least twice or thrice a day, there are mulitple restart of controller manager pods as well. we have around 28 constraint Templates and around 100 constraints.

$ kubectl get

[2022-07-22 00:23] #1139 closed

[2022-07-22 18:14] Boojapho opened #2185 "Helm chart setting for disabling PSP leaves PSP role"
**What steps did you take and what happened:**
In the Helm chart, when `psp.enabled: false` is set, the `ClusterRole` for `gatekeeper-manager` still contains use of the removed PSP.

**What did you expect to happen:**
No remnants of the PSP when `psp.enabled: false` is set

**Anything else you would like to add:**

**Environment:**

- Gatekeeper version: 3.8.1
- Kubernetes version: (use `kubectl v

[2022-07-22 18:23] Boojapho opened #2186 "Helm - default to PodDisruptionBudget v1 when running helm template"
**Describe the solution you'd like**
If you run `helm template chart`, I'd like the `PodDisruptionBudget` to default to `v1` of the API.  This helps with static analysis (e.g. linting) tools may flag deprecated APIs.  Currently, `v1beta1` is the default.

**Anything else you would like to add:**
The Helm template should use `.Capabilities.APIVersion.Has` for both `policy/v1` and `policy/v1beta1`.

[2022-07-22 23:40] jvossler-cogility opened #2188 "Using only helm manifest files to install gatekeeper on EKS"
The shop I am with now does not allow direct use of helm commands for deploying any software. The other packages I have worked with clone the repo then go into ../charts/ then run a "helm template <software name>" to generate the manifest files.  These manifest files are what we keep in source control (github) for deployments. Then for testing we simply "kubectl apply -f <location of the manifest

[2022-07-23 02:17] kahirokunn commented on #1646
Don't close

[2022-07-23 02:57] maxsmythe commented on #1909
This is being addressed in #2062

[2022-07-23 03:12] maxsmythe commented on #2188
Helm is weird with installing/upgrading CRDs, requiring side processes. I'm not sure how this relates to generating static manifests.

You can grab the static manifest at https://github.com/open-policy-agent/gatekeeper/blob/master/deploy/gatekeeper.yaml to get a basic install.

If you want to use Helm to generate a customized manifest, you could then compare the resultant manifest with the static